<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<style th:replace="theme-fragments.html :: search_form"></style>
<style>
    #subBoardSort, #postTitleSub{
        display: none;
    }
</style>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='manager')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">

            <div class="lg:flex  lg:space-x-12">

                <div class="lg:w-3/4 mb-3">
                    <div class="flex justify-between relative md:mb-4 mb-3">
                        <div class="flex-1">
                            <h2 class="text-2xl font-semibold"> 매니저 </h2>
                            <nav class="responsive-nav md:m-0 -mx-4">
                                <ul>
                                    <li th:classappend="${type == 'board'}? active">
                                        <a th:href="@{/manager/board}" class="lg:px-2"> 게시판 </a>
                                    </li>
                                    <li th:classappend="${type == 'reply'}? active">
                                        <a th:href="@{/manager/reply}" class="lg:px-2"> 댓글 </a>
                                    </li>
                                    <li th:classappend="${type == 'inquire'}? active">
                                        <a th:href="@{/manager/inquire}" class="lg:px-2"> 문의 </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div>
                        <th:block th:if="${deleteMessage}">
                            <div th:replace="theme-fragments.html :: blue-notice(message=${deleteMessage})" class="mb-4"></div>
                        </th:block>
                        <div th:if="${account.getAccountType.ROLE_ADMIN}">

                        </div>
                        <th:block th:if="${type == 'board'}">
                            <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="board : ${boardReportedLists}">
                                <div class="lg:flex lg:space-x-6 py-3">
                                    <div class="flex-1 lg:pt-0">
                                        <th:block th:if="${board.boardTitle=='자유'}">
                                            <div class="float-left bg-blue-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-blue-500" th:text="${board.boardTitle}"></div>
                                        </th:block>
                                        <th:block th:if="${board.boardTitle=='정보'}">
                                            <div class="float-left bg-purple-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-purple-500" th:text="${board.boardTitle}"></div>
                                        </th:block>
                                        <th:block th:if="${board.boardTitle=='질문'}">
                                            <div class="float-left bg-yellow-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-yellow-500" th:text="${board.boardTitle}"></div>
                                        </th:block>
                                        <a th:href="@{/manager/board/detail/{boardId}(boardId = ${board.bid})}" class="pl-2 text-lg font-semibold line-clamp-1" th:text="${board.title}"></a>
                                        <div class="flex items-center pt-2">
                                            <div class="flex items-center">
                                                <ion-icon name="time-outline" class="mr-2"></ion-icon>
                                                <a class="text-xs" th:text="${account.dateTime(board.getCreateDate)}"></a>
                                            </div>
                                            <div class="flex items-center mx-4 align-middle">
                                                <ion-icon name="heart-outline" class="mr-2"></ion-icon>
                                                <a class="text-xs" th:text="${board.likesList.size()}"></a>
                                            </div>
                                            <div class="flex items-center">
                                                <ion-icon name="chatbubble-ellipses-outline"  class="mr-2"></ion-icon>
                                                <a class="text-xs" th:text="${board.replyList.size()}"></a>
                                                <th:block th:if="${board.replyList.size()!=0}">
                                                    <div class="-space-x-2 flex items-center ml-1">
                                                        <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                            <img th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                 th:data-id="${topReply.getAccount().studentId}" style="width: 1.75rem; height: 1.75rem;"
                                                                 alt="" class="identicon border-2 border-white rounded-full w-7 is_avatar">
                                                            <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                 th:src="${topReply.getAccount()?.profileImage}" style="width: 1.75rem; height: 1.75rem;"
                                                                 alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                        </div>
                                                    </div>
                                                </th:block>

                                            </div>
                                            <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div th:if="${boardReportedLists.totalPages != 0}" class="justify-center flex">
                                    <nav aria-label="Page navigation"
                                         th:with="start=${(boardReportedLists.number/5)*5 + 1},
                                         end=(${(boardReportedLists.totalPages == 0) ? 1 : (start + 4 < boardReportedLists.totalPages ? start + 4 : boardReportedLists.totalPages)})">
                                        <ul class="inline-flex space-x-2">
                                            <li th:if="${start > 1}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${start - 2})}">
                                                    <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                            <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </li>
                                            <li th:each="page : ${#numbers.sequence(start, end)}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${page - 1})}">
                                                    <button th:classappend="${page == pageNo + 1} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                                            class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                                            th:text="${page}">
                                                    </button>
                                                </a>
                                            </li>
                                            <li th:if="${end < boardReportedLists.totalPages}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${start + 4})}">
                                                    <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                            <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${type == 'reply'}">
                            <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="reply : ${replyReportedLists}">
                                <div class="lg:flex lg:space-x-6 py-3">
                                    <div class="flex-1 lg:pt-0">
                                        <th:block th:if="${reply.market!=null}">
                                            <div class="float-left bg-blue-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-blue-500">장터</div>
                                        </th:block>
                                        <th:block th:if="${reply.board!=null}">
                                            <div class="float-left bg-purple-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-purple-500">게시글</div>
                                        </th:block>
                                        <th:block th:if="${reply.council!=null}">
                                            <div class="float-left bg-yellow-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-yellow-500">학생회</div>
                                        </th:block>
                                        <a th:href="@{/manager/board/detail/{boardId}(boardId = ${reply.rid})}" class="pl-2 text-lg font-semibold line-clamp-1" th:text="${reply.content}"></a>
                                        <div class="flex items-center pt-2">
                                            <div class="flex items-center">
                                                <ion-icon name="time-outline" class="mr-2"></ion-icon>
                                                <a class="text-xs" th:text="${account.dateTime(reply.uploadTime)}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div th:if="${replyReportedLists.totalPages != 0}" class="justify-center flex">
                                    <nav aria-label="Page navigation"
                                         th:with="start=${(replyReportedLists.number/5)*5 + 1},
                                         end=(${(replyReportedLists.totalPages == 0) ? 1 : (start + 4 < replyReportedLists.totalPages ? start + 4 : replyReportedLists.totalPages)})">
                                        <ul class="inline-flex space-x-2">
                                            <li th:if="${start > 1}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${start - 2})}">
                                                    <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                            <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </li>
                                            <li th:each="page : ${#numbers.sequence(start, end)}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${page - 1})}">
                                                    <button th:classappend="${page == pageNo + 1} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                                            class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                                            th:text="${page}">
                                                    </button>
                                                </a>
                                            </li>
                                            <li th:if="${end < replyReportedLists.totalPages}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${start + 4})}">
                                                    <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                            <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${type == 'inquire'}">
                            <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="inquire : ${inquireAnswerLists}">
                                <div class="lg:flex lg:space-x-6 py-3">
                                    <div class="flex-1 lg:pt-0">
                                        <div class="float-left bg-yellow-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-yellow-500">문의</div>
                                        <a th:href="@{/info/contact/detail/{inquireId}(inquireId = ${inquire.id})}" class="pl-2 text-lg font-semibold line-clamp-1" th:text="${inquire.title}"></a>
                                        <div class="flex items-center pt-2">
                                            <div class="flex items-center">
                                                <ion-icon name="time-outline" class="mr-2"></ion-icon>
                                                <a class="text-xs" th:text="${account.dateTime(inquire.uploadTime)}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div th:if="${inquireAnswerLists.totalPages != 0}" class="justify-center flex">
                                    <nav aria-label="Page navigation"
                                         th:with="start=${(inquireAnswerLists.number/5)*5 + 1},
                                         end=(${(inquireAnswerLists.totalPages == 0) ? 1 : (start + 4 < inquireAnswerLists.totalPages ? start + 4 : inquireAnswerLists.totalPages)})">
                                        <ul class="inline-flex space-x-2">
                                            <li th:if="${start > 1}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${start - 2})}">
                                                    <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                            <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </li>
                                            <li th:each="page : ${#numbers.sequence(start, end)}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${page - 1})}">
                                                    <button th:classappend="${page == pageNo + 1} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                                            class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                                            th:text="${page}">
                                                    </button>
                                                </a>
                                            </li>
                                            <li th:if="${end < inquireAnswerLists.totalPages}">
                                                <a th:href="@{'/board/' + ${type} + '/' (page=${start + 4})}">
                                                    <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                            <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script th:replace="theme-fragments.html :: form-validation"></script>

</body>
</html>