<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>




<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <th:block th:if="${searchType}">
                <div>
                    <h3 class="text-2xl font-semibold"><a th:text="${searchType}" class="font-bold"></a>내 <a th:text="${keyword}" class="font-bold"></a> 검색 결과</h3>
                </div>
            </th:block>
            <th:block th:if="${searchType==null}">
                <div>
                    <a class="text-2xl font-semibold">검색어를 입력해주세요.</a>
                </div>
            </th:block>
            <th:block th:if="${result}">
                <th:block th:if="${result.isEmpty()}">
                    <div class="text-center">
                        <div class="mx-auto mt-10 text-2xl">검색된 결과가 없습니다.</div>
                    </div>
                </th:block>
                <th:block th:if="${searchType.equals('커뮤니티')}">
                    <th:block th:if="${result.size() != 0}">
                        <p class="text-lg my-2">총 <a th:text="${result.size()}" class="font-bold"></a>건 검색</p>
                    </th:block>
                    <br>
                    <div th:each="search_result : ${result}">
                        <div class="divide-y -mt-3 card px-5 py-2 mb-7">
                            <div class="flex sm:flex-row flex-col sm:space-x-4 py-4 relative w-full">
                                <div class="flex-1 relative md:mt-0">
                                    <a class="text-xl font-semibold leading-6 line-clamp-1" th:href="@{/board/detail/{bid}(bid=${search_result.key})}" th:text="${search_result.value}">제목</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${searchType.equals('스터디')}">
                    <th:block th:if="${result.size() != 0}">
                        <p class="text-lg my-2">총 <a th:text="${result.size()}" class="font-bold"></a>건 검색</p>
                    </th:block>
                    <br>
                    <div th:each="search_result : ${result}">
                        <div class="divide-y -mt-3 card px-5 py-2 mb-7">
                            <div class="flex sm:flex-row flex-col sm:space-x-4 py-4 relative w-full">
                                <div class="flex-1 relative md:mt-0">
                                    <a class="text-xl font-semibold leading-6 line-clamp-1" th:href="@{/study/{path}(path=${search_result.key})}"  th:text="${search_result.value}">제목</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${searchType.equals('장터')}">
                    <th:block th:if="${result.size() != 0}">
                        <p class="text-lg my-2">총 <a th:text="${result.size()}" class="font-bold"></a>건 검색</p>
                    </th:block>
                    <br>
                    <div th:each="search_result : ${result}">
                        <div class="divide-y -mt-3 card px-5 py-2 mb-7">
                            <div class="flex sm:flex-row flex-col sm:space-x-4 py-4 relative w-full">
                                <div class="flex-1 relative md:mt-0">
                                    <a class="text-xl font-semibold leading-6 line-clamp-1" th:href="@{/market/{mid}(mid=${search_result.key})}"  th:text="${search_result.value}">제목</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${searchType.equals('학생회')}">
                    <th:block th:if="${result.size() != 0}">
                        <p class="text-lg my-2">총 <a th:text="${result.size()}" class="font-bold"></a>건 검색</p>
                    </th:block>
                    <div th:each="search_result : ${result}">
                        <div class="divide-y -mt-3 card px-5 py-2 mb-7">
                            <div class="flex sm:flex-row flex-col sm:space-x-4 py-4 relative w-full">
                                <div class="flex-1 relative md:mt-0">
                                    <a class="text-xl font-semibold leading-6 line-clamp-1" th:href="@{/council/detail/{cid}(cid=${search_result.key})}"  th:text="${search_result.value}">제목</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>

</div>

<script th:replace="theme-fragments.html :: form-validation"></script>
<script type="application/javascript">
    $( document ).ready( function() {

    });
</script>

</body>
</html>