<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>
<style>
    .card{
        height: 80px;
    }
    .fromNow{
        line-height: 28px;
    }
</style>
<body>
<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: checked-email"></div>

            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4 ">
                <div class="lg:w-1/3">
                    <nav class="responsive-nav setting-nav setting-menu">
                        <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                            <li>
                                <div class="form_refresh_study">
                                    <a href="#" class="hover:bg-gray-100">스터디 <span th:text="${newMeetingAlarms.size() + newStudyAlarms.size()}"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="form_refresh_reply">
                                    <a href="#" class="hover:bg-gray-100">댓글 <span th:text="${newMeetingsReplyAlarms.size() + newBoardReplyAlarms.size() + newMarketReplyAlarms.size()}"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="form_refresh_like">
                                    <a href="#" class="hover:bg-gray-100">좋아요<span th:text="${newLikesAlarms.size()}"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="form_refresh_checked">
                                    <a href="#" class="hover:bg-gray-100 ">읽은 알림 <span th:text="${byChecked.size()}"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="lg:w-2/3">
                    <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab">
                        <!-- 스터디 -->
                        <div>
                            <h5 class="px-5 font-bold" th:text="'스터디 생성 알림 ('+ ${newStudyAlarms.size()}+')'">새로운 스터디 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newStudyAlarms})"></div>
                            <h5 class="px-5 font-bold" th:text="'모임 생성 알림 ('+ ${newMeetingAlarms.size()}+')'">새로운 모임 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newMeetingAlarms})"></div>
                        </div>

                        <!-- 댓글 -->
                        <div>
                            <h5 class="px-5 font-bold" th:text="'모임 댓글 알림 ('+ ${newMeetingsReplyAlarms.size()}+')'">새로운 모임 댓글 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newMeetingsReplyAlarms})"></div>
                            <h5 class="px-5 font-bold" th:text="'커뮤니티 댓글 알림 ('+ ${newBoardReplyAlarms.size()}+')'">새로운 커뮤니티 댓글 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newBoardReplyAlarms})"></div>
                            <h5 class="px-5 font-bold" th:text="'장터 댓글 알림 ('+ ${newMarketReplyAlarms.size()}+')'">새로운 장터 댓글 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newMarketReplyAlarms})"></div>
                        </div>

                        <!-- 좋아요 -->
                        <div>
                            <h5 class="px-5 font-bold" th:text="'좋아요 알림 ('+ ${newLikesAlarms.size()}+')'">새로운 좋아요알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newLikesAlarms})"></div>
                        </div>

                        <!-- 읽은 알림 -->
                        <div>
                            <div id="isUpdatedForm">
                                <div id="isUpdated"></div>
                            </div>
                            <div class="form_refresh">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="px-5 font-bold" th:text="'읽은 알림 ('+ ${byChecked.size()}+')'">새로운 모임 알림</h5>
                                    <span class="btn text-sm bg-red-600 mx-5 text-white"
                                            onclick="alarmDelete()">읽은 알림 삭제</span>
                                    <form onsubmit="return false" class="d-none" id="alarm_reply_delete">
                                        <input type="hidden" th:value="${byChecked.size()}" id=alarm_delete name="alarm_delete" readonly>
                                    </form>
                                </div>
                                <div th:replace="theme-fragments :: alarm-list(type=${byChecked})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function alarmDelete() {
        var input = document.getElementById("alarm_delete");

        console.log(input.value);
        if(input.value == 0){
            swal("읽은 알람이 존재하지 않습니다.", "", "error");
        }else{
            swal({
                title: "읽은 알림들을 삭제하시겠습니까?",
                text: "삭제된 알림은 복구할 수 없습니다.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    console.log("willdelete");
                    $.ajax({
                        url: '/alarm/deleteAll',
                        type: 'GET',
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        success: function (message) {
                            $('.form_refresh').load(location.href+' .form_refresh');
                            $('.form_refresh_checked').load(location.href+' .form_refresh_checked');
                            $('.form_refresh_study').load(location.href+' .form_refresh_study');
                            $('.form_refresh_reply').load(location.href+' .form_refresh_reply');
                            $('.form_refresh_like').load(location.href+' .form_refresh_like');
                            $("#isUpdatedForm").html('<div id="isUpdated"></div>');
                            $("#isUpdated").replaceWith(message);
                        },
                        error : swal("알림 삭제에 실패했습니다. 잠시 뒤 다시 시도해주세요")
                    })
                    swal("알림이 삭제되었습니다.", {
                        icon: "success",
                    });
                });
        }

    }

</script>
</body>

</html>
