<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>
<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4 ">
                <div class="lg:w-1/3">
                    <nav class="responsive-nav setting-nav setting-menu ">
                        <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                            <li>
                                <a href="#" class="hover:bg-gray-100">
                                    스터디
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:bg-gray-100">
                                    댓글
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:bg-gray-100">
                                    좋아요
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:bg-gray-100">
                                    읽은 알림
                                </a>
                            </li>
                            <li>
                                <a th:href="@{alarm}" class="hover:bg-gray-100">
                                    읽은 알림 삭제
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="lg:w-2/3">
                    <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab">
                        <!-- 스터디 -->
                        <div>
                            <h5 class="px-5" th:text="'스터디 생성 알림 ('+ ${newStudyAlarms.size()}+')'">새로운 모임 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newStudyAlarms})"></div>
                            <h5 class="px-5" th:text="'모임 생성 알림 ('+ ${newMeetingAlarms.size()}+')'">새로운 모임 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newMeetingAlarms})"></div>
                        </div>

                        <!-- 모임 댓글 -->
                        <div>
                            <h5 class="px-5" th:text="'모임 댓글 알림 ('+ ${newMeetingsReplyAlarms.size()}+')'">새로운 모임 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${newMeetingsReplyAlarms})"></div>
                        </div>

                        <!-- 좋아요 -->
                        <div>
                        </div>

                        <!-- 읽은 알림 -->
                        <div>
                            <h5 class="px-5" th:text="'읽은 댓글'+ ${byChecked.size()}+')'">새로운 모임 알림</h5>
                            <div th:replace="theme-fragments :: alarm-list(type=${byChecked})"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
