<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<style>
    #eventDatePick{
        display: none;
    }
</style>
<body>




<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='bookmark')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: checked-email"></div>

            <div class="flex justify-between relative md:mb-4 mb-3">
                <div class="flex-1">
                    <h2 class="text-2xl font-semibold"> 북마크 </h2>
                </div>
            </div>
            <div id="blk_div">
                <div class="relative" uk-slider="finite: true">
                    <div class="uk-slider-container px-4 py-3">
                        <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-grid-small uk-grid">
                            <li th:each="bookmark : ${userBookmarks}">
                                <!-- 마켓 -->
                                <div th:if="${bookmark.getMarket() != null}" th:with="market = ${bookmark.getMarket()}" class="card">
                                    <div class="card-media h-32">
                                        <div class="card-media-overly"></div>
                                        <th:block th:if="${market.getImageList().size()==0}">
                                            <img th:src="@{../static/images/default-image.png}" alt="" class="">
                                        </th:block>
                                        <th:block th:if="${market.getImageList().size()!=0}">
                                            <img th:src="${market.getImageList().get(0).imagePath}" alt="" class="">
                                        </th:block>
                                        <div class="absolute bg-blue-100 font-semibold px-2.5 py-1 rounded-full text-blue-500 text-xs top-2.5 left-2.5">장터</div>
                                    </div>
                                    <div class="card-body">
                                        <th:block th:if="${market.marketItemStatus.equals(market.marketItemStatus.SELLING)}">
                                            <div class="text-xs uppercase text-blue-500 font-semibold"> 판매중 </div>
                                        </th:block>
                                        <th:block th:if="${market.marketItemStatus.equals(market.marketItemStatus.SHARE)}">
                                            <div class="text-xs uppercase text-blue-500 font-semibold"> 나눔 </div>
                                        </th:block>
                                        <th:block th:if="${market.marketItemStatus.equals(market.marketItemStatus.PURCHASE)}">
                                            <div class="text-xs uppercase text-blue-500 font-semibold"> 구매 </div>
                                        </th:block>
                                        <th:block th:if="${market.marketItemStatus.equals(market.marketItemStatus.SOLDOUT)}">
                                            <div class="text-xs uppercase text-red-500 font-semibold"> 판매완료 </div>
                                        </th:block>
                                        <th:block th:if="${market.marketItemStatus.equals(market.marketItemStatus.COMPLETESHARE)}">
                                            <div class="text-xs uppercase text-red-500 font-semibold"> 나눔완료 </div>
                                        </th:block>
                                        <th:block th:if="${market.marketItemStatus.equals(market.marketItemStatus.COMPLETEPURCHASE)}">
                                            <div class="text-xs uppercase text-red-500 font-semibold"> 구매완료 </div>
                                        </th:block>
                                        <a th:href="@{/market/detail/{marketId}(marketId = ${market.getMarketId()})}" class="box-title mb-1" th:text="${market.getItemName()}">제목</a>
                                        <div class="text-sm font-medium mt-1">
                                            <a th:href="@{/profile/{nickname}/view(nickname = ${market.getSeller().getNickname()})}" th:text="${market.getSeller().getNickname()}"></a>
                                        </div>

                                        <div class="flex items-center space-x-2 text-sm text-gray-500 capitalize mt-2">
                                            <div><ion-icon name="bookmark-outline" class="mr-2"></ion-icon><span th:text="${market.getBookmarkList().size()}"></span></div>
                                            <div>·</div>
                                            <div><ion-icon name="chatbubble-ellipses-outline" class="mr-2"></ion-icon><span th:text="${market.getReplyList().size()}"></span></div>
                                        </div>

                                        <div class="flex mt-2 space-x-2 text-sm">
                                            <form th:id="|bookmarkCancelMarket${market.marketId}|">
                                                <input type="hidden" id="postId" name="postId" th:value="${market.getMarketId()}"/>
                                                <input type="hidden" id="postSort" name="postSort" value="market"/>
                                            </form>
                                            <a href="#" th:onclick="|deleteBookmarkBtn.deleteBookmark(${market.marketId}, 'market')|"
                                               class="bookmark_click bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id="bookmarkDelBtn"
                                                     class="w-5 mr-1.5">
                                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                                </svg> 북마크 취소
                                            </a>
                                            <button href="#" class="bg-gray-200 flex h-8 items-center px-3 rounded-md" data-clipboard-text="카피하고 싶은 텍스트">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <!-- 커뮤니티 -->
                                <div th:if="${bookmark.getBoard() != null}" th:with="board = ${bookmark.getBoard()}" class="card">
                                    <div class="card-media h-32">
                                        <div class="card-media-overly"></div>
                                        <th:block th:if="${board.getImageList().size()==0}">
                                            <img th:src="@{../static/images/default-image.png}" alt="" class="">
                                        </th:block>
                                        <th:block th:if="${board.getImageList().size()!=0}">
                                            <img th:src="${board.getImageList().get(0).imagePath}" alt="" class="">
                                        </th:block>
                                        <div class="absolute bg-yellow-100 font-semibold px-2.5 py-1 rounded-full text-yellow-500 text-xs top-2.5 left-2.5">커뮤니티</div>
                                    </div>
                                    <div class="card-body">
                                        <div th:if="${board.getBoardTitle().equals('자유')}">
                                            <div class="text-xs uppercase text-blue-500 font-semibold">자유</div>
                                        </div>
                                        <div th:if="${board.getBoardTitle().equals('정보')}">
                                            <div class="text-xs uppercase text-purple-500 font-semibold">정보</div>
                                        </div>
                                        <div th:if="${board.getBoardTitle().equals('질문')}">
                                            <div class="text-xs uppercase text-yellow-500 font-semibold">질문</div>
                                        </div>
                                        <a th:href="@{/board/detail/{bid}(bid = ${board.getBid()})}"
                                           class="box-title  mb-1" th:text="${board.getTitle()}"></a>
                                        <div class="text-sm font-medium mt-1">
                                            <a th:href="@{/profile/{nickname}/view(nickname = ${board.getWriter().getNickname()})}" th:text="${board.getWriter().getNickname()}"></a>
                                        </div>

                                        <div class="flex items-center space-x-2 text-sm text-gray-500 capitalize mt-2">
                                            <div><ion-icon name="heart-outline" class="mr-2"></ion-icon><span th:text="${board.getLikesList().size()}"></span></div>
                                            <div>·</div>
                                            <div><ion-icon name="chatbubble-ellipses-outline" class="mr-2"></ion-icon><span th:text="${board.getReplyList().size()}"></span></div>
                                        </div>

                                        <div class="flex mt-2 space-x-2 text-sm">
                                            <form th:id="|bookmarkCancelBoard${board.bid}|">
                                                <input type="hidden" id="postId" name="postId" th:value="${board.bid}"/>
                                                <input type="hidden" id="postSort" name="postSort" value="board"/>
                                            </form>
                                            <a href="#" th:onclick="|deleteBookmarkBtn.deleteBookmark(${board.bid}, 'board')|"
                                               class="bookmark_click bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id="bookmarkDelBtn"
                                                     class="w-5 mr-1.5">
                                                    <path
                                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                                북마크 취소
                                            </a>
                                            <button class="bg-gray-200 flex h-8 items-center px-3 rounded-md clipboard-btn" th:data-clipboard-text="|unect.cf/board/detail/${board.bid}|" onclick="clipboardSave()">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <!-- 학생회 -->
                                <div th:if="${bookmark.getCouncil() != null}" th:with="council = ${bookmark.getCouncil()}" class="card">
                                    <div class="card-media h-32">
                                        <div class="card-media-overly"></div>
                                        <th:block th:if="${council.getImageList().size()==0}">
                                            <img th:src="@{../static/images/default-image.png}" alt="" class="">
                                        </th:block>
                                        <th:block th:if="${council.getImageList().size()!=0}">
                                            <img th:src="${council.getImageList().get(0).imagePath}" alt="" class="">
                                        </th:block>
                                        <div class="absolute bg-red-100 font-semibold px-2.5 py-1 rounded-full text-red-500 text-xs top-2.5 left-2.5">학생회</div>
                                    </div>
                                    <div class="card-body">
                                        <div th:if="${council.getPostSort().equals('공지')}">
                                            <div class="text-xs uppercase text-blue-500 font-semibold">공지</div>
                                        </div>
                                        <div th:if="${council.getPostSort().equals('행사')}">
                                            <div class="text-xs uppercase text-purple-500 font-semibold">행사</div>
                                        </div>
                                        <a th:href="@{/council/detail/{cid}(cid = ${council.getCid()})}" class="box-title  mb-1" th:text="${council.getPostTitle()}"></a>
                                        <div class="text-sm font-medium mt-1">
                                            <a th:href="@{/profile/{nickname}/view(nickname = ${council.getPostWriter().getNickname()})}" th:text="${council.getPostWriter().getNickname()}"></a>
                                        </div>

                                        <div class="flex items-center space-x-2 text-sm text-gray-500 capitalize mt-2">
                                            <div><ion-icon name="heart-outline" class="mr-2"></ion-icon><span th:text="${council.getLikesList().size()}"></span></div>
                                            <div>·</div>
                                            <div><ion-icon name="chatbubble-ellipses-outline"  class="mr-2"></ion-icon><span th:text="${council.getReplyList().size()}"></span></div>
                                        </div>

                                        <div class="flex mt-2 space-x-2 text-sm">
                                            <form th:id="|bookmarkCancelCouncil${council.cid}|">
                                                <input type="hidden" id="postId" name="postId" th:value="${council.getCid()}"/>
                                                <input type="hidden" id="postSort" name="postSort" value="council"/>
                                            </form>
                                            <a href="#" th:onclick="|deleteBookmarkBtn.deleteBookmark(${council.cid}, 'council')|"
                                               class="bookmark_click bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id="bookmarkDelBtn"
                                                     class="w-5 mr-1.5">
                                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                                북마크 취소
                                            </a>
                                            <button class="bg-gray-200 flex h-8 items-center px-3 rounded-md" data-clipboard-text="카피하고 싶은 텍스트">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <!-- 스터디 -->
                                <div th:if="${bookmark.getStudy() != null}" th:with="study = ${bookmark.getStudy()}" class="card">
                                    <div class="card-media h-32">
                                        <div class="card-media-overly"></div>
                                        <th:block th:if="${study.getImage().isEmpty()}">
                                            <img th:src="@{../static/images/default-image.png}" alt="" class="">
                                        </th:block>
                                        <th:block th:if="${!study.getImage().isEmpty()}">
                                            <img th:src="${study.getImage()}" alt="" class="">
                                        </th:block>
                                        <div class="absolute bg-green-100 font-semibold px-2.5 py-1 rounded-full text-green-500 text-xs top-2.5 left-2.5">스터디</div>
                                    </div>
                                    <div class="card-body">
                                        <!--<div th:if="${board.getBoardTitle().equals('자유')}">
                                            <div class="text-xs uppercase text-blue-500 font-semibold">모집중</div>
                                        </div>
                                        <div th:if="${board.getBoardTitle().equals('정보')}">
                                            <div class="text-xs uppercase text-purple-500 font-semibold">모집종료</div>
                                        </div>
                                        <div th:if="${board.getBoardTitle().equals('질문')}">
                                            <div class="text-xs uppercase text-yellow-500 font-semibold">스터디 종료</div>
                                        </div>-->
                                        <a th:href="@{/study/{path}(path = ${study.getPath()})}" class="box-title  mb-1" th:text="${study.getTitle()}"></a>
                                        <div class="text-sm font-medium mt-1">
                                            작성자
                                        </div>

                                        <div class="flex items-center space-x-2 text-sm text-gray-500 capitalize mt-2">
                                            <div><ion-icon name="bookmark-outline" class="mr-2"></ion-icon><span th:text="${study.getBookmarkList().size()}"></span></div>
                                            <div>·</div>
                                            <div><ion-icon name="people-outline" class="mr-2"></ion-icon><span th:text="${study.memberCount}"></span></div>
                                        </div>

                                        <div class="flex mt-2 space-x-2 text-sm">
                                            <form th:id="|bookmarkCancelStudy${study.id}|">
                                                <input type="hidden" id="postId" name="postId" th:value="${study.getId()}"/>
                                                <input type="hidden" id="postSort" name="postSort" value="study"/>
                                            </form>
                                            <a href="#" th:onclick="|deleteBookmarkBtn.deleteBookmark(${study.id}, 'study')|"
                                               class="bookmark_click bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id="bookmarkDelBtn"
                                                     class="w-5 mr-1.5">
                                                    <path
                                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                                북마크 취소
                                            </a>
                                            <button href="#" class="bg-gray-200 flex h-8 items-center px-3 rounded-md" data-clipboard-text="카피하고 싶은 텍스트">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <!--<li>
                                <div class="card">
                                    <div class="card-media h-32">
                                        <div class="card-media-overly"></div>
                                        <img src="assets/images/events/img-4.jpg" alt="" class="">
                                        <div
                                                class="absolute bg-blue-100 font-semibold px-2.5 py-1 rounded-full text-blue-500 text-xs top-2.5 left-2.5">
                                            Upcomming</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-xs uppercase text-blue-500 font-semibold">Uk brands</div>
                                        <a href="timeline-event.html" class="box-title  mb-1"> Safety and Flight </a>
                                        <div class="text-sm font-medium mt-1">London</div>

                                        <div class="flex items-center space-x-2 text-sm text-gray-500 capitalize">
                                            <div> 15 intersted</div>
                                            <div>·</div>
                                            <div> 2 going </div>
                                        </div>

                                        <div class="flex mt-2 space-x-2 text-sm">
                                            <a href="#"
                                               class="bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                                     class="w-5 mr-1.5">
                                                    <path
                                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                                intersted
                                            </a>
                                            <a href="#" class="bg-gray-200 flex h-8 items-center px-3 rounded-md">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-media h-32">
                                        <div class="card-media-overly"></div>
                                        <img src="assets/images/events/img-2.jpg" alt="" class="">
                                    </div>
                                    <div class="card-body">
                                        <div class="text-xs uppercase text-green-500 font-semibold">Conference </div>
                                        <a href="timeline-event.html" class="box-title mb-1"> Accept Who I Am</a>
                                        <div class="text-sm font-medium mt-1">Dubai</div>

                                        <div class="flex items-center space-x-2 text-sm text-gray-500 capitalize">
                                            <div> 15 intersted</div>
                                            <div>·</div>
                                            <div> 2 going </div>
                                        </div>

                                        <div class="flex mt-2 space-x-2 text-sm">
                                            <a href="#"
                                               class="bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                                     class="w-5 mr-1.5">
                                                    <path
                                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                                intersted
                                            </a>
                                            <a href="#" class="bg-gray-200 flex h-8 items-center px-3 rounded-md">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-media h-32">
                                        <div class="card-media-overly"></div>
                                        <img src="assets/images/events/img-4.jpg" alt="" class="">
                                    </div>
                                    <div class="card-body">
                                        <div class="text-xs uppercase text-yellow-500 font-semibold">Upcomming </div>
                                        <a href="timeline-event.html" class="box-title mb-1"> Perspective is everything </a>
                                        <div class="text-sm font-medium mt-1">Dubai</div>

                                        <div class="flex items-center space-x-2 text-sm text-gray-500 capitalize">
                                            <div> 15 intersted</div>
                                            <div>·</div>
                                            <div> 2 going </div>
                                        </div>

                                        <div class="flex mt-2 space-x-2 text-sm">
                                            <a href="#"
                                               class="bg-blue-600 flex flex-1 h-8 items-center justify-center rounded-md text-white capitalize">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                                     class="w-5 mr-1.5">
                                                    <path
                                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                                intersted
                                            </a>
                                            <a href="#" class="bg-gray-200 flex h-8 items-center px-3 rounded-md">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>-->
                        </ul>
                        <a class="absolute bg-white top-16 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                        <a class="absolute bg-white top-16 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="theme-fragments :: bookmarkListDeleteAjax"></div>
<div th:replace="theme-fragments :: clipboard-save"></div>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script type="application/javascript">
    // 등록 버튼 클릭 시
    $( document ).ready( function() {
        $('#content').summernote({
            placeholder: '글의 내용을 입력해주세요.<br/>타인에게 불쾌감을 주는 글은 예고없이 삭제됩니다.<br/>또한 신고가 누적될 시 제재가 있을 수 있습니다.',
            tabsize: 2,
            toolbar: [
                ['font', ['bold', 'italic', 'underline', 'clear']],
            ],
            maxHeight: null,
            minHeight: null,
            lang : 'ko-KR',
            height: 500,
        });
    });
</script>

</body>
</html>