<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
    <div th:fragment="replyAjax">
    <script>
        var imageDelay = (function (){
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();
        let updateBtn = {
            replyUpdate: function (replyId) {
                jQuery(`#orginalReply${replyId}`).hide();
                jQuery(`#replyUpdateBtn${replyId}`).hide();
                jQuery(`#replyUpdateSubmit${replyId}`).show();
                $(`#replyUpdateInput${replyId}`).prop("type", "text");
                $(`#replyUpdateInput${replyId}`).css("background-color", "rgb(229 231 235)");
            }
        }
        let updateComplete = {
            replyUpdateAjax: function (replyId) {
                // 댓글 수정 ajax
                $.ajax({
                    url:'/reply/update',
                    type:'get',
                    data : $(`#replyUpdateForm${replyId}`).serialize(),
                    success : function (){
                        $('.reply_div').load(location.href+' .reply_div');
                        jQuery(`#orginalReply${replyId}`).show();
                        jQuery(`#replyUpdateBtn${replyId}`).show();
                        jQuery(`#replyUpdateSubmit${replyId}`).hide();
                        $(`#replyUpdateInput${replyId}`).prop("type", "hidden");
                    },
                });
                imageDelay(function (){
                    $(".identicon").each(function() {
                        var hash = md5($(this).data('id')).toString();
                        var data = new Identicon(hash,{format:'svg'}).toString();
                        $(this).attr('src', "data:image/svg+xml;base64,"+data);
                    });
                }, 1000);
            }
        }
        // 댓글 삭제
        let deleteReplyBtn = {
            deleteReply: function (replyId) {
                swal({
                    title: "댓글을 삭제하시겠습니까?",
                    text: "삭제된 댓글은 복구할 수 없습니다.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        window.addEventListener('keydown', function (e){
                            if (e.keyCode == 13) {
                                swal("엔터키는 사용할 수 없습니다.");
                            }
                        })
                        if (willDelete) {
                            $.ajax({
                                url:'/reply/delete',
                                type:'get',
                                data : $(`#replyDeleteForm${replyId}`).serialize(),
                                success : function (){
                                    $('.reply_div').load(location.href+' .reply_div');
                                },
                            });
                            swal("댓글이 삭제되었습니다.", {
                                icon: "success",
                            });
                        } else {
                            swal("댓글이 삭제되지 않았습니다. 다시 시도해주세요.");
                        }
                        $('.reply_div').load(location.href+' .reply_div');
                        imageDelay(function (){
                            $(".identicon").each(function() {
                                var hash = md5($(this).data('id')).toString();
                                var data = new Identicon(hash,{format:'svg'}).toString();
                                $(this).attr('src', "data:image/svg+xml;base64,"+data);
                            });
                        }, 1000);
                    });
            }
        }
        $(document).ready(function (){
            // Delay 함수
            var delay = (function (){
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();
            // input에 있는 값을 가져옴
            var keydown = true;
            var input = document.getElementById("r_content");
            input.addEventListener('keypress', function(key){
                if (input.value == '' && key.key == 'Enter') {
                    swal("댓글을 입력해주세요.");
                }
                if(input.value != '' && key.key == 'Enter'){
                    $.ajax({
                        url:'/reply/add',
                        type:'get',
                        data : $('#reply_form').serialize(),
                        success : function (){
                            $('.reply_div').load(location.href+' .reply_div');
                            input.value ='';
                            keydown = false;
                            $(input).attr("readonly",true);
                            $(input).attr("placeholder","5초 뒤에 댓글을 입력할 수 있습니다.");
                        },
                    });
                }
                imageDelay(function (){
                    $(".identicon").each(function() {
                        var hash = md5($(this).data('id')).toString();
                        var data = new Identicon(hash,{format:'svg'}).toString();
                        $(this).attr('src', "data:image/svg+xml;base64,"+data);
                    });
                }, 1000);

                delay(function (){
                    $(input).removeAttr("readonly");
                    $(input).attr("placeholder","댓글을 입력해주세요.");
                    keydown=true;
                }, 5000);
            });
            $(document).on('click', '.write_reply', function() {
                if (input.value == '') {
                    swal("댓글을 입력해주세요.");
                }
                if (input.value != '') {
                    $.ajax({
                        url:'/reply/add',
                        type:'get',
                        data : $('#reply_form').serialize(),
                        success : function (){
                            $('.reply_div').load(location.href+' .reply_div');
                            input.value ='';
                            keydown = false;
                            $(input).attr("readonly",true);
                            $(input).attr("placeholder","5초 뒤에 댓글을 입력할 수 있습니다.");
                        },
                    });
                }
                imageDelay(function (){
                    $(".identicon").each(function() {
                        var hash = md5($(this).data('id')).toString();
                        var data = new Identicon(hash,{format:'svg'}).toString();
                        $(this).attr('src', "data:image/svg+xml;base64,"+data);
                    });
                }, 1000);

                delay(function (){
                    $(input).removeAttr("readonly");
                    $(input).attr("placeholder","댓글을 입력해주세요.");
                    keydown=true;
                }, 5000);
            });
        })
    </script>
</div>
</body>
</html>