<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

    <head th:replace="fragments/head :: head"></head>

    <body>
        <div id="wrapper">

            <!-- Header -->
            <header th:replace="fragments/header :: header"></header>

            <main layout:fragment="main"></main>
        </div>
    </body>
</html>