<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>

    <div id="wrapper">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar"></div>

        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">


                <div class="lg:flex  lg:space-x-12">

                    <div class="lg:w-3/4">

                        <div class="flex justify-between items-center relative md:mb-4 mb-3">
                            <div class="flex-1">
                                <h2 class="text-2xl font-semibold"> Blog </h2>
                                <nav class="responsive-nav md:m-0 -mx-4 style-2">
                                    <ul>
                                        <li class="active"><a href="#" class="lg:px-2"> 🔥 Top5 🔥 </a></li>
                                        <li><a href="#" class="lg:px-2"> 자유게시판 </a></li>
                                        <li><a href="#" class="lg:px-2"> 신입생게시판 </a></li>
                                        <li><a href="#" class="lg:px-2"> 졸업생게시판 </a></li>
                                    </ul>
                                </nav>
                            </div>
                            <a href="#create-post-modal" uk-toggle  class="flex items-center justify-center h-10 w-10 z-10 rounded-full bg-blue-600 text-white absolute right-0"
                            data-tippy-placement="left" title="Create New Article">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            </a>
                            <!-- Craete video post modal -->
                            <div id="create-post-modal" class="create-post" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical shadow-2xl uk-animation-slide-bottom-small">

                                    <div class="py-4 border-b flex  justify-between px-6">
                                        <h3 class="text-lg font-semibold"> 게시글 작성하기 </h3>
                                        <div>
                                            <div class="font-semibold px-2.5 py-1 bg-gray-100  rounded-md text text-gray-500 text-sm mr-8">
                                                Saved as draft
                                            </div>
                                            <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                                                    type="button" uk-close>
                                                <i class="icon-feather-close"></i>
                                            </button>
                                        </div>
                                    </div>


                                        <div class="create-post-modal-body space-x-6 p-5 overflow-x-hidden mr-1" data-simplebar>
                                            <form class="needs-validation space-y-4 g:w-8/12" action="/board/detail" th:action="@{/board/detail}" th:object="${boardForm}" method="post" novalidate>

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> 게시판 선택 </div>
                                                    <select class="selectpicker">
                                                        <option data-icon="icon-material-outline-assignment" value="자유게시판" selected>자유게시판</option>
                                                        <option data-icon="icon-material-outline-access-alarm" value="신입생게시판">신입생게시판</option>
                                                        <option data-icon="icon-material-outline-account-circle" value="졸업생게시판">졸업생게시판</option>
                                                    </select>
                                                </div>
                                                <div class="font-semibold text-lg"> Details </div>
                                                <div class="border focus-within:border-blue-300 p-3 pb-0 rounded-md">
                                                    <input type="hidden" id="writer" class="form-control" th:value="${account.nickname}" name="writer" readonly>
                                                    <label for="title" class="mb-0 ml-2 text-gray-600 text-sm">Title</label>
                                                    <input type="text" placeholder="제목을 입력해주세요." id="title"
                                                           th:field="*{title}"
                                                           aria-describedby="titleHelp"
                                                           class="-mt-2 -mx-3 bg-transparent focus:bg-white focus:ring-gray-300 h-8 outline-none px-0 text-base w-full">
                                                </div>
                                                <small id="titleHelp" class="form-text text-muted">
                                                    제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                                </small>
                                                <small class="invalid-feedback">제목을 입력해주세요.</small>
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">boardTitle Error</small>
                                                <div class="border focus-within:border-blue-300 p-3 rounded-md">
                                                    <label for="content" class="mb-0 ml-2 text-gray-600 text-sm"> Description</label>
                                                    <textarea type="text" rows="5" placeholder="내용을 입력해주세요." id="content"
                                                              th:field="*{content}" aria-describedby="contentHelp" required
                                                              class="bg-transparent focus:bg-white focus:ring-gray-300 focus:shadow-none outline-none p-2 resize-none shadow-none text-base w-full"></textarea>
                                                </div>
                                                <small id="contentHelp" class="form-text text-muted">
                                                    남을 비방하는 글은 제제가 있을 수 있습니다.
                                                </small>
                                                <small class="invalid-feedback">글을 입력해주세요.</small>
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content Error</small>
                                                <!--<div class="keywords-container">
                                                    <div class="keyword-input-container shadow-none">
                                                        <input type="text" class="keyword-input with-border" placeholder="Add Keywords" />
                                                        <button type="button" class="keyword-input-button ripple-effect">
                                                            <i class="icon-feather-plus"></i></button>
                                                    </div>
                                                    <div class="keywords-list">
                              <span class="keyword">
                                  <span class="keyword-remove">Javascript</span> <span class="keyword-text"></span>
                              </span>
                                                        <span class="keyword">
                                  <span class="keyword-remove">Node</span> <span class="keyword-text"></span>
                              </span>
                                                        <span class="keyword">
                                  <span class="keyword-remove">Typescript</span> <span class="keyword-text"></span>
                              </span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> Playlists </div>
                                                    <div> Add your video to one or more playlists. Playlists can help viewers discover your content
                                                        faster. <a href="#" class="text-blue-500"> Learn more</a> </div>
                                                    <select class="selectpicker">
                                                        <option data-icon="icon-material-outline-assignment">Assignment</option>
                                                        <option data-icon="icon-material-outline-access-alarm">Alarm</option>
                                                        <option data-icon="icon-material-outline-account-circle">Account</option>
                                                        <option data-icon="icon-material-outline-cake">Cake</option>
                                                    </select>
                                                </div>

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> Visibilty </div>
                                                    <div> Manage your videos or your contents who want to see your videos and share with theme across
                                                        the website. </div>
                                                    <select class="selectpicker">
                                                        <option data-icon="uil-bullseye"> Private </option>
                                                        <option data-icon="uil-chat-bubble-user">My Following</option>
                                                        <option data-icon="uil-layer-group-slash">Unlisted</option>
                                                        <option data-icon="uil-globe" selected>Puplic</option>
                                                    </select>
                                                </div>

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> Age Restrict </div>
                                                    <div> Do you want to restrict your video to an adult audience? </div>
                                                    <div> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                                        tincidunt utmagna</div>
                                                    <div class="flex flex-col">
                                                        <div class="radio">
                                                            <input id="radio-1" name="radio" type="radio" checked>
                                                            <label for="radio-1"><span class="radio-label"></span> Yes, it's made for kids </label>
                                                        </div>
                                                        <div class="radio">
                                                            <input id="radio-2" name="radio" type="radio">
                                                            <label for="radio-2"><span class="radio-label"></span>No, it's not made for kids </label>
                                                        </div>
                                                    </div>
                                                </div>-->
                                            </form>

                                        </div>

                                        <div class="flex items-center w-full justify-between p-3 border-t">

                                            <div class="flex items-center space-x-2">

                                                <ion-icon name="checkmark-circle" class="text-green-600 text-xl"></ion-icon>
                                                <div> You are successfuly uploaded</div>

                                            </div>

                                            <div class="flex space-x-2">
                                                <a href="#"
                                                   class="bg-red-100 flex font-medium h-9 items-center justify-center px-5 rounded-md text-red-600 text-sm">
                                                    <svg class="h-5 pr-1 rounded-full text-red-500 w-6 fill-current" id="veiw-more" fill="none"
                                                         stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="false"
                                                         style="">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                              d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z">
                                                        </path>
                                                    </svg>
                                                    Live </a>
                                                <a href="#"
                                                   class="bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                                                    Share </a>
                                            </div>

                                            <a href="#" hidden
                                               class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
                                                Share </a>
                                        </div>


                                </div>
                            </div>
                        </div>

                        <div class="card divide-y divide-gray-100 px-4">
                            
                            <div class="lg:flex lg:space-x-6 py-5" th:each="board : ${board}">
                                <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}">
                                    <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm"> 
                                         <img src="/assets/images/blog/img-4.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                         <div class="absolute bg-blue-100 font-semibold px-2.5 py-1 rounded-full text-blue-500 text-xs top-2.5 left-2.5" th:text="${board.boardTitle}">

                                         </div>
                                    </div>
                                </a>
                                <div class="flex-1 lg:pt-0 pt-4">
                                     
                                    <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                    <div class="line-clamp-3 pt-3 truncate md:text-clip" th:utext="${board.content}"></div>
                                    
                                    <div class="flex items-center pt-3">
                                        <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon><a th:text="${likeService.boardLikeSize(board)}"></a></div>
                                        <div class="flex items-center mx-4"> 
                                            <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                            <div class="-space-x-2 flex items-center ml-1">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-6.jpg" class="border-2 border-white rounded-full w-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-5.jpg" class="border-2 border-white rounded-full w-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-2.jpg" class="border-2 border-white rounded-full w-7">
                                            </div> 
                                        </div>
                                        <div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>
                                    </div>
        
                                </div>
                            </div>

                            <div class="lg:flex lg:space-x-6 py-5">
                                <a href="blog-read.html">
                                    <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm"> 
                                         <img src="/assets/images/blog/img-1.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                         <div class="absolute bg-yellow-100 font-semibold px-2.5 py-1 rounded-full text-yellow-500 text-xs top-2.5 left-2.5">
                                            Experiments
                                         </div>
                                    </div>
                                </a>
                                <div class="flex-1 lg:pt-0 pt-4"> 
         
                                    <a href="blog-read.html" class="text-xl font-semibold line-clamp-2"> Top Amazing web demos and experiments in 2021 Should Know About</a>
                                    <p class="line-clamp-2 pt-3"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat </p>
                                    
                                    <div class="flex items-center pt-3">
                                        <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon>  12 </div>
                                        <div class="flex items-center mx-4"> 
                                            <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon>  12 
                                            <div class="-space-x-2 flex items-center ml-1">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-5.jpg" class="border-2 border-white rounded-full w-7 h-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-1.jpg" class="border-2 border-white rounded-full w-7 h-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-2.jpg" class="border-2 border-white rounded-full w-7 h-7">
                                                <div class="w-7 h-7 rounded-full flex justify-center items-center bg-red-100 text-red-500 font-semibold text-xs"> 12+</div>
                                            </div> 
                                        </div>
                                        <div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>
                                    </div>
        
                                </div>
                            </div>

                            <div class="lg:flex lg:space-x-6 py-5">
                                <a href="blog-read.html">
                                    <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm"> 
                                         <img src="/assets/images/blog/img-2.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                         <div class="absolute bg-purple-100 font-semibold px-2.5 py-1 rounded-full text-purple-500 text-xs top-2.5 left-2.5">
                                            Tools
                                         </div>
                                    </div>
                                </a>
                                <div class="flex-1 lg:pt-0 pt-4"> 
         
                                    <a href="blog-read.html" class="text-xl font-semibold line-clamp-2">   Awesome Web Dev Tools and Resources For 2021 in 30 Minutes </a>
                                    <p class="line-clamp-2 pt-3"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat </p>
                                    
                                    <div class="flex items-center pt-3">
                                        <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon>  12 </div>
                                        <div class="flex items-center mx-4"> 
                                            <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon>  12 
                                            <div class="-space-x-2 flex items-center ml-1">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-1.jpg" class="border-2 border-white rounded-full w-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-2.jpg" class="border-2 border-white rounded-full w-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-3.jpg" class="border-2 border-white rounded-full w-7">
                                                <div class="w-7 h-7 rounded-full flex justify-center items-center bg-red-100 text-red-500 font-semibold text-xs"> 13+</div>
                                            </div> 
                                        </div>
                                        <div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>
                                    </div>
        
                                </div>
                            </div>

                            <div class="lg:flex lg:space-x-6 py-5">
                                <a href="blog-read.html">
                                    <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm"> 
                                         <img src="/assets/images/blog/img-3.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                         <div class="absolute bg-purple-100 font-semibold px-2.5 py-1 rounded-full text-purple-500 text-xs top-2.5 left-2.5">
                                            JavaScript
                                         </div>
                                    </div>
                                </a>
                                <div class="flex-1 lg:pt-0 pt-4"> 
         
                                    <a href="blog-read.html" class="text-xl font-semibold line-clamp-2">   Interesting JavaScript and CSS libraries for 2021 Should Know About</a>
                                    <p class="line-clamp-2 pt-3"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat </p>
                                    
                                    <div class="flex items-center pt-3">
                                        <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon>  12 </div>
                                        <div class="flex items-center mx-4"> 
                                            <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon>  12 
                                            <div class="-space-x-2 flex items-center ml-1">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-6.jpg" class="border-2 border-white rounded-full w-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-5.jpg" class="border-2 border-white rounded-full w-7">
                                                <img alt="Image placeholder" src="/assets/images/avatars/avatar-2.jpg" class="border-2 border-white rounded-full w-7">
                                            </div> 
                                        </div>
                                        <div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>
                                    </div>
        
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="lg:w-1/4 w-full flex-shrink-0">

                        <div uk-sticky="offset:100" class="uk-sticky">
  
                          <h2 class="text-lg font-semibold mb-3"> Recently Posted </h2>
                          <ul> 
                              <li th:each="recent : ${recentlyBoards}">
                                  <a th:href="@{/board/detail/{boardId}(boardId = ${recent.bid})}" class="hover:bg-gray-100 rounded-md p-2 -mx-2 block">
                                      <h3 class="font-medium line-clamp-2" th:text="${recent.title}"></h3>
                                      <div class="flex items-center my-auto text-xs space-x-1.5">
                                        <div th:text="${service.boardDateTime(recent.uploadTime)}"></div> <div class="pb-1"> . </div>
                                        <ion-icon name="chatbox-ellipses-outline"></ion-icon> <div th:text="${replyService.boardReplySize(recent)}"></div>
                                     </div> 
                                  </a>
                              </li>
                          </ul>
                          <br>
                           
                          <h4 class="text-lg font-semibold mb-3"> Tags </h4>

                        <div class="flex flex-wrap gap-2">
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> Computers</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> Business</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> News</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> Architecher</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> Technolgy</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> Music</a> 
                        </div>
                  
                        </div>
                    </div>
                </div>

        
            </div>
        </div>
        
    </div>



    <!-- open chat box -->
    <div uk-toggle="target: #offcanvas-chat" class="start-chat">
        <svg class="h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
        </svg>
    </div>
    
    <div id="offcanvas-chat" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar bg-white p-0 w-full lg:w-80 shadow-2xl">


            <div class="relative pt-5 px-4">

                <h3 class="text-2xl font-bold mb-2"> Chats </h3>

                <div class="absolute right-3 top-4 flex items-center space-x-2">

                    <button class="uk-offcanvas-close  px-2 -mt-1 relative rounded-full inset-0 lg:hidden blcok"
                        type="button" uk-close></button>

                    <a href="#" uk-toggle="target: #search;animation: uk-animation-slide-top-small">
                        <ion-icon name="search" class="text-xl hover:bg-gray-100 p-1 rounded-full"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="settings-outline" class="text-xl hover:bg-gray-100 p-1 rounded-full"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="ellipsis-vertical" class="text-xl hover:bg-gray-100 p-1 rounded-full"></ion-icon>
                    </a>
                    <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"  
                    uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                        <ul class="space-y-1">
                          <li> 
                              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                 <ion-icon name="checkbox-outline" class="pr-2 text-xl"></ion-icon> Mark all as read
                              </a> 
                          </li>
                          <li> 
                              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                <ion-icon name="settings-outline" class="pr-2 text-xl"></ion-icon>  Chat setting 
                              </a> 
                          </li>
                          <li> 
                              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon>   Disable notifications
                              </a> 
                          </li> 
                          <li> 
                              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                <ion-icon name="star-outline"  class="pr-2 text-xl"></ion-icon>  Create a group chat 
                              </a> 
                          </li>
                        </ul>
                    </div>
                              

                </div>


            </div>

            <div class="absolute bg-white z-10 w-full -mt-5 lg:-mt-2 transform translate-y-1.5 py-2 border-b items-center flex"
                id="search" hidden>
                <input type="text" placeholder="Search.." class="flex-1">
                <ion-icon name="close-outline" class="text-2xl hover:bg-gray-100 p-1 rounded-full mr-4 cursor-pointer"
                    uk-toggle="target: #search;animation: uk-animation-slide-top-small"></ion-icon> 
            </div>

            <nav class="responsive-nav border-b extanded mb-2 -mt-2">
                <ul uk-switcher="connect: #chats-tab; animation: uk-animation-fade">
                    <li class="uk-active"><a class="active" href="#0"> Friends </a></li>
                    <li><a href="#0">Groups <span> 10 </span> </a></li>
                </ul>
            </nav>

            <div class="contact-list px-2 uk-switcher" id="chats-tab">

                <div class="p-1">
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-7.jpg" alt="">
                        </div>
                        <div class="contact-username"> Alex Dolgove</div>
                    </a>
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-8.jpg" alt="">
                            <span class="user_status status_online"></span>
                        </div>
                        <div class="contact-username"> Dennis Han</div>
                    </a>
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-2.jpg" alt="">
                            <span class="user_status"></span>
                        </div>
                        <div class="contact-username"> Erica Jones</div>
                    </a>
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-3.jpg" alt="">
                        </div>
                        <div class="contact-username">Stella Johnson</div>
                    </a>
                    
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-5.jpg" alt="">
                        </div>
                        <div class="contact-username">Adrian Mohani </div>
                    </a>
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-6.jpg" alt="">
                        </div>
                        <div class="contact-username"> Jonathan Madano</div>
                    </a>
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-2.jpg" alt="">
                            <span class="user_status"></span>
                        </div>
                        <div class="contact-username"> Erica Jones</div>
                    </a>
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-1.jpg" alt="">
                            <span class="user_status status_online"></span>
                        </div>
                        <div class="contact-username"> Dennis Han</div>
                    </a>
                   

                </div>
               <div class="p-1">
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-7.jpg" alt="">
                        </div>
                        <div class="contact-username"> Alex Dolgove</div>
                    </a>
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-8.jpg" alt="">
                            <span class="user_status status_online"></span>
                        </div>
                        <div class="contact-username"> Dennis Han</div>
                    </a>
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-2.jpg" alt="">
                            <span class="user_status"></span>
                        </div>
                        <div class="contact-username"> Erica Jones</div>
                    </a>
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-3.jpg" alt="">
                        </div>
                        <div class="contact-username">Stella Johnson</div>
                    </a>
                    
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-5.jpg" alt="">
                        </div>
                        <div class="contact-username">Adrian Mohani </div>
                    </a>
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-6.jpg" alt="">
                        </div>
                        <div class="contact-username"> Jonathan Madano</div>
                    </a>
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-2.jpg" alt="">
                            <span class="user_status"></span>
                        </div>
                        <div class="contact-username"> Erica Jones</div>
                    </a>
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="/assets/images/avatars/avatar-1.jpg" alt="">
                            <span class="user_status status_online"></span>
                        </div>
                        <div class="contact-username"> Dennis Han</div>
                    </a>
                   

                </div>

            </div>
        </div>
    </div>
    <script th:replace="fragments.html :: form-validation"></script>

</body>
</html>