<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<style>
    #subBoardSort, #postTitleSub{
        display: none;
    }
</style>
<body>

    <div id="wrapper">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='board')"></div>

        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">


                <div class="lg:flex  lg:space-x-12">

                    <div class="lg:w-3/4">
                        <div class="flex justify-between items-center relative md:mb-4 mb-3">
                            <div class="flex-1">
                                <h2 class="text-2xl font-semibold"> 커뮤니티 </h2>
                                <th:block th:if="${message}">
                                    <div th:replace="theme-fragments.html :: red-notice(message=${message})"></div>
                                </th:block>
                                <nav class="responsive-nav md:m-0 -mx-4 style-2">
                                    <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                                        <li><a href="#" class="lg:px-2"> 🔥 Top5 🔥 </a></li>
                                        <li><a href="#" class="lg:px-2"> 자유 </a></li>
                                        <li><a href="#" class="lg:px-2"> 정보 </a></li>
                                        <li><a href="#" class="lg:px-2"> 질문 </a></li>
                                    </ul>
                                </nav>
                            </div>
                            <a href="#create-post-modal" uk-toggle class="flex items-center justify-center h-10 w-10 z-10 rounded-full bg-blue-600 text-white absolute right-0"
                            data-tippy-placement="left" title="새 게시글 작성하기">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            </a>
                            <!-- Craete video post modal -->
                            <div id="create-post-modal" class="create-post" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical shadow-2xl uk-animation-slide-bottom-small">

                                    <div class="py-4 border-b flex  justify-between px-6">
                                        <h3 class="text-lg font-semibold" id="forum_head"> 게시글 작성하기 </h3>
                                        <div>
                                            <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                                                    type="button" uk-close>
                                                <i class="icon-feather-close"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <form class="needs-validation space-y-4 g:w-8/12" id="board_form" action="/board/detail" th:action="@{/board/detail}" th:object="${boardForm}" method="post" novalidate>
                                        <div class="create-post-modal-body space-x-6 p-5 overflow-x-hidden mr-1" data-simplebar>
                                            <div class="space-y-4 g:w-8/12">
                                                <div class="form-group">
                                                    <label for="selectBox"> 유형 선택 </label>
                                                    <select id="selectBox" name="selectBox"  class="shadow-none with-border px-2" th:field="*{boardTitle}">
                                                        <option data-icon="icon-material-outline-assignment" value="자유" selected>자유</option>
                                                        <option data-icon="icon-material-outline-help-outline" value="질문">질문</option>
                                                        <option data-icon="icon-material-outline-assignment" value="정보">정보</option>
                                                    </select>
                                                </div>
                                                <div id="subBoardSort">
                                                    <div class="form-group">
                                                        <label for="selectBoxSub"> 종류 선택 </label>
                                                        <select id="selectBoxSub" name="selectBoxSub"  class="shadow-none with-border form-control px-2">
                                                            <optgroup label="QnA" id="opgQnA">
                                                                <option data-icon="icon-material-outline-help-outline" value="" hidden>선택</option>
                                                                <option data-icon="icon-material-outline-help-outline" value="major">전공 관련</option>
                                                                <option data-icon="icon-material-outline-help-outline" value="college">학교 관련</option>
                                                                <option data-icon="icon-material-outline-movie" value="qnaEtc"> 기타 </option>
                                                            </optgroup>
                                                            <optgroup label="정보" id="opgInfo">
                                                                <option data-icon="icon-material-outline-language" value="web"> HTML</option>
                                                                <option data-icon="icon-material-outline-code" value="java"> JAVA</option>
                                                                <option data-icon="icon-material-outline-movie" value="media"> 영상</option>
                                                                <option data-icon="icon-material-outline-movie" value="vrar"> VR/AR</option>
                                                                <option data-icon="icon-material-outline-movie" value="infoEtc"> 기타 </option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="font-semibold text-lg"> Details </div>
                                                <!-- 제목 -->
                                                <div class="form-group">
                                                    <div class="line">
                                                        <input class="line__input form-control" id="title" th:field="*{title}"
                                                               type="text" onkeyup="this.setAttribute('value', this.value);"
                                                               aria-describedby="titleHelp" required autocomplete="off">
                                                        <span for="username" class="line__placeholder"> 제목 </span>
                                                    </div>
                                                    <small id="titleHelp" class="form-text text-muted">
                                                        제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                                    </small>
                                                    <small class="invalid-feedback">제목을 입력해주세요.</small>
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>
                                                </div>
                                                <!-- 소제목 -->
                                                <div id="postTitleSub" class="form-group">
                                                    <div class="line">
                                                        <input class="line__input form-group" id="subTitle" th:field="*{subTitle}"
                                                               type="text" onkeyup="this.setAttribute('value', this.value);"
                                                               aria-describedby="subTitleHelp" required autocomplete="off">
                                                        <span for="username" class="line__placeholder"> 소제목 </span>
                                                    </div>
                                                    <small id="subTitleHelp" class="form-text text-muted">
                                                        예) Spring MVC 모델에 대해 자세히 알아보는 글입니다.
                                                    </small>
                                                </div>
                                                <!-- 본문 -->
                                                <div class="form-group">
                                                    <div>
                                                        <textarea class="form-control"  id="content" th:field="*{content}" 
                                                                  type="text" aria-describedby="contentHelp" required></textarea>
                                                    </div>
                                                    <small id="contentHelp" class="form-text text-muted">남을 비방하는 글은 제제가 있을 수 있습니다.</small>
                                                    <small class="invalid-feedback">글을 입력해주세요.</small>
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content Error</small>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="flex items-center w-full justify-between p-3 border-t">

                                            <div class="flex items-center space-x-2">

                                                <!--<ion-icon name="checkmark-circle" class="text-green-600 text-xl"></ion-icon>
                                                <div> You are successfuly uploaded</div>-->

                                            </div>

                                            <div class="flex space-x-2">
                                                <a href="#"
                                                   class="uk-modal-close bg-red-100 flex font-medium h-9 items-center justify-center px-5 rounded-md text-red-600 text-sm">
                                                    Cancel </a>
                                                <button type="submit"
                                                   id = "board_form_send"
                                                   class="bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                                                    Post </button>
                                            </div>

                                            <button type="submit" hidden
                                               class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
                                                Post </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- 게시판 분류 -->
                            <div class="uk-switcher" id="timeline-tab">
                                <!-- TOP 5 -->
                                <div>
                                    <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="board : ${board}">
                                        <div class="lg:flex lg:space-x-6 py-5">
                                            <div class="flex-1 lg:pt-0 pt-4">
                                                <th:block th:if="${board.boardTitle=='자유'}">
                                                    <div class="bg-blue-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-blue-500" th:text="${board.boardTitle}"></div>
                                                </th:block>
                                                <th:block th:if="${board.boardTitle=='정보'}">
                                                    <div class="bg-purple-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-purple-500" th:text="${board.boardTitle}"></div>
                                                </th:block>
                                                <th:block th:if="${board.boardTitle=='질문'}">
                                                    <div class="bg-yellow-100 font-semibold w-11 px-2.5 py-1 rounded-full text-center text-xs text-yellow-500" th:text="${board.boardTitle}"></div>
                                                </th:block>
                                                <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl mt-2 font-semibold line-clamp-2" th:text="${board.title}"></a>
                                                <div class="flex items-center pt-3 align-middle">
                                                    <div class="flex items-center">
                                                        <ion-icon name="time-outline" class="text-xl mr-2"></ion-icon>
                                                        <a th:text="${service.boardDateTime(board.uploadTime)}"></a>
                                                    </div>
                                                    <div class="flex items-center mx-4 align-middle">
                                                        <ion-icon name="thumbs-up-outline" class="text-lg mr-2"></ion-icon>
                                                        <a th:text="${likeService.boardLikeSize(board)}"></a>
                                                    </div>
                                                    <div class="flex items-center align-middle">
                                                        <ion-icon name="chatbubble-ellipses-outline"  class="text-lg mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                        <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                            <div class="-space-x-2 flex items-center ml-1">
                                                                <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                    <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:data-jdenticon-value="${topReply.getAccount().studentId}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                    <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:src="${topReply.getAccount()?.profileImage}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                                </div>
                                                            </div>
                                                        </th:block>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 게시판 1 -->
                                <div>
                                    <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="board : ${service.boardTitleList('자유')}">
                                        <div class="lg:flex lg:space-x-6 py-5">
                                            <div class="flex-1 lg:pt-0 pt-4">
                                                <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                                <div class="flex items-center pt-3">
                                                    <div class="flex items-center">
                                                        <ion-icon name="time-outline" class="text-xl mr-2"></ion-icon>
                                                        <a th:text="${service.boardDateTime(board.uploadTime)}"></a>
                                                    </div>
                                                    <div class="flex items-center mx-4 align-middle">
                                                        <ion-icon name="thumbs-up-outline" class="text-lg mr-2"></ion-icon>
                                                        <a th:text="${likeService.boardLikeSize(board)}"></a>
                                                    </div>
                                                    <div class="flex items-center mx-4">
                                                        <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                        <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                            <div class="-space-x-2 flex items-center ml-1">
                                                                <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                    <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:data-jdenticon-value="${topReply.getAccount().studentId}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                    <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:src="${topReply.getAccount()?.profileImage}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                                </div>
                                                            </div>
                                                        </th:block>

                                                    </div>
                                                    <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 게시판 2 -->
                                <div>
                                    <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="board : ${service.boardTitleList('정보')}">
                                        <div class="lg:flex lg:space-x-6 py-5">
                                            <div class="flex-1 lg:pt-0 pt-4">

                                                <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                                <div class="flex items-center pt-3">
                                                    <div class="flex items-center">
                                                        <ion-icon name="time-outline" class="text-xl mr-2"></ion-icon>
                                                        <a th:text="${service.boardDateTime(board.uploadTime)}"></a>
                                                    </div>
                                                    <div class="flex items-center mx-4 align-middle">
                                                        <ion-icon name="thumbs-up-outline" class="text-lg mr-2"></ion-icon>
                                                        <a th:text="${likeService.boardLikeSize(board)}"></a>
                                                    </div>
                                                    <div class="flex items-center mx-4">
                                                        <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                        <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                            <div class="-space-x-2 flex items-center ml-1">
                                                                <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                    <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:data-jdenticon-value="${topReply.getAccount().studentId}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                    <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:src="${topReply.getAccount()?.profileImage}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                                </div>
                                                            </div>
                                                        </th:block>

                                                    </div>
                                                    <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 게시판 3 -->
                                <div>
                                    <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="board : ${service.boardTitleList('질문')}">
                                        <div class="lg:flex lg:space-x-6 py-5">
                                            <div class="flex-1 lg:pt-0 pt-4">
                                                <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                                <div class="flex items-center pt-3">
                                                    <div class="flex items-center">
                                                        <ion-icon name="time-outline" class="text-xl mr-2"></ion-icon>
                                                        <a th:text="${service.boardDateTime(board.uploadTime)}"></a>
                                                    </div>
                                                    <div class="flex items-center mx-4 align-middle">
                                                        <ion-icon name="thumbs-up-outline" class="text-lg mr-2"></ion-icon>
                                                        <a th:text="${likeService.boardLikeSize(board)}"></a>
                                                    </div>
                                                    <div class="flex items-center mx-4">
                                                        <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                        <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                            <div class="-space-x-2 flex items-center ml-1">
                                                                <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                    <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:data-jdenticon-value="${topReply.getAccount().studentId}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                    <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                         th:src="${topReply.getAccount()?.profileImage}"
                                                                         alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                                </div>
                                                            </div>
                                                        </th:block>

                                                    </div>
                                                    <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="lg:w-1/4 w-full flex-shrink-0">

                        <div uk-sticky="offset:100" class="uk-sticky">
  
                          <h2 class="text-lg font-semibold mb-3"> 최근 올라온 글 </h2>
                          <ul> 
                              <li th:each="recent : ${recentlyBoards}">
                                  <a th:href="@{/board/detail/{boardId}(boardId = ${recent.bid})}" class="hover:bg-gray-100 rounded-md p-2 -mx-2 block">
                                      <h3 class="font-medium line-clamp-2" th:text="${recent.title}"></h3>
                                      <div class="flex items-center my-auto text-xs space-x-1.5">
                                        <div th:text="${service.boardDateTime(recent.uploadTime)}"></div> <div class="pb-1"> . </div>
                                        <ion-icon name="chatbox-ellipses-outline"></ion-icon> <div th:text="${replyService.boardReplySize(recent)}"></div>
                                     </div> 
                                  </a>
                              </li>
                          </ul>
                          <br>

                        </div>
                    </div>
                </div>

        
            </div>
        </div>
        
    </div>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script th:replace="theme-fragments.html :: form-validation"></script>
    <script type="application/javascript">
        $( document ).ready( function() {
            var HelloButton = function (context) {
                var ui = $.summernote.ui;

                // create button
                var button = ui.button({
                    contents: 'Code block',
                    tooltip: 'hello',
                    click: function () {

                        $('#content').summernote('code', '<br><pre style="background-color: rgb(212 212 212);"><code class="html">Place your code here.</code></pre><br><br>');
                    }
                });

                return button.render();   // return button as jquery object
            }
            $('#content').summernote({
                placeholder: '글의 내용을 입력해주세요.<br/>타인에게 불쾌감을 주는 글은 예고없이 삭제됩니다.<br/>또한 신고가 누적될 시 제재가 있을 수 있습니다.',
                tabsize: 2,
                toolbar: [
                    ['font', ['bold', 'italic', 'underline', 'clear', 'codeblock']],
                    ['mybutton', ['hello']],
                    ['insert',['picture','link']],
                ],
                buttons: {
                    hello: HelloButton
                },
                maxHeight: null,
                minHeight: null,
                lang : 'ko-KR',
                height: 500,
            });

            function resetValue() {
                $('#title').val('');
                $('#subTitle').val('');
            }
            $('#postTitle').val('');
            jQuery('#selectBox').change(function() {
                var state = jQuery('#selectBox option:selected').val();
                if (state == '자유') {
                    // 작성 값 초기화 및 메뉴명 변경
                    $("#forum_head").text('글 작성하기');
                    $('#titleHelp').text("글의 주제를 나타내는 제목을 작성해주세요.");
                    $('#subTitleHelp').text("");
                    $('#contentHelp').text("정치 및 저격 등 수준 낮은 게시글은 예고 없이 삭제됩니다.");
                    resetValue();

                    // 자유게시판일 경우 SubTitle 빈값
                    $("#selectBoxSub option:eq(0)").prop("selected", true);

                    // Hide and Show
                    jQuery('#subBoardSort').hide();
                    jQuery('#postTitleSub').hide();
                    //$('#selectBoxSub').selectpicker('refresh');
                    //$('#board_form').load(window.location.href+' #board_form');
                }
                if (state == '질문') {
                    // 작성 값 초기화 및 메뉴명 변경
                    $("#forum_head").text('Q&A 작성하기');
                    $('#titleHelp').text("무엇이 궁금한가요?");
                    $('#subTitleHelp').text("");
                    $('#contentHelp').text("궁금한 내용을 최대한 자세하게 작성해주세요.");
                    resetValue();

                    // 질문게시판일 경우 SubTitle 선택 selected
                    $("#selectBoxSub option:eq(0)").prop("selected", true);

                    // Hide and Show
                    jQuery('#opgQnA').show();
                    jQuery('#opgInfo').hide();
                    jQuery('#subBoardSort').show();
                    jQuery('#postTitleSub').hide();
                    //$('#selectBoxSub').selectpicker('refresh');
                    //$('#board_form').load(window.location.href+' #board_form');
                }
                if (state == '정보') {
                    // 작성 값 초기화 및 메뉴명 변경
                    $("#forum_head").text('정보 작성하기');
                    $('#titleHelp').text("공유하려는 정보의 주제를 작성해주세요.");
                    $('#subTitleHelp').text("해당 글을 어필하는 소제목을 작성해주세요.");
                    $('#contentHelp').text("정보에 대한 내용을 자세히 설명해주세요.");
                    resetValue();

                    // 정보게시판일 경우 SubTitle 선택 selected
                    $("#selectBoxSub option:eq(0)").prop("selected", true);

                    // Hide and Show
                    jQuery('#opgQnA').hide();
                    jQuery('#opgInfo').show();
                    jQuery('#subBoardSort').show();
                    jQuery('#postTitleSub').show();
                    //$('#selectBoxSub').selectpicker('refresh');
                    //$('#board_form').load(window.location.href+' #board_form');
                }
            });
        });
    </script>

</body>
</html>