<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>

    <div id="wrapper">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar"></div>

        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">


                <div class="lg:flex  lg:space-x-12">

                    <div class="lg:w-3/4">

                        <div class="flex justify-between items-center relative md:mb-4 mb-3">
                            <div class="flex-1">
                                <h2 class="text-2xl font-semibold"> Blog </h2>
                                <nav class="responsive-nav md:m-0 -mx-4 style-2">
                                    <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                                        <li><a href="#" class="lg:px-2"> 🔥 Top5 🔥 </a></li>
                                        <li><a href="#" class="lg:px-2"> 자유게시판 </a></li>
                                        <li><a href="#" class="lg:px-2"> 신입생게시판 </a></li>
                                        <li><a href="#" class="lg:px-2"> 졸업생게시판 </a></li>
                                    </ul>
                                </nav>
                            </div>
                            <a href="#create-post-modal" uk-toggle  class="flex items-center justify-center h-10 w-10 z-10 rounded-full bg-blue-600 text-white absolute right-0"
                            data-tippy-placement="left" title="Create New Article">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            </a>
                            <!-- Craete video post modal -->
                            <div id="create-post-modal" class="create-post" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical shadow-2xl uk-animation-slide-bottom-small">

                                    <div class="py-4 border-b flex  justify-between px-6">
                                        <h3 class="text-lg font-semibold"> 게시글 작성하기 </h3>
                                        <div>
                                            <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                                                    type="button" uk-close>
                                                <i class="icon-feather-close"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <form class="needs-validation space-y-4 g:w-8/12" id="board_form" action="/board/detail" th:action="@{/board/detail}" th:object="${boardForm}" method="post" novalidate>
                                        <div class="create-post-modal-body space-x-6 p-5 overflow-x-hidden mr-1" data-simplebar>
                                            <div class="space-y-4 g:w-8/12">

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> 게시판 선택 </div>
                                                    <select class="selectpicker" th:field="*{boardTitle}">
                                                        <option data-icon="icon-material-outline-assignment" value="자유게시판" selected>자유게시판</option>
                                                        <option data-icon="icon-material-outline-access-alarm" value="신입생게시판">신입생게시판</option>
                                                        <option data-icon="icon-material-outline-account-circle" value="졸업생게시판">졸업생게시판</option>
                                                    </select>
                                                </div>
                                                <div class="font-semibold text-lg"> Details </div>
                                                <div class="border focus-within:border-blue-300 p-3 pb-0 rounded-md form-group d-none">
                                                    <label for="writer" class="mb-0 ml-2 text-gray-600 text-sm">작성자</label>
                                                    <input type="hidden" placeholder="제목을 입력해주세요." id="writer"
                                                           th:value="${account.nickname}" name="writer" readonly
                                                           aria-describedby="writerHelp"
                                                           class="-mt-2 -mx-3 bg-transparent focus:bg-white focus:ring-gray-300 h-8 outline-none px-0 text-base w-full form-control">
                                                    <small id="writerHelp" class="form-text text-muted">
                                                        제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                                    </small>
                                                    <small class="invalid-feedback">제목을 입력해주세요.</small>
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">writer Error</small>
                                                </div>
                                                <div class="border focus-within:border-blue-300 p-3 pb-0 rounded-md form-group">
                                                    <label for="title" class="mb-0 ml-2 text-gray-600 text-sm">Title</label>
                                                    <input type="text" placeholder="제목을 입력해주세요." id="title"
                                                           th:field="*{title}" aria-describedby="titleHelp" required
                                                           class="-mt-2 -mx-3 bg-transparent focus:bg-white focus:ring-gray-300 h-8 outline-none px-0 text-base w-full form-control">
                                                    <small id="titleHelp" class="form-text text-muted">
                                                        제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                                    </small>
                                                    <small class="invalid-feedback">제목을 입력해주세요.</small>
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>
                                                </div>
                                                <div class="border focus-within:border-blue-300 p-3 rounded-md form-group">
                                                    <label for="content" class="mb-0 ml-2 text-gray-600 text-sm"> Description</label>
                                                    <textarea type="text" rows="5" placeholder="내용을 입력해주세요." id="content"
                                                              th:field="*{content}" aria-describedby="contentHelp" required
                                                              class="bg-transparent focus:bg-white focus:ring-gray-300 focus:shadow-none outline-none p-2 resize-none shadow-none text-base w-full form-control"></textarea>
                                                    <small id="contentHelp" class="form-text text-muted">남을 비방하는 글은 제제가 있을 수 있습니다.</small>
                                                    <small class="invalid-feedback">글을 입력해주세요.</small>
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">content Error</small>
                                                </div>

                                                <!--
                                                <div class="keywords-container">
                                                    <div class="keyword-input-container shadow-none">
                                                        <input type="text" class="keyword-input with-border" placeholder="Add Keywords" />
                                                        <button type="button" class="keyword-input-button ripple-effect">
                                                            <i class="icon-feather-plus"></i></button>
                                                    </div>
                                                    <div class="keywords-list">
                                                    <span class="keyword">
                                                    <span class="keyword-remove">Javascript</span>
                                                    <span class="keyword-text"></span>
                                                    </span>
                                                        <span class="keyword">
                                  <span class="keyword-remove">Node</span> <span class="keyword-text"></span>
                              </span>
                                                        <span class="keyword">
                                  <span class="keyword-remove">Typescript</span> <span class="keyword-text"></span>
                              </span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> Playlists </div>
                                                    <div> Add your video to one or more playlists. Playlists can help viewers discover your content
                                                        faster. <a href="#" class="text-blue-500"> Learn more</a> </div>
                                                    <select class="selectpicker">
                                                        <option data-icon="icon-material-outline-assignment">Assignment</option>
                                                        <option data-icon="icon-material-outline-access-alarm">Alarm</option>
                                                        <option data-icon="icon-material-outline-account-circle">Account</option>
                                                        <option data-icon="icon-material-outline-cake">Cake</option>
                                                    </select>
                                                </div>

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> Visibilty </div>
                                                    <div> Manage your videos or your contents who want to see your videos and share with theme across
                                                        the website. </div>
                                                    <select class="selectpicker">
                                                        <option data-icon="uil-bullseye"> Private </option>
                                                        <option data-icon="uil-chat-bubble-user">My Following</option>
                                                        <option data-icon="uil-layer-group-slash">Unlisted</option>
                                                        <option data-icon="uil-globe" selected>Puplic</option>
                                                    </select>
                                                </div>

                                                <div class="px-2 space-y-2">
                                                    <div class="font-semibold text-base"> Age Restrict </div>
                                                    <div> Do you want to restrict your video to an adult audience? </div>
                                                    <div> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                                        tincidunt utmagna</div>
                                                    <div class="flex flex-col">
                                                        <div class="radio">
                                                            <input id="radio-1" name="radio" type="radio" checked>
                                                            <label for="radio-1"><span class="radio-label"></span> Yes, it's made for kids </label>
                                                        </div>
                                                        <div class="radio">
                                                            <input id="radio-2" name="radio" type="radio">
                                                            <label for="radio-2"><span class="radio-label"></span>No, it's not made for kids </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                -->
                                            </div>

                                        </div>

                                        <div class="flex items-center w-full justify-between p-3 border-t">

                                            <div class="flex items-center space-x-2">

                                                <ion-icon name="checkmark-circle" class="text-green-600 text-xl"></ion-icon>
                                                <div> You are successfuly uploaded</div>

                                            </div>

                                            <div class="flex space-x-2">
                                                <a href="#"
                                                   class="uk-modal-close bg-red-100 flex font-medium h-9 items-center justify-center px-5 rounded-md text-red-600 text-sm">
                                                    Cancel </a>
                                                <button type="submit"
                                                   id = "board_form_send"
                                                   class="bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                                                    Post </button>
                                            </div>

                                            <button type="submit" hidden
                                               class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
                                                Post </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="card divide-y divide-gray-100 px-4">
                            <div class="uk-switcher" id="timeline-tab">
                                <div>
                                    <div class="lg:flex lg:space-x-6 py-5" th:each="board : ${board}">
                                        <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}">
                                            <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm">
                                                <img src="/assets/images/blog/img-4.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                                <th:block th:if="${board.boardTitle=='자유게시판'}">
                                                    <div class="absolute bg-blue-100 font-semibold px-2.5 py-1 rounded-full text-blue-500 text-xs top-2.5 left-2.5" th:text="${board.boardTitle}">
                                                    </div>
                                                </th:block>
                                                <th:block th:if="${board.boardTitle=='신입생게시판'}">
                                                    <div class="absolute bg-yellow-100 font-semibold px-2.5 py-1 rounded-full text-yellow-500 text-xs top-2.5 left-2.5" th:text="${board.boardTitle}">
                                                    </div>
                                                </th:block>
                                                <th:block th:if="${board.boardTitle=='졸업생게시판'}">
                                                    <div class="absolute bg-purple-100 font-semibold px-2.5 py-1 rounded-full text-purple-500 text-xs top-2.5 left-2.5" th:text="${board.boardTitle}">
                                                    </div>
                                                </th:block>
                                            </div>
                                        </a>
                                        <div class="flex-1 lg:pt-0 pt-4">

                                            <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                            <div style="white-space:pre;" class="line-clamp-3 pt-3 truncate md:text-clip" th:text="${board.content}"></div>

                                            <div class="flex items-center pt-3">
                                                <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon><a th:text="${likeService.boardLikeSize(board)}"></a></div>
                                                <div class="flex items-center mx-4">
                                                    <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                    <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                        <div class="-space-x-2 flex items-center ml-1">
                                                            <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:data-jdenticon-value="${topReply.getAccount().nickname}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:src="${topReply.getAccount()?.profileImage}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                            </div>
                                                        </div>
                                                    </th:block>

                                                </div>
                                                <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="lg:flex lg:space-x-6 py-5" th:each="board : ${service.boardTitleList('자유게시판')}">
                                        <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}">
                                            <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm">
                                                <img src="/assets/images/blog/img-4.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                                <div class="absolute bg-blue-100 font-semibold px-2.5 py-1 rounded-full text-blue-500 text-xs top-2.5 left-2.5" th:text="${board.boardTitle}">

                                                </div>
                                            </div>
                                        </a>
                                        <div class="flex-1 lg:pt-0 pt-4">

                                            <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                            <div style="white-space:pre;" class="line-clamp-3 pt-3 truncate md:text-clip" th:text="${board.content}"></div>

                                            <div class="flex items-center pt-3">
                                                <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon><a th:text="${likeService.boardLikeSize(board)}"></a></div>
                                                <div class="flex items-center mx-4">
                                                    <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                    <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                        <div class="-space-x-2 flex items-center ml-1">
                                                            <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:data-jdenticon-value="${topReply.getAccount().nickname}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:src="${topReply.getAccount()?.profileImage}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                            </div>
                                                        </div>
                                                    </th:block>

                                                </div>
                                                <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="lg:flex lg:space-x-6 py-5" th:each="board : ${service.boardTitleList('신입생게시판')}">
                                        <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}">
                                            <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm">
                                                <img src="/assets/images/blog/img-4.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                                <div class="absolute bg-yellow-100 font-semibold px-2.5 py-1 rounded-full text-yellow-500 text-xs top-2.5 left-2.5" th:text="${board.boardTitle}">

                                                </div>
                                            </div>
                                        </a>
                                        <div class="flex-1 lg:pt-0 pt-4">

                                            <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                            <div style="white-space:pre;" class="line-clamp-3 pt-3 truncate md:text-clip" th:text="${board.content}"></div>

                                            <div class="flex items-center pt-3">
                                                <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon><a th:text="${likeService.boardLikeSize(board)}"></a></div>
                                                <div class="flex items-center mx-4">
                                                    <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                    <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                        <div class="-space-x-2 flex items-center ml-1">
                                                            <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:data-jdenticon-value="${topReply.getAccount().nickname}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:src="${topReply.getAccount()?.profileImage}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                            </div>
                                                        </div>
                                                    </th:block>

                                                </div>
                                                <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="lg:flex lg:space-x-6 py-5" th:each="board : ${service.boardTitleList('졸업생게시판')}">
                                        <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}">
                                            <div class="lg:w-60 w-full h-40 overflow-hidden rounded-lg relative shadow-sm">
                                                <img src="/assets/images/blog/img-4.jpg" alt="" class="w-full h-full absolute inset-0 object-cover">
                                                <div class="absolute bg-purple-100 font-semibold px-2.5 py-1 rounded-full text-purple-500 text-xs top-2.5 left-2.5" th:text="${board.boardTitle}">

                                                </div>
                                            </div>
                                        </a>
                                        <div class="flex-1 lg:pt-0 pt-4">

                                            <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="text-xl font-semibold line-clamp-2" th:text="${board.title}"></a>
                                            <div style="white-space:pre;" class="line-clamp-3 pt-3 truncate md:text-clip" th:text="${board.content}"></div>

                                            <div class="flex items-center pt-3">
                                                <div class="flex items-center">  <ion-icon name="thumbs-up-outline" class="text-xl mr-2"></ion-icon><a th:text="${likeService.boardLikeSize(board)}"></a></div>
                                                <div class="flex items-center mx-4">
                                                    <ion-icon name="chatbubble-ellipses-outline"  class="text-xl mr-2"></ion-icon><a th:text="${replyService.boardReplySize(board)}"></a>
                                                    <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                        <div class="-space-x-2 flex items-center ml-1">
                                                            <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                                <svg th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:data-jdenticon-value="${topReply.getAccount().nickname}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"></svg>
                                                                <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                                     th:src="${topReply.getAccount()?.profileImage}"
                                                                     alt="" class="border-2 border-white rounded-full w-7 is_avatar"/>
                                                            </div>
                                                        </div>
                                                    </th:block>

                                                </div>
                                                <!--<div class="flex items-center"> <ion-icon name="bookmark-outline" class="text-xl mr-2"></ion-icon> 12  </div>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                    <div class="lg:w-1/4 w-full flex-shrink-0">

                        <div uk-sticky="offset:100" class="uk-sticky">
  
                          <h2 class="text-lg font-semibold mb-3"> Recently Posted </h2>
                          <ul> 
                              <li th:each="recent : ${recentlyBoards}">
                                  <a th:href="@{/board/detail/{boardId}(boardId = ${recent.bid})}" class="hover:bg-gray-100 rounded-md p-2 -mx-2 block">
                                      <h3 class="font-medium line-clamp-2" th:text="${recent.title}"></h3>
                                      <div class="flex items-center my-auto text-xs space-x-1.5">
                                        <div th:text="${service.boardDateTime(recent.uploadTime)}"></div> <div class="pb-1"> . </div>
                                        <ion-icon name="chatbox-ellipses-outline"></ion-icon> <div th:text="${replyService.boardReplySize(recent)}"></div>
                                     </div> 
                                  </a>
                              </li>
                          </ul>
                          <br>

                        </div>
                    </div>
                </div>

        
            </div>
        </div>
        
    </div>

    <script th:replace="theme-fragments.html :: form-validation"></script>
    <script type="application/javascript">
        $(document).ready(function (){

        })
    </script>

</body>
</html>