<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments :: head"></head>

<body>

<!-- content -->
<form class="container" action="/detail" th:action="@{/detail}" method="post">
    <!--<input type="text" class="form-control" name="id" hidden>
    <input type="text" class="form-control" name="studentId" hidden>
    <input type="text" class="form-control" name="uploadTime" hidden>-->

    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">작성자</label>
        <input type="text" class="form-control" th:value="${account.nickname}" name="writer">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">작성</button>
    <a href="/board" type="submit" class="btn btn-danger">취소</a>
</form>

</body>
</html>