<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="p-5">
  <div class="row">
    <div class="col-12 mb-3">
      <form class="form-inline my-2 my-lg-0 float-left">
        <input class="form-control mr-sm-2" type="search" placeholder="검색어를 입력해주세요." aria-label="Search" name="keyword"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">미구현</button>
      </form>
      <button class="btn btn-primary float-right"
              onclick="location.href='board_write.html'"
              th:onclick="|location.href='@{/board/write}'|"
              type="button">
        글 작성</button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th><a class="btn btn-default" href="board" th:href="@{/board}">전체게시판</a></th>
      <th><a class="btn btn-default" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='자유게시판')}">자유게시판</a></th>
      <th><a class="btn btn-default" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='정보공유게시판')}">정보공유게시판</a></th>
      <th><a class="btn btn-default" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='신입생게시판')}">신입생게시판</a></th>
      <th><a class="btn btn-default" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='졸업생게시판')}">졸업생게시판</a></th>
    </tr>
    </thead>
  </table>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">게시판</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${board}">
      <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.bid}">글번호</a></th>
      <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.boardTitle}">게시판</a></th>
      <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.title}">글제목</a></th>
      <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.writer}">작성자</a></th>
      <th:block th:if="${board.updateTime != null}">
        <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="|수정 : ${service.boardDateTime(board.updateTime)}|">작성일</a></th>
      </th:block>
      <th:block th:if="${board.updateTime == null}">
        <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${service.boardDateTime(board.uploadTime)}">작성일</a></th>
      </th:block>
      <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.pageView}">조회수</a></th>
    </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="">이전</a></li>
    <li class="page-item"><a class="page-link" href="">1</a></li>
    <li class="page-item"><a class="page-link" href="">2</a></li>
    <li class="page-item"><a class="page-link" href="">3</a></li>
    <li><a class="page-link" href="">다음</a></li>
  </ul>

</div>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>