<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<!-- content -->
<form class="container" action="/detail" th:action="@{/board/detail}" method="post">
    <!--<input type="text" class="form-control" name="id" hidden>
    <input type="text" class="form-control" name="studentId" hidden>
    <input type="text" class="form-control" name="uploadTime" hidden>-->
    <div class="mb-3">
        <label class="form-label">게시판 선택</label>
        <select class="form-control" name="boardTitle">
            <optgroup label="기본게시판">
                <option value="자유게시판">자유게시판</option>
                <option value="정보공유게시판">정보공유게시판</option>
            </optgroup>
            <optgroup label="전용게시판">
                <option value="신입생게시판">신입생게시판</option>
                <option value="졸업생게시판">졸업생게시판</option>
            </optgroup>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">작성자</label>
        <input type="text" class="form-control" th:value="${account.nickname}" name="writer" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea id="summernote" class="summernote" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">작성</button>
    <a href="/board" type="submit" class="btn btn-danger">취소</a>
</form>
<div th:replace="fragments.html :: footer"></div>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            placeholder: '자유롭게 글을 작성할 수 있습니다. <br/>명예훼손이나 상대방을 비방, 불쾌감을 주는 글, 욕설 등 남을 모욕하는 글은 임의로 제제가 있을 수 있습니다.',
            tabsize: 2,
            maxHeight: null,
            minHeight: null,
            lang : 'ko-KR',
            height: 500,
            prettifyHtml:false
        });
    });
</script>
</body>
</html>