<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <!-- 좌측 -->
        <div th:replace="fragments.html :: side-bar"></div>
        <!-- 좌측 끝 -->
        <div class="col-md-7 gedf-main">
            <th:block th:if="${bt != null}">
                <h3 th:text="${bt}"></h3>
            </th:block>
            <th:block th:if="${bt == null}">
                <h3 th:text="전체게시판"></h3>
            </th:block>
            <div class="form-group">
                <form class="form-inline my-2 my-lg-0 float-left" method="post" th:object="${searchForm}" th:action="@{/board/search/{boardTitle}(boardTitle=${bt})}">
                    <th:block th:if="${bt != null}">
                        <input type="hidden" name="boardTitle" th:value="${bt}">
                    </th:block>
                    <th:block th:if="${bt == null}">
                        <label>
                            <input type="hidden" name="boardTitle" th:value="전체게시판">
                        </label>
                    </th:block>
                    <select class="custom-select" name="searchType" th:field="*{searchType}">
                        <optgroup selected label="검색 내용 선택">
                            <option value="title">제목</option>
                            <option value="writer">작성자</option>
                            <option value="content">내용</option>
                        </optgroup>
                    </select>
                    <th:block th:if="${bt != null}">
                        <label>
                            <input class="form-control mr-sm-2" type="search" th:placeholder="|${bt} 내에서 검색|" aria-label="Search" name="keyword" th:field="*{keyword}"/>

                        </label>
                    </th:block>
                    <th:block th:if="${bt == null}">
                        <label>
                            <input class="form-control mr-sm-2" type="search" th:placeholder="전체게시판 내에서 검색" aria-label="Search" name="keyword" th:field="*{keyword}"/>

                        </label>
                    </th:block>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
                </form>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <button class="btn btn-primary float-right"
                            onclick="location.href='board_write.html'"
                            th:onclick="|location.href='@{/board/write}'|"
                            type="button">
                        글 작성</button>
                </div>
            </div>
            <!-- 게시글 작성 끝 -->
            <!-- 게시글 목록 시작 -->
            <div class="card gedf-card" th:each="board : ${board}">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <a class="rounded-circle" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.bid}"></a>
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">
                                    <th:block th:if="${!board.getIsReported()}">
                                        <a class="card-text text-dark font-weight-bold" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.title}">글 제목</a>
                                    </th:block>
                                    <th:block th:if="${board.getIsReported()}">
                                        <a class="card-text text-dark font-weight-bold" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}">신고된 게시글</a>
                                    </th:block>
                                </div>
                                <div class="h7 text-muted mb-0">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark font-weight-normal" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${board.writer}">
                                                <a class="btn btn-default">작성자</a>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><h6 class="dropdown-header" th:text="${board.writer}">Username</h6></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="#" th:href="@{/profile/{userNickName}(userNickName=${board.writer})}">프로필 보기</a></li>
                                                <li><a class="dropdown-item" href="board" th:href="@{/board/search/{writerId}(writerId=${board.writerId})}">작성한 게시물 보기</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <i class="fa-light fa-eye"></i><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.pageView}">조회수</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--게시판 정보 숨김-->
                    <!--<a class="card-text lead text-muted" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${board.boardTitle}">게시판</a>-->
                    <th:block th:if="${!board.getIsReported()}">
                        <div class="d-inline-block text-truncate" id="content" name="content" style="max-height: 150px" th:utext="${board.content}"></div>
                    </th:block>
                    <th:block th:if="${board.getIsReported()}">
                        <div class="d-inline-block text-truncate" id="content" name="content" style="max-height: 150px">신고된 게시글입니다.<br>확인 후 조치되기 전까지 조회가 불가능합니다.</div>
                    </th:block>
                </div>
                <div class="card-footer">
                    <th:block th:if="${board.updateTime != null}">
                        <i class="fa fa-clock-o"></i><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="|수정 : ${service.boardDateTime(board.updateTime)}|">작성일</a>
                    </th:block>
                    <th:block th:if="${board.updateTime == null}">
                        <i class="fa fa-clock-o"></i><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${service.boardDateTime(board.uploadTime)}">작성일</a>
                    </th:block>
                    <br>
                    <a href="#" class="card-link"><i class="fa fa-gittip"></i><a class="btn btn-default badge" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${likeService.boardLikeSize(board)}">좋아요 수</a></a>
                    <a href="#" class="card-link"><i class="fa fa-comment"></i><a class="btn btn-default badge" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.bid})}" th:text="${replyService.boardReplySize(board)}">댓글 수</a></a>
                </div>
            </div>
            <!-- 게시글 목록 끝 -->
        </div>
        <!-- 오른쪽 게시글 시작 -->
        <div class="col-md-3">
            <div class="card hedf-card">
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board}">전체게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='자유게시판')}">자유게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='정보공유게시판')}">정보공유게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='신입생게시판')}">신입생게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='졸업생게시판')}">졸업생게시판</a>
                </div>
            </div>
        </div>
        <!-- 오른쪽 게시글 끝 -->
    </div>
</div>

</body>
</html>