<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="p-5">
    <button class="btn btn-primary float-end"
            onclick="location.href='board_write.html'"
            th:onclick="|location.href='@{/board/write}'|"
            type="button">
        글 작성</button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">게시판</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.id})}" th:text="${board.id}">글번호</a></th>
            <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.id})}" th:text="${board.boardTitle}">게시판</a></th>
            <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.id})}" th:text="${board.title}">글제목</a></th>
            <th><a class="btn btn-default" href="board" th:href="@{/board/detail/{boardId}(boardId=${board.id})}" th:text="${board.content}">작성자</a></th>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>