<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <!-- 좌측 -->
        <div th:replace="fragments.html :: side-bar"></div>
        <!-- 좌측 끝 -->
        <div class="col-md-7 gedf-main">
            <th:block th:if="${account != null}">
                <!-- 로그인 유저 시작 -->
                <th:block th:if="${!board.getIsReported}">
                    <div th:replace="board/detail-fragments.html :: login-true"></div>
                </th:block>
                <th:block th:if="${board.getIsReported}">
                    <div th:replace="board/detail-fragments.html :: report-board"></div>
                </th:block>
            </th:block>
            <th:block th:if="${account == null}">
                <!-- 비로그인 유저 시작 -->
                <th:block th:if="${!board.getIsReported}">
                    <div th:replace="board/detail-fragments.html :: login-false"></div>
                </th:block>
                <th:block th:if="${board.getIsReported}">
                    <div th:replace="board/detail-fragments.html :: report-board"></div>
                </th:block>
            </th:block>
        </div>
        <!-- 오른쪽 게시글 시작 -->
        <div class="col-md-3">
            <div class="card hedf-card">
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board}">전체게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='자유게시판')}">자유게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='정보공유게시판')}">정보공유게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='신입생게시판')}">신입생게시판</a>
                </div>
                <div class="card-body">
                    <a class="card-title" href="board" th:href="@{/board/bt/{boardTitle}(boardTitle='졸업생게시판')}">졸업생게시판</a>
                </div>
            </div>
        </div>
        <!-- 오른쪽 게시글 끝 -->
    </div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>