<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>
<!-- include libraries(jQuery, bootstrap) -->
<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">-->

<!-- include summernote css/js -->


<body>
<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <form class="needs-validation col-sm-10"
              th:action="@{/study-form}"
              th:object="${studyForm}"
              method="post" name="studyForm" novalidate>
            <div class="mcontainer">

                <!--  breadcrumb -->
                <div class="breadcrumb-area py-0">
                    <div class="breadcrumb">
                        <ul class="m-0">
                            <li>
                                <a th:href="@{/study}">스터디</a>
                            </li>
                            <li>
                                <a style="font-weight: bold" href="#">스터디 생성 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="grid lg:grid-cols-4 sm:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 class="text-xl mb-2 font-semibold"> 스터디 소개</h3>
                        <p>스터디에 사용될 주소, 이름, 연락처, 진행방식을 적어주세요.</p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-md shadow lg:col-span-3 sm:col-span-2 lg:mx-16">
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div class="col-span-2">
                                <label for="path"> 스터디 주소</label>
                                <input id="path" type="text" th:field="*{path}" class="shadow-none with-border form-control"
                                       placeholder="예) study-path" aria-describedby="pathHelp" required min="2" max="20"
                                       pattern="[ㄱ-ㅎ가-힣a-zA-Z0-9_-]{2,20}">
                                <small id="pathHelp" class="form-text text-muted">
                                    공백없이 2~20자 이내로 입력하세요. <br>
                                    스터디 주소에 사용합니다. 예) /study/<b>study-path</b>
                                </small>
                                <small class="invalid-feedback">스터디 경로를 확인해주세요. 0~20자 이내로 작성해주세요</small>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('path')}" th:errors="*{path}">path Error</p>
                            </div>
                            <div class="col-span-2">
                                <label for="title"> 스터디 이름</label>
                                <input id="title" type="text" th:field="*{title}" class="shadow-none with-border form-control"
                                       placeholder="스터디 이름 입력해주세요" aria-describedby="titleHelp" required max="50">
                                <small id="titleHelp" class="form-text text-muted">
                                    스터디 이름은 설정에서 변경이 가능합니다
                                </small>
                                <small class="invalid-feedback">스터디 이름을 확인해주세요.</small>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</p>
                            </div>
                            <div class="col-span-2">
                                <label for="managerEmail"> 연락처(이메일)</label>
                                <input id="managerEmail" type="email" th:field="*{managerEmail}" class="shadow-none with-border form-control"
                                       placeholder="스터디원들에게 공개 될 이메일을 입력해주세요" aria-describedby="titleHelp" required max="50">
                                <small id="managerEmailHelp" class="form-text text-muted">
                                    로그인시 사용하는 이메일이 아닌 다른 이메일을 사용해주시기 바랍니다.
                                </small>
                                <small class="invalid-feedback">이메일을 다시 확인해주세요.</small>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('managerEmail')}" th:errors="*{managerEmail}">managerEmail Error</p>
                            </div>
                            <div class="col-span-2">
                                <label for="shortDescription">한 문장 소개</label>
                                <textarea id="shortDescription" type="textarea" th:field="*{shortDescription}"
                                          class="shadow-none with-border pt-2 pl-4 form-control"
                                          placeholder="스터디를 짧게 소개해 주세요." aria-describedby="shortDescriptionHelp" required maxlength="100"></textarea>
                                <small id="shortDescriptionHelp" class="form-text text-muted">
                                    스터디를 한 문장으로 간단하게 소개해주세요
                                </small>
                                <small class="invalid-feedback">짧은 소개를 확인해주세요.</small>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}">shortDescription Error</p>
                            </div>
                            <div>
                                <label for="studyPlaces"> 장소</label>
                                <input id="studyPlaces" type="text" th:field="*{studyPlaces}"
                                          class="shadow-none with-border pt-2 pl-4 form-control"
                                          placeholder="스터디 장소를 입력해주세요." aria-describedby="studyPlacesHelp" required max="20">
                                <small id="studyPlacesHelp" class="form-text text-muted">
                                    스터디를 간단하게 소개해 주세요.
                                </small>
                                <small class="invalid-feedback">장소를 확인해주세요.</small>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('studyPlaces')}" th:errors="*{studyPlaces}">studyPlaces Error</p>
                            </div>
                            <div>
                                <label for="studyMethod"> 스터디 방식</label>

                                <select th:field="*{studyMethod}" id="studyMethod" name="relationship"
                                        class="selectpicker form-control"
                                        aria-describedby="studyMethodHelp" required>
                                    <option class="" th:value="오프라인" selected>온라인</option>
                                    <option class="" th:value="온라인">오프라인</option>
                                    <option class="" th:value="온오프라인">온라인, 오프라인</option>
                                </select>
                                <small id="studyMethodHelp" class="form-text text-muted">
                                    스터디 방식을 선택해주세요. 중복 선택 가능합니다.
                                </small>
                                <small class="invalid-feedback">스터디 장소 확인해주세요.</small>
                                <p class="form-text text-danger" th:if="${#fields.hasErrors('studyMethod')}" th:errors="*{studyMethod}">studyMethod Error</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid lg:grid-cols-4 sm:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 class="text-xl mb-2 font-semibold"> 상세 설명</h3>
                        <p> 위의 내용을 포함해서 더 자세한 내용을 적어주세요.</p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-md shadow lg:col-span-3 sm:col-span-2 lg:mx-16">
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div class="col-span-2">
                                <label for="fullDescription">상세 소개</label>
                                <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="shadow-none with-border p-3 form-control" placeholder="스터디를 자세히 설명해 주세요." aria-describedby="fullDescriptionHelp" required></textarea>
                                <small id="fullDescriptionHelp" class="form-text text-muted">
                                    목표, 일정, 진행방식, 위치, 모집인원 등 최대한 자세히 적어주세요
                                </small>
                                <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}" th:errors="*{fullDescription}">fullDescription Error</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid lg:grid-cols-4 mt-12 gap-8 sm:grid-cols-3">
                    <div>
                        <h3 class="text-xl mb-2 font-semibold"> 기간 및 인원</h3>
                        <p> 스터디 인원 및 기간 설정을 할 수 있습니다.</p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-md shadow lg:col-span-3 sm:col-span-2 lg:mx-16">

                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div>
                                <label for="limitMember">인원</label>
                                <input id="limitMember" type="number" th:field="*{limitMember}" class="shadow-none with-border p-3 form-control" placeholder="2" aria-describedby="limitMembersHelp" min="2" max="30">
                                <small id="limitMemberHelp" class="form-text text-muted">
                                    스터디 인원은 최소 2명에서 30명까지 선택 가능합니다.
                                </small>
                                <small class="invalid-feedback"> 스터디 모집 인원을 확인해주세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('limitMember')}" th:errors="*{limitMember}">limitMember Error</small>
                            </div>
                            <div>
                                <label for="limitMemberDate">인원 모집 기간</label>
                                <div class="form-group">
                                    <input id="limitMemberDate" type="date" th:field="*{limitMemberDate}" class="shadow-none with-border p-3 form-control"
                                           aria-describedby="limitPersonDateHelp" required>
                                </div>
                                <small id="limitPersonDateHelp" class="form-text text-muted">
                                    스터디 인원 모집 마감일을 설정해주세요<br>
                                    인원 모집 시작은 설정에서 가능합니다.
                                </small>
                                <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('limitMemberDate')}" th:errors="*{limitMemberDate}">limitMemberDate Error</small>
                            </div>


                            <div>
                                <label for="startStudyDate">스터디 시작일</label>
                                <div class="form-group">
                                    <input id="startStudyDate" type="date" th:field="*{startStudyDate}" class="shadow-none with-border p-3 form-control"
                                           aria-describedby="startStudyDateHelp" required>
                                </div>
                                <small id="startStudyDateHelp" class="form-text text-muted">
                                    스터디 시작 날짜를 설정해주세요
                                </small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('startStudyDate')}" th:errors="*{startStudyDate}">startStudyDate Error</small>
                                <small class="invalid-feedback">스터디 시작 날짜를 다시 확인해주세요.</small>
                            </div>
                            <div>
                                <label for="limitStudyDate">스터디 종료일</label>
                                <div class="form-group">
                                    <input id="limitStudyDate" type="date" th:field="*{limitStudyDate}" class="shadow-none with-border p-3 form-control"
                                           aria-describedby="limitStudyDateHelp" required>
                                </div>
                                <small id="limitStudyDateHelp" class="form-text text-muted">
                                    스터디 종료 날짜를 설정해주세요<br>
                                </small>
                                <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('limitStudyDate')}" th:errors="*{limitStudyDate}">limitStudyDateHelp Error</small>
                            </div>
                        </div>
                        <div class="bg-gray-10 p-3 flex justify-end space-x-1">
                            <button type="reset" class="p-2 px-4 rounded bg-red-600 text-white"> 취소 </button>
                            <button type="submit" class="button bg-blue-600"> 스터디 생성 </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <script th:replace="theme-fragments.html :: form-validation"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            //여기 아래 부분
            $('#fullDescription').summernote({
                height: 300,                 // 에디터 높이
                minHeight: null,             // 최소 높이
                maxHeight: null,             // 최대 높이
                lang: "ko-KR",					// 한글 설정
                placeholder: '스터디에 관련해서 최대한 자세히 작성해주세요. <br> 이미지 또한 사용 가능합니다.'	//placeholder 설정

            });
        });
    </script>
</body>
</html>



