<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: study-menu (currentStudyMenu = 'meeting')"></div>
            <div id="create-post-modal" class="create-post" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical shadow-2xl uk-animation-slide-bottom-small">

                    <div class="py-4 border-b flex  justify-between px-6">
                        <h3 class="text-lg font-semibold" id="forum_head"> 모임 작성하기 </h3>
                        <div>
                            <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                                    type="button" uk-close>
                                <i class="icon-feather-close"></i>
                            </button>
                        </div>
                    </div>
                    <!--모임 폼-->
                    <form class="needs-validation space-y-4 g:w-8/12" id="board_form"
                          th:object="${meetingsForm}"
                          th:action="@{'/study/' + ${study.getPath()} + '/meetings'}"
                          method="post" novalidate>
                        <div class="create-post-modal-body space-x-6 p-5 overflow-x-hidden mr-1" data-simplebar>
                            <div class="space-y-4 g:w-8/12">
                                <div class="form-group">
                                    <label for="selectBox"> 유형 선택 </label>
                                    <select id="selectBox" name="selectBox"  class="shadow-none with-border px-2" th:field="*{meetingDivision}">
                                        <option data-icon="icon-material-outline-assignment" th:value="자유" value="자유" selected>공지</option>
                                        <option data-icon="icon-material-outline-help-outline" th:value="질문">질문</option>
                                        <option data-icon="icon-material-outline-assignment" th:value="정보">정보</option>
                                    </select>
                                </div>

                                <div class="font-semibold text-lg"> 자세한 내용 </div>
                                <!-- 제목 -->
                                <div class="form-group">
                                    <div class="line form-group">
                                        <input class="line__input form-control" id="title" th:field="*{meetingTitle}"
                                               type="text" onkeyup="this.setAttribute('value', this.value);"
                                               aria-describedby="titleHelp" required autocomplete="off">
                                        <span for="username" class="line__placeholder"> 제목 </span>
                                    </div>
                                    <small id="titleHelp" class="form-text text-muted">
                                        제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                    </small>
                                    <small class="invalid-feedback">제목을 입력해주세요.</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('meetingTitle')}" th:errors="*{meetingTitle}">meetingTitle Error</small>

                                </div>
                                <!-- 주제 -->
                                <div id="meetingMethod" class="form-group">
                                    <div class="line form-group">
                                        <input class="line__input form-group" id="method" th:field="*{meetingMethod}"
                                               type="text" onkeyup="this.setAttribute('value', this.value);"
                                               aria-describedby="subTitleHelp" required autocomplete="off">
                                        <span for="username" class="line__placeholder"> 주제 </span>
                                    </div>
                                    <small class="invalid-feedback">주제를 입력해주세요..</small>
                                    <small id="meetingMethodHelp" class="form-text text-muted">
                                        질문에 관련한 주제를 입력해주세요.
                                    </small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('meetingMethod')}" th:errors="*{meetingMethod}">meetingMethod Error</small>
                                </div>
                                <!-- 위치 -->
                                <div id="meetingPlaces" class="form-group">
                                    <div class="line form-group">
                                        <input class="line__input form-group" id="places" th:field="*{meetingPlaces}"
                                               type="text" onkeyup="this.setAttribute('value', this.value);"
                                               aria-describedby="subTitleHelp" required autocomplete="off">
                                        <span for="username" class="line__placeholder"> 위치 </span>
                                    </div>
                                    <small class="invalid-feedback">스터디를 진행할 곳을 적어주세요..</small>
                                    <small id="meetingPlacesHep" class="form-text text-muted">
                                        스터디를 진행할 곳을 적어주세요.
                                    </small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('meetingPlaces')}" th:errors="*{meetingPlaces}">meetingPlaces Error</small>
                                </div>
                                <!-- 본문 -->
                                <div class="form-group">
                                    <div class="line form-group">
                                        <label for="meetingDescription">상세 소개</label>
                                        <textarea id="meetingDescription" type="textarea"
                                                  th:field="*{meetingDescription}" class="shadow-none with-border p-3 form-control"
                                                  placeholder="스터디를 자세히 설명해 주세요." aria-describedby="fullDescriptionHelp" required></textarea>
                                        <small id="meetingDescriptionHelp" class="form-text text-muted">
                                            목표, 일정, 진행방식, 위치, 모집인원 등 최대한 자세히 적어주세요
                                        </small>
                                        <small class="invalid-feedback">자세한 일정을 공유해주세요.</small>
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('meetingDescription')}" th:errors="*{meetingDescription}">meetingDescription Error</small>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="flex items-center w-full justify-between p-3 border-t">
                            <div class="flex items-center space-x-2">
                                <!--<ion-icon name="checkmark-circle" class="text-green-600 text-xl"></ion-icon>
                                <div> You are successfuly uploaded</div>-->
                            </div>

                            <div class="flex space-x-2">
                                <button type="submit"
                                        id = "board_form_send"
                                        class="bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                                    추가
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--모임 내용-->
            <div class="lg:mt-8 mt-4">
                <div class="md:flex md:space-x-6">
                    <div class="space-y-5 flex-shrink-0 md:w-7/12">
                        <!-- 모임 view  -->
                        <div th:each="meeting : ${meetingsList}" class="card lg:mx-0 uk-animation-slide-bottom-small">
                            <!-- 헤더 -->
                            <div class="flex justify-between items-center lg:p-4 p-2.5">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="#">
                                        <svg th:if="${#strings.isEmpty(meeting.writer.profileImage)}"
                                             th:data-jdenticon-value="${meeting.writer.studentId}"
                                             class="border border-white rounded-full w-10 h-10">
                                        </svg>
                                        <img th:if="${!#strings.isEmpty(meeting.writer.profileImage)}"
                                             th:src="${meeting.writer.profileImage}" alt=""
                                             class=" border border-white rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1 font-semibold capitalize">
                                        <a th:text="${meeting.writer.nickname}" href="#" class="text-black dark:text-gray-100"> Johnson smith </a>
                                        <div th:text="${meeting.meetingDivision}" class="text-sm"></div>
                                        <span th:text="${#temporals.format(meeting.uploadTime,  'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>

                                <div th:if="${account.username.equals(meeting.writer.username)}">
                                    <a href="#">
                                        <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"></i>
                                    </a>
                                    <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
                                         uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small">
                                        <ul class="space-y-1">
                                            <li>
                                                <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                    <i class="uil-edit-alt mr-1"></i> 수정
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                                    <i class="uil-trash-alt mr-1"></i> 삭제
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card p-5">
                                <div class="" th:text="'지역 : ' + ${meeting.meetingPlaces}"></div>
                                <div class="" th:text="'주제 : ' + ${meeting.meetingMethod}"></div>

                                <a href="#"
                                   th:href="@{'/study/' + ${study.path} + '/meetings/' + ${meeting.meetingsId}}">
                                    자세히 보기
                                </a>
                            </div>
                        </div>

                        <div class="flex justify-center mt-6">
                            <a href="#" class="bg-white font-semibold my-3 px-6 py-2 rounded-full shadow-md dark:bg-gray-800 dark:text-white">
                                더 보기</a>
                        </div>
                    </div>

                    <!-- Sidebar -->
                    <div class="w-full space-y-6">
                        <div uk-sticky="media @m ; offset:80 ; bottom : true">
                            <div class="widget card p-5">
                                <h4 class="text-lg font-semibold"> 스터디 주요 관심사 </h4>
                                <h5 class="text-lg font-semibold" th:if="${study.tags.size() == 0}">
                                    스터디 주제가 아직 등록되지 않았습니다.
                                </h5>

                                <ul class="text-gray-600 space-y-3 mt-3" th:if="${study.tags.size() != 0}">
                                    <li class="flex items-center space-x-2" th:each="tag : ${study.tags}">
                                        <a class="text-decoration-none text-white">
                                            #<span th:text="${tag.title}">Tag</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#" th:href="@{'/study/' + ${study.path} + '/settings/tags'}" class="button gray mt-3 w-full"> 스터디 관심사 추가 </a>
                            </div>

                            <div class="widget card p-5 border-t mt-5">
                                <div class="flex items-center justify-between mb-4">
                                    <div>
                                        <h4 class="text-lg font-semibold"> 인원 </h4>
                                        <p class="text-sm" th:text="${study.memberCount} + '명 참여 중'"> 3,4510 Friends</p>
                                    </div>
                                </div>
                                <div class="grid grid-cols-3 gap-3 text-gray-600 font-semibold">
                                    <a href="#" th:each="managers : ${study.managers}">
                                        <div class="avatar relative rounded-md overflow-hidden w-full h-16 mb-2">
                                            <svg th:if="${#strings.isEmpty(managers.profileImage)}"
                                                 th:data-jdenticon-value="${managers.studentId}"
                                                 class="w-full h-full object-cover absolute">

                                            </svg>
                                            <img th:if="${!#strings.isEmpty(managers.profileImage)}"
                                                 th:src="${managers.profileImage}" alt=""
                                                 class="w-full h-full object-cover absolute">
                                        </div>
                                        <div th:text="${managers.nickname}" class="text-center text-sm truncate"> 유저 닉네임 </div>
                                    </a>
                                    <a href="#" th:each="member : ${study.members}">
                                        <div class="avatar relative rounded-md overflow-hidden w-full h-16 mb-2">
                                            <svg th:if="${#strings.isEmpty(member.profileImage)}"
                                                 th:data-jdenticon-value="${member.studentId}"
                                                 class="w-full h-full object-cover absolute">

                                            </svg>
                                            <img th:if="${!#strings.isEmpty(member.profileImage)}"
                                                 th:src="${member.profileImage}" alt=""
                                                 class="w-full h-full object-cover absolute">
                                        </div>
                                        <div th:text="${member.nickname}" class="text-center text-sm truncate"> 유저 닉네임 </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 스터디 참여 인원 -->
<script th:replace="theme-fragments.html :: studyBanner"></script>
<script th:replace="theme-fragments.html :: form-validation"></script>

</body>
</html>