<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: study-menu (currentStudyMenu = 'meeting')"></div>

            <div class="lg:mt-8 mt-4">

                <!-- Timeline -->
                <div class="md:flex md:space-x-6">
                    <div class="space-y-5 flex-shrink-0 md:w-7/12">
                        <!-- create post  -->
                        <div class="card lg:mx-0 uk-animation-slide-bottom-small">
                            <!-- post header-->
                            <div class="flex justify-between items-center lg:p-4 p-2.5">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="#">
                                        <svg th:if="${#strings.isEmpty(meeting.writer.profileImage)}"
                                             th:data-jdenticon-value="${meeting.writer.studentId}"
                                             class="border border-white rounded-full w-10 h-10">
                                        </svg>
                                        <img th:if="${!#strings.isEmpty(meeting.writer.profileImage)}"
                                             th:src="${meeting.writer.profileImage}" alt=""
                                             class=" border border-white rounded-full w-10 h-10">
                                    </a>
                                    <div class="flex-1 font-semibold capitalize">
                                        <a th:text="${meeting.writer.nickname}" href="#" class="text-black dark:text-gray-100"> Johnson smith </a>
                                        <div th:text="${meeting.meetingDivision}" class="text-sm"></div>
                                        <span th:text="${#temporals.format(meeting.uploadTime,  'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>

                                <div th:if="${account.username.equals(meeting.writer.username)}">
                                    <a href="#">
                                        <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"></i>
                                    </a>
                                    <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
                                         uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small">
                                        <ul class="space-y-1">
                                            <li>
                                                <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                    <i class="uil-edit-alt mr-1"></i> 수정
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                                    <i class="uil-trash-alt mr-1"></i> 삭제
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card p-5">
                                <div class="" th:text="'지역 : ' + ${meeting.meetingPlaces}"></div>
                                <div class="" th:text="'주제 : ' + ${meeting.meetingMethod}"></div>

                                <div class="line-clamp-3" id="more-text" th:utext="${meeting.meetingDescription}">
                                </div>
                                <!--                                <a href="#" id="more-text" uk-toggle="target: #more-text; cls: line-clamp-3"> 자세히 보기 </a>-->
                                <!-- 댓글 -->

                            </div>
                        </div>
                        <div class="card p-6 relative mt-5">
                            <h3 class="mb-8 mt-2 font-semibold text-xl"> 댓글 작성 </h3>
                            <div class="bg-gray-100 rounded-full relative dark:bg-gray-800 border-t">
                                <form id="reply_form" onsubmit="return false">
                                    <input type="hidden" id="r_board_id" name="r_board_id" class="form-control"
                                           value="1" th:value="${meeting.meetingsId}" readonly>
                                    <input type="hidden" id="r_account_id" name="r_account_id" class="form-control"
                                           value="1" th:value="${account.id}" readonly>
                                    <input type="text" id="r_content" placeholder="여러분의 소중한 댓글을 입력해주세요."
                                           name="r_content" class="rounded-full relative dark:bg-gray-500 border-t p-5">
                                    <div class="-m-0.5 absolute bottom-0 flex items-center right-3 text-xl">
                                        <a class="write_reply">
                                            <ion-icon name="return-down-back-outline" class="hover:bg-gray-200 p-1.5 rounded-full"></ion-icon>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card p-6">
                            <div class="reply_div">
                                <div class="border-t py-4 space-y-4">
                                    <div th:each="reply : ${reply}" class="flex gap-x-4 relative rounded-md">
                                        <svg th:if="${#strings.isEmpty(reply.getAccount()?.profileImage)}"
                                             th:data-jdenticon-value="${reply.getAccount().studentId}"
                                             alt="" class="rounded-full shadow w-12 h-12 is_avatar"></svg>
                                        <img th:if="${!#strings.isEmpty(reply.getAccount()?.profileImage)}"
                                             th:src="${reply.getAccount()?.profileImage}"
                                             alt="" class="rounded-full shadow w-12 h-12 is_avatar"/>
                                        <th:block th:if="${reply.getAccount().id == account.id}">
                                            <div class="absolute right-5 top-0 text-red-500" uk-tooltip="댓글 수정">
                                                <div class="reply_update_modal">
                                                    <a th:href="'#create-post-modal'+${reply.rid}" uk-toggle class="h-10 w-10 z-10 text-blue-500">
                                                        <i class="fa fa-cog" id="updateFormBtn1"></i>
                                                        <span>수정</span>
                                                    </a>
                                                    <!-- Craete video post modal -->
                                                    <div th:id="'create-post-modal'+${reply.rid}" class="create-post" uk-modal>
                                                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical shadow-2xl uk-animation-slide-bottom-small">

                                                            <div class="py-4 border-b flex  justify-between px-6">
                                                                <h3 class="text-lg font-semibold"> 댓글 수정하기 </h3>
                                                                <div>
                                                                    <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                                                                            type="button" uk-close>
                                                                        <i class="icon-feather-close"></i>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <form class="space-y-4 g:w-8/12" onsubmit="return false" id="reply_update_form">
                                                                <div class="create-post-modal-body space-x-6 p-5 overflow-x-hidden mr-1 max-h-fit" data-simplebar>
                                                                    <div class="space-y-4 g:w-8/12">
                                                                        <div class="font-semibold text-lg"> 댓글 수정 </div>
                                                                        <a th:text="${reply.rid}"></a>
                                                                        <div class="border focus-within:border-blue-300 p-3 pb-0 rounded-md form-group d-none">
                                                                            <label for="writer" class="mb-0 ml-2 text-gray-600 text-sm">rid</label>
                                                                            <input type="hidden" placeholder="닉네임 입력해주세요."
                                                                                   name="reply_update_rid" readonly th:value="${reply.rid}"
                                                                                   id="reply_update_rid"
                                                                                   class="-mt-2 -mx-3 bg-transparent focus:bg-white focus:ring-gray-300 h-8 outline-none px-0 text-base w-full form-control">
                                                                        </div>
                                                                        <div class="border focus-within:border-blue-300 p-3 rounded-md form-group">
                                                                            <label for="reply_update_content" class="mb-0 ml-2 text-gray-600 text-sm"> Description</label>
                                                                            <textarea type="text" rows="5" placeholder="내용을 입력해주세요." name="reply_update_content" id="reply_update_content"
                                                                                      required th:text="${reply.content}"
                                                                                      class="bg-transparent focus:bg-white focus:ring-gray-300 focus:shadow-none outline-none p-2 resize-none shadow-none text-base w-full form-control"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="flex items-center w-full justify-between p-3 border-t">

                                                                    <div class="flex items-center space-x-2">

                                                                        <div></div>

                                                                    </div>

                                                                    <div class="flex space-x-2">
                                                                        <a th:href="@{/board/detail/reply/delete/{rid}(rid=${reply.rid})}"
                                                                           class="bg-red-100 flex font-medium h-9 items-center justify-center px-5 rounded-md text-red-600 text-sm">
                                                                            삭제하기 </a>
                                                                        <button id = "update_reply"
                                                                                class="uk-modal-close bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                                                                            수정하기 </button>
                                                                    </div>

                                                                    <button hidden
                                                                            class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
                                                                        수정하기 </button>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <div>
                                            <a th:href="@{/profile/{nickname}(nickname=${reply.getAccount().nickname})}">
                                                <h4 class="text-base m-0 font-semibold" th:text="${reply.getAccount().nickname}">댓글 작성자</h4>
                                            </a>
                                            <span class="text-gray-700 text-sm" th:text="${service.meetingDateTime(reply.uploadTime)}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<a href="#" class="hover:text-blue-600 hover:underline"> 8개의 댓글이 더 있습니다. </a>-->
                            <!--<div class="bg-gray-100 rounded-full relative dark:bg-gray-800 border-t">
                                <input placeholder="Add your Comment.." class="bg-transparent max-h-10 shadow-none px-5">
                            </div>-->

                        </div>

                        <div class="flex justify-center mt-6">
                            <a href="#" class="bg-white font-semibold my-3 px-6 py-2 rounded-full shadow-md dark:bg-gray-800 dark:text-white">
                                더 보기</a>
                        </div>
                    </div>

                    <!-- Sidebar -->
                    <div class="w-full space-y-6">
                        <div uk-sticky="media @m ; offset:80 ; bottom : true">
                            <div class="widget card p-5">
                                <h4 class="text-lg font-semibold"> 스터디 주요 관심사 </h4>
                                <h5 class="text-lg font-semibold" th:if="${study.tags.size() == 0}">
                                    스터디 주제가 아직 등록되지 않았습니다.
                                </h5>

                                <ul class="text-gray-600 space-y-3 mt-3" th:if="${study.tags.size() != 0}">
                                    <li class="flex items-center space-x-2" th:each="tag : ${study.tags}">
                                        <a class="text-decoration-none text-white">
                                            #<span th:text="${tag.title}">Tag</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#" th:href="@{'/study/' + ${study.path} + '/settings/tags'}" class="button gray mt-3 w-full"> 스터디 관심사 추가 </a>
                            </div>

                            <div class="widget card p-5 mt-5">
                                <h4 class="text-lg font-semibold"> 모임 위치 및 주제  </h4>

                                <div class="flex items-center space-x-3 mt-2">
                                    <ion-icon name="people" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                    <div class="flex-1">
                                        <div th:text="${meeting.meetingMethod}" class="font-semibold"> 모집 인원 </div>
                                    </div>
                                </div>

                                <div class="flex items-center space-x-3 mt-2">
                                <ion-icon name="people" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                <div class="flex-1">
                                    <div th:text="${meeting.meetingPlaces}" class="font-semibold"> 모집 인원 </div>
                                </div>
                            </div>

                            </div>


                            <div class="widget card p-5 border-t mt-5">
                                <div class="flex items-center justify-between mb-4">
                                    <div>
                                        <h4 class="text-lg font-semibold"> 인원 </h4>
                                        <p class="text-sm" th:text="${study.memberCount} + '명 참여 중'"> 3,4510 Friends</p>
                                    </div>
                                </div>
                                <div class="grid grid-cols-3 gap-3 text-gray-600 font-semibold">
                                    <a href="#" th:each="managers : ${study.managers}">
                                        <div class="avatar relative rounded-md overflow-hidden w-full h-16 mb-2">
                                            <svg th:if="${#strings.isEmpty(managers.profileImage)}"
                                                 th:data-jdenticon-value="${managers.studentId}"
                                                 class="w-full h-full object-cover absolute">

                                            </svg>
                                            <img th:if="${!#strings.isEmpty(managers.profileImage)}"
                                                 th:src="${managers.profileImage}" alt=""
                                                 class="w-full h-full object-cover absolute">
                                        </div>
                                        <div th:text="${managers.nickname}" class="text-center text-sm truncate"> 유저 닉네임 </div>
                                    </a>
                                    <a href="#" th:each="member : ${study.members}">
                                        <div class="avatar relative rounded-md overflow-hidden w-full h-16 mb-2">
                                            <svg th:if="${#strings.isEmpty(member.profileImage)}"
                                                 th:data-jdenticon-value="${member.studentId}"
                                                 class="w-full h-full object-cover absolute">

                                            </svg>
                                            <img th:if="${!#strings.isEmpty(member.profileImage)}"
                                                 th:src="${member.profileImage}" alt=""
                                                 class="w-full h-full object-cover absolute">
                                        </div>
                                        <div th:text="${member.nickname}" class="text-center text-sm truncate"> 유저 닉네임 </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script th:replace="theme-fragments.html :: studyBanner"></script>
<script th:replace="theme-fragments.html :: ajax-csrf"></script>

<script type="application/javascript">
    $(document).ready(function() {
        //여기 아래 부분
        $('#meetingDescription').summernote({
            height: 300,                 // 에디터 높이
            minHeight: null,             // 최소 높이
            maxHeight: null,             // 최대 높이
            focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
            lang: "ko-KR",					// 한글 설정
            toolbar: [
                ['font', ['bold', 'italic', 'underline', 'clear', 'codeblock']],
                ['mybutton', ['hello']],
                ['insert',['picture','link']],
            ],
            placeholder: '스터디 모집글을 아래 양식을 참고해 작성해주세요. <br> 꼼꼼히 작성하면 멋진 스터디 팀원을 만나실 수 있을거예요.  <br/> [개발 스터디 모집 내용 예시] <br/> 스터디 주제 : <br/> 스터디 목표 : ' //placeholder 설정

        });

        var input = document.getElementById("r_content");
        input.addEventListener('keypress', function(key){
            if (input.value == '' && key.key == 'Enter') {
                alert("댓글을 입력해주세요.");
            }
            if(input.value != '' && key.key == 'Enter'){
                $.ajax({
                    url:'/study/meetings/reply',
                    type:'get',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    data : $('#reply_form').serialize(),
                    dataType : "json",
                    success : function (){
                        console.log("Write Reply Success");
                        $('.reply_div').load(location.href+' .reply_div');
                        input.value ='';
                    },
                    error : function (request, status, error){
                        console.log("Write Reply Fail" + error);
                    }
                });
            }
        });

        $(document).on('click', '.write_reply', function() {
            if (input.value == '') {
                alert("댓글을 입력해주세요.");
            }
            if (input.value != '') {
                console.log("댓글 작성");
                $.ajax({
                    url:'/study/meetings/reply',
                    type:'get',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    data : $('#reply_form').serialize(),
                    dataType : "json",
                    success : function (){
                        console.log("Write Reply Success");
                        $('.reply_div').load(location.href+' .reply_div');
                        input.value ='';
                    },
                    error : function (request, status, error){
                        console.log("Write Reply Fail" + error);
                    }
                });
            }
        });

        // 댓글 수정 ajax
        var reply_input = document.getElementById("reply_update_content");
        $(document).on('click', '#update_reply', function() {
            if (reply_input.value == '') {
                alert("댓글을 입력해주세요.");
            }
            if (reply_input.value != '') {
                console.log("댓글 수정");
                $.ajax({
                    url:'/study/meetings/reply/update',
                    type:'get',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    data : $('#reply_update_form').serialize(),
                    dataType : "json",
                    success : function (){
                        console.log("Reply Update Success");
                        $('.reply_div').load(location.href+' .reply_div');
                        $('#reply_update_form').load(location.href+' #reply_update_form');
                    },
                    error : function (request, status, error){
                        console.log("Reply Update Fail" + error);
                    }
                });
            }
        });
    });
</script>
</body>
</html>
