<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='study')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: checked-email"></div>

            <div class="lg:flex lg:space-x-10">
                <div class="lg:w-3/4">
                    <div class="flex justify-between relative md:mb-4 mb-3">
                        <div class="flex-1">
                            <h2 class="text-2xl font-semibold"> 스터디</h2>
                            <nav class="responsive-nav border-b md:m-0 -mx-4">
                                <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                                    <li><a href="#" class="lg:px-2"> 신규 </a></li>
                                    <li><a href="#" class="lg:px-2"> 참여 </a></li>
                                    <li><a href="#" class="lg:px-2"> 관리 </a></li>
                                </ul>
                            </nav>
                        </div>
                        <a th:href="@{/study-form}" class="flex items-center justify-center h-9 lg:px-5 px-2 rounded-md bg-blue-600 text-white space-x-1.5 absolute right-0">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="md:block hidden"> 스터디 추가 </span>
                        </a>
                    </div>

                    <div th:replace="theme-fragments.html :: study-tag-list (tagList = ${studyTagListTitle})"></div>

                    <div class="uk-switcher" id="timeline-tab">
                        <!--전체-->
                        <div th:replace="theme-fragments.html :: study-list-type-not-contains(studyType=${studyListId})"></div>
                        <!--참여 중 스터디-->
                        <div th:replace="theme-fragments.html :: study-list-type(studyType=${enrolledStudyList})"></div>
                        <!--관리 중 스터디-->
                        <div th:replace="theme-fragments.html :: study-list-type(studyType=${myStudyList})"></div>

                    </div>

                    <div class="sm:my-6 my-3 flex items-center justify-between border-b pb-3">
                        <div>
                            <h2 class="text-xl font-semibold"> 추천 스터디 </h2>
                            <p class="font-medium text-gray-500 leading-6"> 본인의 태그와 관련된 추천 스터디 입니다. </p>
                        </div>
                    </div>
                    <!--추천 중인 스터디-->
                    <div th:replace="theme-fragments.html :: study-list-type-not-contains(studyType=${suggestStudyList})"></div>

                </div>
                <div class="lg:w-1/4 w-full lg:mt-0 mt-7">
                    <div th:if="${accountWithTagsById.tags.isEmpty()}">
                        <div th:replace="theme-fragments.html :: study-account-tag-list-empty"></div>
                    </div>
                    <div th:if="${!accountWithTagsById.tags.isEmpty()}">
                        <div th:replace="theme-fragments.html :: study-acount-tag-list(tagList = ${accountWithTagsById})"></div>
                    </div>
                    <hr>
                </div>
            </div>

            <br>

        </div>
    </div>
</div>


</body>
</html>