<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<style>
    body{
        background-color: white;
    }
    card{
        border: none;
    }
    .container{
        margin: 50px 150px 50px 150px;
    }

</style>
<head th:replace="fragments.html :: head"></head>
<body>

<div th:replace="fragments.html :: main-nav"></div>
<!--    <div th:replace="fragments.html :: study-banner"></div>-->
<div class="container">
        <!-- Side navigation -->
    <div class="row mt-5 justify-content-center">
        <div class="col-3">
            <div class="card mb-3" style="user-select: auto;">
                <div th:if="${study.useBanner}">
                    <img th:src="${study.image}" width="100%" height="200px">
                </div>

                <div class="card-body" style="user-select: auto;">
                    <h5 class="card-title" style="user-select: auto;" th:text="${study.title}">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted" style="user-select: auto;" th:text="${study.shortDescription}">Support card subtitle</h6>
                </div>

                <div class="card-body" style="user-select: auto;">
                    <span th:if="${!study.published}"
                          class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                          title="스터디 공개 준비중">
                    <button class="btn btn-danger btn-sm" style="pointer-events: none;" type="button" disabled>DRAFT</button>
                    </span>
                    <span th:if="${study.closed}"
                          class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="스터디 종료함">
                        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>CLOSED</button>
                    </span>
                    <span th:if="${!study.recruiting}"
                          class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="팀원 모집중 아님">
                    <button class="btn btn-danger btn-sm" style="pointer-events: none;" type="button" disabled>OFF</button>
                    </span>
                    <span sec:authorize="isAuthenticated()" th:if="${study.isJoinable(#authentication.principal)}"
                          class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" th:href="@{'/study/' + ${study.path} + '/join'}">
                        스터디 가입
                    </a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
                    </span>
                    <span sec:authorize="isAuthenticated()" th:if="${!study.closed && study.isMember(#authentication.principal)}" class="btn-group" role="group">
                    <a class="btn btn-outline-warning" th:href="@{'/study/' + ${study.path} + '/remove'}">
                        스터디 탈퇴
                    </a>
                    <a class="btn btn-outline-primary" th:href="@{'/study/' + ${study.path} + '/members'}"
                       th:text="${study.members.size()}">1</a>
                    </span>
                </div>


            </div>
            <div class="card" style="user-select: auto;">
                <ul class="list-group list-group-flush" style="user-select: auto;">
                    <li class="list-group-item text-muted" style="user-select: auto;">
                        <span th:if="${study.tags.size() == 0}">
                            <b>주제는 추후 업데이트 예정입니다.</b>
                        </span>
                        <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                            <a class="text-decoration-none text-white">
                                <i class="fa fa-tag ml"></i> <span th:text="${tag.title}">Tag</span>
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item text-muted" style="user-select: auto;">
                        <span th:if="${study.zones.size() == 0}">
                            <b>지역은 추후 업데이트 예정입니다.</b>
                        </span>
                        <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                            <a class="text-decoration-none text-white">
                                <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}">City</span>
                            </a>
                         </span>
                    </li>
                </ul>
            </div>
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item text-muted">
                    <i class="fa fa-user mr-1"></i>
                    <small th:text="${study.memberCount}"></small>
                    <small> 명 참여</small>
                </li>
                <li class="list-group-item text-muted">
                    <i class="fa fa-calendar mr-1"></i>
                    <small>2022-02-08 ~ 2022-02-25</small>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <p class="lead" th:utext="${study.fullDescription}"></p>
        </div>
    </div>
</div>
<div th:fragment="study-menu (studyMenu)" class="row px-3 justify-content-center bg-light">
    <a sec:authorize="isAuthenticated()" th:if="${study.isManager(#authentication.principal)}"
       class="nav-item nav-link" th:classappend="${studyMenu == 'settings'}? active" href="#" th:href="@{'/study/' + ${study.path} + '/settings/description'}">
        설정
    </a>
</div>

</body>
</html>


<!--    <div th:replace="fragments.html :: main-nav"></div>
    <div th:replace="fragments.html :: study-banner"></div>
    <div class="container">
        <div th:replace="fragments.html :: study-info"></div>
        <div th:replace="fragments.html :: study-menu(studyMenu='info')"></div>

        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3" th:utext="${study.fullDescription}"></div>
        </div>

        <div th:replace="fragments.html :: footer"></div>
    </div>-->
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>