<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: study-menu (currentStudyMenu = 'view')"></div>

            <div class="md:flex  md:space-x-8">
                <div class="space-y-5 flex-shrink-0 md:w-7/12">
                    <div class="card p-5">
                        <h1 class="block text-lg font-bold"> 정보  </h1>
                        <div class="space-y-4 mt-3">
                            <div class="flex items-center space-x-3">
                                <ion-icon name="alert-circle" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                <div class="flex-1">
                                    <div th:text="${study.shortDescription}"> 스터디 짧은 소개</div>
                                </div>
                            </div>
                            <div class="flex items-center space-x-3">
                                <ion-icon name="people" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                <div class="flex-1">
                                    <div th:text="${study.limitMember} + '명 모집'" class="font-semibold"> 모집 인원 </div>
                                </div>
                            </div>
                            <div class="flex items-center space-x-3">
                                <ion-icon name="calendar-outline" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                <div class="flex-1">
                                    <div th:text="${study.limitMemberDate}"> 모집 마감일 </div>
                                </div>
                            </div>
                            <div class="flex items-center space-x-3">
                                <ion-icon name="globe" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                <div class="flex-1">
                                    <div th:text="${study.studyMethod} + '으로 진행됩니다.'"> 진행방식 </div>
                                </div>
                            </div>
                            <div class="flex items-center space-x-3">
                                <ion-icon name="mail-open" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                <div class="flex-1">
                                    <span th:text="${study.managerEmail}">문의 사항 </span>
                                </div>
                            </div>
                            <div class="flex items-center space-x-3">
                                <div class="flex-1">
                                    <span th:if="${study.tags.size() == 0}">
                                        <b>주제는 추후 업데이트 예정입니다.</b>
                                    </span>
                                    <span th:each="tag: ${study.tags}" class="bg-gray-100 rounded-full
                                    font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                        <a class="text-decoration-none text-white">
                                            <i class="fa fa fa-stack-overflow ml"></i> <span th:text="${tag.title}">Tag</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-5">
                        <h1 class="block text-lg font-bold"> 설명  </h1>
                        <div class="line-clamp-3" id="more-text" th:utext="${study.fullDescription}">
                        </div>
                        <a href="#" id="more-text" uk-toggle="target: #more-text ; cls: line-clamp-3"> 자세히 보기 </a>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="w-full flex-shirink-0">

                    <div class="card p-4">
                        <div class="">
                            <div class="py-2 flex items-center space-x-4">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-yellow-500 w-9">
                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                </svg>
                                <div>
                                    <div class="text-base font-semibold"> 스터디 시작 </div>
                                    <div th:text="${study.startStudyDate}"> 02-02-21 - 11:31</div>
                                </div>
                            </div>
                            <div class="py-2 flex items-center space-x-4">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-red-500 w-9">
                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                </svg>
                                <div>
                                    <div class="text-base font-semibold"> 스터디 종료 </div>
                                    <div th:text="${study.limitStudyDate}"> 03-02-21 - 11:31</div>
                                </div>
                            </div>
                        </div>
                        <hr class="-mx-4 my-4">

                        <!--  widget  -->
                        <div>
                            <div class="flex items-center justify-between mb-2">
                                <div>
                                    <h4 class="text-lg -mb-0.5 font-semibold">스터디 참여 인원</h4>
                                </div>
                            </div>
                            <div>
                                <div th:each="member : ${study.members}"
                                     class="flex items-center  hover:bg-gray-100 rounded-md -mx-2 p-2 pr-0">
                                    <div class="flex-shrink-0 h-16 mr-3 relative rounded-md w-16">
                                        <svg th:if="${#strings.isEmpty(member?.profileImage)}"
                                             th:data-jdenticon-value="${member.studentId}" class="absolute w-full h-full inset-0 rounded-md object-cover"></svg>
                                        <img th:if="${!#strings.isEmpty(member?.profileImage)}"
                                             th:src="${member?.profileImage}" class="absolute w-full h-full inset-0 rounded-md object-cover"/>
                                    </div>
                                    <div class="flex-1">
                                        <a href="#" th:href="@{/profile/{nickname}(nickname=${member.nickname})}" th:text="${member.nickname}" class="font-semibold line-clamp-1 mb-1 text-base">이름</a>
                                        <div th:text="${member.bio}" class="text-xs font-semibold">간단한 자기 소개</div>
                                    </div>
                                    <a href="#" th:href="@{/profile/{nickname}(nickname=${member.nickname})}" th:text="${member.nickname}" class="bg-gray-100 flex flex-col font-semibold items-center justify-center py-1.5 px-4 rounded-md">
                                        <div class="text-sm"> 이동 </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="theme-fragments.html :: studyBanner"></script>
</body>
</html>
