<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<style>
    #forumTitlesub, #postTitleSub, #keywordListForm{
        display: none;
    }
    .modal{
        display: none;
    }
</style>
<body>

    <div id="wrapper">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='forum')"></div>

        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">

                <!--  breadcrumb -->
                <div class="breadcrumb-area py-0">
                    <div class="breadcrumb">
                        <ul class="m-0">
                            <li>
                                <a th:href="@{/forum}">정보 공유</a>
                            </li>
                            <li class="active">
                                <a href="#">글 작성하기</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- create page-->
                <div class="max-w-2xl m-auto shadow-md rounded-md bg-white lg:mt-20">
                    <form class="needs-validation" id="board_form" action="/forum/write" th:action="@{/forum/write}" th:object="${forumForm}" method="post" novalidate>
                        <!-- form header -->
                        <div class="text-center border-b border-gray-100 py-6">
                            <h3 class="font-bold text-xl" id="forum_head"> Q&A 작성하기 </h3>
                        </div>

                        <!-- form body -->
                        <div class="p-10 space-y-7">
                            <div>
                                <div class="line">
                                    <input class="line__input form-group" id="postTitle" th:field="*{postTitle}"
                                           type="text" onkeyup="this.setAttribute('value', this.value);"
                                           aria-describedby="postTitleHelp" required autocomplete="off">
                                    <span for="username" class="line__placeholder"> 제목 </span>
                                </div>
                                <small id="postTitleHelp" class="form-text text-muted">
                                    제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                </small>
                            </div>
                            <div id="postTitleSub">
                                <div class="line">
                                    <input class="line__input form-group" id="postSubtitle" th:field="*{postSubtitle}"
                                           type="text" onkeyup="this.setAttribute('value', this.value);"
                                           aria-describedby="postSubtitleHelp" required autocomplete="off">
                                    <span for="username" class="line__placeholder"> 소제목 </span>
                                </div>
                                <small id="postSubtitleHelp" class="form-text text-muted">
                                    예) Spring MVC 모델에 대해 자세히 알아보는 글입니다.
                                </small>
                            </div>
                            <div>
                                <label for="selectBox"> 유형 선택 </label>
                                <select id="selectBox" name="selectBox"  class="shadow-none selectpicker with-border" th:field="*{forumTitle}">
                                    <option data-icon="icon-material-outline-help-outline" value="qna" selected>질문</option>
                                    <option data-icon="icon-material-outline-assignment" value="forum">정보 공유</option>
                                </select>
                            </div>
                            <div  id="forumTitlesub">
                                <label for="selectBoxSub"> 전공 선택 </label>
                                <select id="selectBoxSub" name="selectBox"  class="shadow-none selectpicker with-border" th:field="*{forumTitleSub}" aria-describedby="forumTitleHelp">
                                    <option data-icon="icon-material-outline-help-outline" value="" selected>선택</option>
                                    <option data-icon="icon-material-outline-language" value="web"> HTML</option>
                                    <option data-icon="icon-material-outline-code" value="java"> JAVA</option>
                                    <option data-icon="icon-material-outline-movie" value="media"> 영상</option>
                                    <option data-icon="icon-material-outline-movie" value="vrar"> VR/AR</option>
                                </select>
                            </div>
                            <div>
                                <div class="form-group">
                                <textarea class="form-control"  id="postContent" th:field="*{postContent}"
                                          type="text" aria-describedby="postContentHelp" required></textarea>
                                </div>
                                <small id="postContentHelp" class="form-text text-muted">남을 비방하는 글은 제제가 있을 수 있습니다.</small>
                            </div>
                        </div>

                        <!-- form footer -->
                        <div class="border-t flex justify-between lg:space-x-10 p-7 bg-gray-50 rounded-b-md">
                            <p class="text-sm leading-6"> You can add images, contact info and other details after you create the Page. </p>
                            <button type="submit" class="button lg:w-1/2">
                                Create Now
                            </button>
                        </div>
                    </form>
                </div>


            </div>
        </div>

    </div>
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script>
    $( document ).ready( function() {
        $('#postContent').summernote({
            placeholder: '글의 내용을 입력해주세요.<br/>타인에게 불쾌감을 주는 글은 예고없이 삭제됩니다.<br/>또한 신고가 누적될 시 제재가 있을 수 있습니다.',
            tabsize: 2,
            toolbar: [
                ['font', ['bold', 'italic', 'underline', 'clear']],
            ],
            maxHeight: null,
            minHeight: null,
            lang : 'ko-KR',
            height: 500,
        });
        $('#postTitle').val('');
        jQuery('#selectBox').change(function() {
            var state = jQuery('#selectBox option:selected').val();
            if (state == 'qna') {
                $('#postTitle').val('');
                $('#postSubtitle').val('');
                $('#postContent').val('');
                $("#selectBoxSub option:eq(0)").prop("selected", true);
                $('#postTitleHelp').text("궁금한 내용의 주제를 작성해주세요.");
                $('#postContent').attr("placeholder", "궁금한 내용을 자세하게 설명해주세요.");
                $("label[for='postTitle']").text('Q&A Title');
                $("label[for='postContent']").text('Q&A Description');
                $("#forum_head").text('Q&A 작성하기');
                jQuery('#forumTitlesub').hide();
                jQuery('#postTitleSub').hide();
                jQuery('#keywordListForm').hide();
            }
            if (state == 'forum') {
                $('#postTitle').val('');
                $('#postSubtitle').val('');
                $('#postContent').val('');
                $("#selectBoxSub option:eq(0)").prop("selected", true);
                $('#postTitleHelp').text("공유할 정보의 대제목을 입력해주세요.");
                $('#postContentHelp').text("정보에 대한 내용을 자세히 설명해주세요.");
                $("label[for='postTitle']").text('Forum Title');
                $("label[for='postContent']").text('Forum Description');
                $("#forum_head").text('정보 작성하기');
                jQuery('#forumTitlesub').show();
                jQuery('#postTitleSub').show();
            }
        });
    });
</script>

</body>
</html>