<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="theme-fragments.html :: head"></head>
<style th:replace="theme-fragments.html :: search_form"></style>
<style>
    #eventDatePick{
        display: none;
    }
</style>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='council')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: checked-email"></div>

            <div class="flex justify-between relative md:mb-4 mb-3">
                <div class="flex-1">
                    <h2 class="text-2xl font-semibold"> 제 27대 학생회 CROCE </h2>
                    <nav class="responsive-nav md:m-0 -mx-4">
                        <ul>
                            <li th:classappend="${type == 'notice'}? active">
                                <a th:href="@{/council/notice}" class="lg:px-2"> 공지 </a>
                            </li>
                            <li th:classappend="${type == 'event'}? active">
                                <a th:href="@{/council/event}" class="lg:px-2"> 행사 </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div sec:authorize="hasRole('ADMIN') || hasRole('COUNCIL')">
                    <a href="#create-post-modal" uk-toggle class="flex items-center justify-center h-9 lg:px-5 px-2 rounded-md bg-blue-600 text-white space-x-1.5 absolute right-0">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="md:block hidden"> 글 작성하기 </span>
                    </a>
                    <div id="create-post-modal" uk-modal>
                        <div class="uk-modal-dialog">
                            <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                                    type="button" uk-close>
                                <i class="icon-feather-close"></i>
                            </button>

                            <div class="uk-modal-header bg-white">
                                <h3 class="text-lg font-semibold" id="forum_head"> 공지글 작성하기 </h3>
                            </div>
                            <form class="needs-validation" id="council_form" onsubmit="return false" method="post" novalidate enctype="multipart/form-data">
                                <div class="uk-modal-body" uk-overflow-auto>
                                    <div class="space-y-4 g:w-8/12">
                                        <div class="font-semibold text-lg"> 유형 선택 </div>
                                        <hr>
                                        <div class="grid grid-cols-2 gap-2">
                                            <div>
                                                <label for="postSort"> 글 종류 선택 </label>
                                                <div class="form-group">
                                                    <select id="postSort" name="postSort" class="shadow-none with-border px-2 selectpicker mb-2" aria-describedby="postSortHelp">
                                                        <option data-icon="icon-material-outline-assignment" value="공지" selected>공지</option>
                                                        <option data-icon="icon-material-outline-help-outline" value="행사">행사</option>
                                                    </select>
                                                    <small id="postSortHelp" class="form-text text-muted">
                                                        행사 및 공지 구분을 선택해주세요.
                                                    </small>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="form-group mb-3">
                                                    <label for="postTarget"> 참여 및 공지 대상 </label>
                                                    <select id="postTarget" name="postTarget" aria-describedby="postTargetHelp" class="shadow-none with-border px-2 selectpicker mb-2" multiple>
                                                        <option data-icon="icon-material-outline-assignment" value="전체 학년" selected>전체 학년</option>
                                                        <option data-icon="icon-material-outline-assignment" value="1학년">1학년</option>
                                                        <option data-icon="icon-material-outline-assignment" value="2학년">2학년</option>
                                                        <option data-icon="icon-material-outline-assignment" value="3학년">3학년</option>
                                                        <option data-icon="icon-material-outline-assignment" value="4학년">4학년</option>
                                                    </select>
                                                    <small id="postTargetHelp" class="form-text text-muted">
                                                        전체 학년일 경우 <b class="text-blue-500">전체 학년</b>만 선택해주세요.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="font-semibold text-lg"> 상세 정보 입력 </div>
                                        <!-- 제목 -->
                                        <div class="form-group">
                                            <div class="line">
                                                <input class="line__input form-control" id="postTitle"
                                                       name="postTitle"
                                                       type="text" onkeyup="this.setAttribute(  'value', this.value);"
                                                       aria-describedby="titleHelp" required autocomplete="off">
                                                <span for="username" class="line__placeholder"> 제목 </span>
                                            </div>
                                            <small id="titleHelp" class="form-text text-muted">
                                                제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                            </small>
                                            <small class="invalid-feedback">제목을 입력해주세요.</small>
                                        </div>
                                        <div class="form-group">
                                            <div class="line">
                                                <input class="line__input form-control" id="postLink"
                                                       name="postLink"
                                                       type="text" onkeyup="this.setAttribute(  'value', this.value);"
                                                       aria-describedby="postLinkHelp" autocomplete="off">
                                                <span for="postLink" class="line__placeholder"> 참여 및 참고 링크 </span>
                                            </div>
                                            <small id="postLinkHelp" class="form-text text-muted">
                                                링크가 없을 경우 아무것도 입력하지 않아도 됩니다.
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <div class="line">
                                                <input class="line__input form-control" id="contactNum" name="contactNum"
                                                       type="text" onkeyup="this.setAttribute(  'value', this.value);"
                                                       aria-describedby="contactNumHelp" autocomplete="off">
                                                <span for="contactNum" class="line__placeholder"> 연락처 </span>
                                            </div>
                                            <small id="contactNumHelp" class="form-text text-muted">
                                                학우들이 편하게 연락할 수 있는 번호 혹은 카카오톡 아이디를 입력해주세요.
                                                <br>작성할 내용이 없다면 아무것도 입력하지 않아도 됩니다.
                                            </small>
                                        </div>
                                        <div id="eventDatePick">
                                            <hr class="my-3">
                                            <div class="grid grid-cols-2 gap-4">
                                                <div>
                                                    <label for="applyPeriodStartDate">신청 시작일</label>
                                                    <div class="form-group">
                                                        <input id="applyPeriodStartDate" name="applyPeriodStartDate" type="datetime-local" class="shadow-none with-border p-3 form-control"
                                                               aria-describedby="applyPeriodStartDateHelp">
                                                    </div>
                                                    <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                </div>
                                                <div>
                                                    <label for="applyPeriodStartDate">신청 마감일</label>
                                                    <div class="form-group">
                                                        <input id="applyPeriodEndDate" name="applyPeriodEndDate" type="datetime-local" class="shadow-none with-border p-3 form-control"
                                                               aria-describedby="applyPeriodEndDateHelp">
                                                    </div>
                                                    <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                </div>
                                                <div>
                                                    <label for="eventStartDate">행사 시작일</label>
                                                    <div class="form-group">
                                                        <input id="eventStartDate" name="eventStartDate" type="datetime-local" class="shadow-none with-border p-3 form-control"
                                                               aria-describedby="eventStartDateHelp">
                                                    </div>
                                                    <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                </div>
                                                <div>
                                                    <label for="eventEndDate">행사 종료일</label>
                                                    <div class="form-group">
                                                        <input id="eventEndDate" name="eventEndDate" type="datetime-local" class="shadow-none with-border p-3 form-control"
                                                               aria-describedby="eventEndDateHelp">
                                                    </div>
                                                    <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                </div>
                                            </div>
                                            <hr class="my-3">
                                        </div>
                                        <!-- 본문 -->
                                        <div class="form-group">
                                            <div>
                                            <textarea class="form-control" id="postContent" name="postContent"
                                                      type="text" aria-describedby="contentHelp" required></textarea>
                                            </div>
                                            <small class="invalid-feedback">글을 입력해주세요.</small>
                                        </div>
                                    </div>
                                    <div class="col-span-2">
                                        <div uk-form-custom class="w-full py-3">
                                            <div class="bg-gray-100 border-2 border-dashed flex flex-col h-32 items-center justify-center relative w-full rounded-lg dark:bg-gray-800 dark:border-gray-600">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                                    <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                                    <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                                </svg>
                                            </div>
                                            <input id="input_file" multiple="multiple" type="file" accept="image/png, image/jpeg">
                                        </div>

                                        <span class="text-gray-500 text-xs">※첨부파일은 최대 6개까지 등록이 가능합니다.</span>
                                    </div>

                                    <div class="col-span-2">
                                        <br />
                                        <div class="grid sm:grid-cols-3 grid-cols-2" id="articlefileChange">
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-modal-footer uk-text-right bg-white">
                                    <button class="bg-red-500 font-medium h-9 items-center justify-center px-5 rounded-md text-white text-sm uk-modal-close" type="button">취소</button>
                                    <button class="bg-blue-500 h-9 items-center justify-center rounded-md text-white px-5 font-medium" type="submit" onclick="registerAction()">저장</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                <div>
                    <form th:action="@{'/council/'+ ${type} +'/search'}" class="form-inline" method="get"
                          style=" float: right; position: relative; margin-top: 40px">
                        <div class="box">
                            <div class="container-1">
                                <span class="icon"><i class="fa fa-search"></i></span>

                                <input th:if="${type == 'notice'}" type="search" name="keyword" id="search" placeholder="공지사항 검색" />
                                <input th:if="${type == 'event'}" type="search" name="keyword" id="search" placeholder="행사 검색" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <th:block th:if="${type == 'notice'}">
                <br>
                <div class="mt-2">
                    <div class="divide-y -mt-3 card px-5 py-2 mb-7" th:each="notice : ${councilType}">
                        <div class="flex sm:flex-row flex-col sm:space-x-4 py-4 relative w-full">
                            <div class="flex-1 relative md:mt-0">
                                <a th:href="@{/council/detail/{cid}(cid = ${notice.cid})}" class="text-xl font-semibold leading-6" th:text="${notice.postTitle}">가장 인기있는 게시물</a>
                                <div class="flex space-x-2 items-center text-xs mt-2">
                                    <ion-icon name="time-outline"></ion-icon>
                                    <div th:text="${boardService.boardDateTime(notice.uploadTime)}">공지등록일</div>
                                    <div>·</div>
                                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                                    <div th:text="${replyService.councilReplySize(notice)}"></div>
                                    <div>·</div>
                                    <div><a th:text="${notice.pageView}"></a>명 조회</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${councilType.totalPages != 0}" class="justify-center flex">
                        <nav aria-label="Page navigation"
                             th:with="start=${(councilType.number/5)*5 + 1},
                                    end=(${(councilType.totalPages == 0) ? 1 :
                                    (start + 4 < councilType.totalPages ? start + 4 : councilType.totalPages)})">
                            <ul class="inline-flex space-x-2">
                                <li th:if="${start > 1}">
                                    <a th:href="@{'/council/' + ${type} + '/' (page=${start - 2})}">
                                        <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </a>
                                </li>
                                <li th:each="page : ${#numbers.sequence(start, end)}">
                                    <a th:href="@{'/council/' + ${type} + '/' (page=${page - 1})}">
                                        <button th:classappend="${page == pageNo + 1} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                                class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                                th:text="${page}">
                                        </button>
                                    </a>
                                </li>
                                <li th:if="${end < councilType.totalPages}">
                                    <a th:href="@{'/council/' + ${type} + '/' (page=${start + 4})}">
                                        <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${type == 'event'}">
                <div class="grid md:grid-cols-4 grid-cols-2 gap-3 mt-5 mb-5">
                    <div th:each="event : ${councilType}">
                        <div class="bg-green-400 max-w-full lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
                            <a th:href="@{/council/detail/{cid}(cid = ${event.cid})}">
                                <th:block th:if="${event.getImageList().size()==0}">
                                    <img th:src="@{/images/default-image.png}" class="w-full h-full absolute object-cover inset-0">
                                </th:block>
                                <th:block th:if="${event.getImageList().size()!=0}">
                                    <img th:src="${event.getImageList().get(0).imagePath}" class="w-full h-full absolute object-cover inset-0">
                                </th:block>
                                <th:block th:if="${event.eventEndDate >= councilService.nowDate()}">
                                    <div class="absolute bg-green-500 font-semibold px-2.5 py-1 rounded-full text-white text-xs top-2.5 left-2.5">
                                        진행중 </div>
                                </th:block>
                                <th:block th:if="${event.eventEndDate < councilService.nowDate()}">
                                    <div class="absolute bg-red-500 font-semibold px-2.5 py-1 rounded-full text-white text-xs top-2.5 left-2.5">
                                        종료 </div>
                                </th:block>

                                <!-- overly-->
                                <div class="-bottom-0 absolute bg-gradient-to-b from-transparent h-1/2 to-gray-800 uk-transition-slide-bottom-small w-full"></div>
                                <div class="absolute bottom-0 w-full p-3 text-white uk-transition-slide-bottom-small flex items-center">
                                    <div class="flex-1">
                                        <div class="text-lg" th:text="${event.postTitle}"> 제목  </div>
                                        <div class="flex lg:flex-initial text-sm">
                                            <a th:text="|행사 기간 : ${#temporals.format(event.eventStartDate, 'MM월 dd일')} ~ ${#temporals.format(event.eventEndDate, 'MM월 dd일')}|"></a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--<div class="relative" uk-slider="finite: true">
                    <div class="uk-slider-container px-4 py-3">

                        <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-4@s uk-child-width-1-2 uk-grid-small uk-grid">
                            <li th:each="event : ${councilType}">
                                <a th:href="@{/council/detail/{cid}(cid = ${event.cid})}">
                                    <div class="rounded-xl overflow-hidden relative w-full h-44 cursor-pointer transform hover:scale-105 duration-300 hover:shadow-md">
                                        <div class="absolute w-full h-3/4 -bottom-6 bg-gradient-to-b from-transparent to-gray-800 z-10">
                                        </div>
                                        <img th:src="${event.getImageList().get(0).imagePath}" class="absolute w-full h-full" alt="">
                                        <th:block th:if="${event.eventEndDate >= councilService.nowDate()}">
                                            <div class="absolute bg-green-500 font-semibold px-2.5 py-1 rounded-full text-white text-xs top-2.5 left-2.5">
                                                진행중 </div>
                                        </th:block>
                                        <th:block th:if="${event.eventEndDate < councilService.nowDate()}">
                                            <div class="absolute bg-red-500 font-semibold px-2.5 py-1 rounded-full text-white text-xs top-2.5 left-2.5">
                                                종료 </div>
                                        </th:block>
                                        <div class="absolute bottom-0 w-full p-3 text-white z-20 font-semibold">
                                            <div class="text-xl" th:text="${event.postTitle}"> 제목 </div>
                                            <div class="text-sm"><a th:text="${event.eventEndDate}"></a> 까지</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a class="absolute bg-white top-20 -mt-2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                           href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                        <a class="absolute bg-white top-20 -mt-2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white"
                           href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>
                    </div>
                </div>-->
                <div class="mt-2">
                    <div th:if="${councilType.totalPages != 0}" class="justify-center flex">
                        <nav aria-label="Page navigation"
                             th:with="start=${(councilType.number/5)*5 + 1},
                                    end=(${(councilType.totalPages == 0) ? 1 :
                                    (start + 4 < councilType.totalPages ? start + 4 : councilType.totalPages)})">
                            <ul class="inline-flex space-x-2">
                                <li th:if="${start > 1}">
                                    <a th:href="@{'/council/' + ${type} + '/' (page=${start - 2})}">
                                        <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </a>
                                </li>
                                <li th:each="page : ${#numbers.sequence(start, end)}">
                                    <a th:href="@{'/council/' + ${type} + '/' (page=${page - 1})}">
                                        <button th:classappend="${page == pageNo + 1} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                                class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                                th:text="${page}">
                                        </button>
                                    </a>
                                </li>
                                <li th:if="${end < councilType.totalPages}">
                                    <a th:href="@{'/council/' + ${type} + '/' (page=${start + 4})}">
                                        <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script th:replace="theme-fragments.html :: form-validation"></script>
<script th:replace="theme-fragments.html :: s3-council-image-upload(uploadUrl='/council-new')"></script>
<script type="application/javascript">
    // 등록 버튼 클릭 시
    $( document ).ready( function() {
        $('#postContent').summernote({
            placeholder: '글의 내용을 입력해주세요.<br/>타인에게 불쾌감을 주는 글은 예고없이 삭제됩니다.<br/>또한 신고가 누적될 시 제재가 있을 수 있습니다.',
            tabsize: 2,
            toolbar: [
                ['font', ['bold', 'italic', 'underline', 'clear']],
            ],
            maxHeight: null,
            minHeight: null,
            lang : 'ko-KR',
            height: 500,
        });

        function resetValue() {
            $('#postTitle').val('');
        }
        $('#postTitle').val('');
        jQuery('#postSort').change(function() {
            var state = jQuery('#postSort option:selected').val();
            if (state == '공지') {
                // 작성 값 초기화 및 메뉴명 변경
                $("#forum_head").text('공지글 작성하기');
                $('#titleHelp').text("제목을 입력해주세요.");
                $('#contentHelp').text("공지글을 자세하게 입력해주세요.");
                resetValue();

                // Hide and Show
                jQuery('#eventDatePick').hide();
            }
            if (state == '행사') {
                // 작성 값 초기화 및 메뉴명 변경
                $("#forum_head").text('행사 추가하기');
                $('#titleHelp').text("제목을 입력해주세요.");
                $('#contentHelp').text("행사에 대한 자세한 내용을 입력해주세요.");
                resetValue();

                // Hide and Show
                jQuery('#eventDatePick').show();
            }
        });
    });
</script>

</body>
</html>