<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='council')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <div class="breadcrumb-area py-0">
                <div class="breadcrumb">
                    <ul class="m-0">
                        <li>
                            <a th:href="@{/council/notice}">학생회</a>
                        </li>
                        <li>
                            <a style="font-weight: bold" href="#">검색 </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:replace="theme-fragments.html :: checked-email"></div>
            <div class="my-5" th:if="${message}">
                <div th:replace="theme-fragments.html :: blue-notice(message = ${message})"></div>
            </div>

            <div class="lg:flex justify-center lg:space-x-10">
                <p th:if="${searchCouncilResult.getTotalElements() == 0}">
                    <strong class="text-2xl font-semibold"
                            th:text="${keyword}"></strong> 에 해당하는 게시글이 없습니다.
                </p>

                <p th:if="${searchCouncilResult.getTotalElements() > 0}">
                    <strong class="text-2xl font-semibold"
                            th:text="${keyword}"></strong> 에 해당하는 게시글이
                    <strong class="text-xl font-semibold"
                            th:text="${searchCouncilResult.getTotalElements()}"></strong> 개 있습니다.
                </p>
            </div>

            <div>
                <th:block th:if="${type == 'notice'}">
                    <br>
                    <div class="mt-2">
                        <div class="divide-y -mt-3 card px-5 py-2 mb-7" th:each="notice : ${searchCouncilResult}">
                            <div class="flex sm:flex-row flex-col sm:space-x-4 py-4 relative w-full">
                                <div class="flex-1 relative md:mt-0">
                                    <a th:href="@{/council/detail/{cid}(cid = ${notice.cid})}" class="text-xl font-semibold leading-6" th:text="${notice.postTitle}">가장 인기있는 게시물</a>
                                    <div class="flex space-x-2 items-center text-xs mt-2">
                                        <ion-icon name="time-outline"></ion-icon>
                                        <div th:text="${account.dateTime(notice.uploadTime)}">공지등록일</div>
                                        <div>·</div>
                                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                                        <div th:text="${replyService.councilReplySize(notice)}"></div>
                                        <div>·</div>
                                        <div><a th:text="${notice.pageView}"></a>명 조회</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${searchCouncilResult.totalPages != 0}" class="justify-center flex">
                            <nav aria-label="Page navigation"
                                 th:with="start=${(searchCouncilResult.number/5)*5 + 1},
                                    end=(${(searchCouncilResult.totalPages == 0) ? 1 :
                                    (start + 4 < searchCouncilResult.totalPages ? start + 4 : searchCouncilResult.totalPages)})">
                                <ul class="inline-flex space-x-2">
                                    <li th:if="${start > 1}">
                                        <a th:href="@{'/council/' + ${type} +'/search?keyword=' + ${keyword} (page=${start - 2})}">
                                            <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                    <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </a>
                                    </li>
                                    <li th:each="page : ${#numbers.sequence(start, end)}">
                                        <a th:href="@{'/council/' + ${type} +'/search?keyword=' + ${keyword} (page=${page - 1})}">
                                            <button th:classappend="${page == pageNo + 1} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                                    class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                                    th:text="${page}">
                                            </button>
                                        </a>
                                    </li>
                                    <li th:if="${end < searchCouncilResult.totalPages}">
                                        <a th:href="@{'/council/' + ${type} +'/search?keyword=' + ${keyword} (page=${start + 4})}">
                                            <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                    <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${type == 'event'}">
                    <div class="grid md:grid-cols-4 grid-cols-2 gap-3 mt-5 mb-5">
                        <div th:each="event : ${searchCouncilResult}">
                            <div class="bg-green-400 max-w-full lg:h-56 h-48 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
                                <a th:href="@{/council/detail/{cid}(cid = ${event.cid})}">
                                    <th:block th:if="${event.getImageList().size()==0}">
                                        <img th:src="@{/images/default-image.png}" class="w-full h-full absolute object-cover inset-0">
                                    </th:block>
                                    <th:block th:if="${event.getImageList().size()!=0}">
                                        <img th:src="${event.getImageList().get(0).imagePath}" class="w-full h-full absolute object-cover inset-0">
                                    </th:block>
                                    <th:block th:if="${event.eventEndDate >= councilService.nowDate()}">
                                        <div class="absolute bg-green-500 font-semibold px-2.5 py-1 rounded-full text-white text-xs top-2.5 left-2.5">
                                            진행중 </div>
                                    </th:block>
                                    <th:block th:if="${event.eventEndDate < councilService.nowDate()}">
                                        <div class="absolute bg-red-500 font-semibold px-2.5 py-1 rounded-full text-white text-xs top-2.5 left-2.5">
                                            종료 </div>
                                    </th:block>

                                    <!-- overly-->
                                    <div class="-bottom-0 absolute bg-gradient-to-b from-transparent h-1/2 to-gray-800 uk-transition-slide-bottom-small w-full"></div>
                                    <div class="absolute bottom-0 w-full p-3 text-white uk-transition-slide-bottom-small flex items-center">
                                        <div class="flex-1">
                                            <div class="text-lg" th:text="${event.postTitle}"> 제목  </div>
                                            <div class="flex lg:flex-initial text-sm">
                                                <a th:text="|행사 기간 : ${#temporals.format(event.eventStartDate, 'MM월 dd일')} ~ ${#temporals.format(event.eventEndDate, 'MM월 dd일')}|"></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div th:if="${searchCouncilResult.totalPages != 0}" class="justify-center flex">
                            <nav aria-label="Page navigation"
                                 th:with="start=${(searchCouncilResult.number/5)*5 + 1},
                                    end=(${(searchCouncilResult.totalPages == 0) ? 1 :
                                    (start + 4 < searchCouncilResult.totalPages ? start + 4 : searchCouncilResult.totalPages)})">
                                <ul class="inline-flex space-x-2">
                                    <li th:if="${start > 1}">
                                        <a th:href="@{'/council/' + ${type} +'/search?keyword=' + ${keyword} (page=${start - 2})}">
                                            <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                    <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </a>
                                    </li>
                                    <li th:each="page : ${#numbers.sequence(start, end)}">
                                        <a th:href="@{'/council/' + ${type} +'/search?keyword=' + ${keyword} (page=${page - 1})}">
                                            <button th:classappend="${page == pageNo + 1} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                                    class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                                    th:text="${page}">
                                            </button>
                                        </a>
                                    </li>
                                    <li th:if="${end < searchCouncilResult.totalPages}">
                                        <a th:href="@{'/council/' + ${type} +'/search?keyword=' + ${keyword} (page=${start + 4})}">
                                            <button class="flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                                    <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>
