<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<style>
    .updateSubmit{
        display: none;
    }
    #eventDatePick{
        display: none;
    }
</style>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='council')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: checked-email"></div>
            <div class="md:flex  md:space-x-8 lg:mx-14">
                <div class="space-y-5 flex-shrink-0 md:w-7/12 mb-3">
                    <div id="isUpdatedForm">
                        <div id="isUpdated"></div>
                    </div>
                    <div class="council_content">
                        <div class="card px-6 pt-6 pb-2">
                            <div class="space-y-4">
                                <h3 class="font-semibold text-xl text-center" th:text="${council.postTitle}"> 제목 </h3>
                                <hr>
                                <div th:utext="${council.postContent}">내용</div>
                                <hr class="my-4">
                                <div id="utextDiv" class="w-5">
                                    <div th:if="${bookmark.isEmpty()}">
                                        <form id="bookmarkAdd">
                                            <input type="hidden" id="postId" name="postId" th:value="${council.getCid()}"/>
                                            <input type="hidden" id="postSort" name="postSort" value="council"/>
                                            <div uk-tooltip="북마크">
                                                <a class="bookmark_click">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 48 48" id="bookmarkAddBtn" class="text-gray-500 font-bold" fill="currentColor">
                                                        <path d="M34 6h-20c-2.21 0-3.98 1.79-3.98 4l-.02 32 14-6 14 6v-32c0-2.21-1.79-4-4-4zm0 30l-10-4.35-10 4.35v-26h20v26z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                    <div th:if="${bookmark.isPresent()}">
                                        <form id="bookmarkCancel">
                                            <div uk-tooltip="북마크 해제">
                                                <input type="hidden" id="postId" name="postId" th:value="${council.getCid()}"/>
                                                <input type="hidden" id="postSort" name="postSort" value="council"/>
                                                <a class="bookmark_click">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 48 48" id="bookmarkDelBtn" class="text-blue-500 font-bold" fill="currentColor">
                                                        <path d="M34 6h-20c-2.21 0-3.98 1.79-3.98 4l-.02 32 14-6 14 6v-32c0-2.21-1.79-4-4-4zm0 30l-10-4.35-10 4.35v-26h20v26z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div>
                                <div class="bg-gray-100 rounded-full relative dark:bg-gray-800 mb-2">
                                    <form id="reply_form" onsubmit="return false">
                                        <input type="hidden" id="r_council_id" name="r_council_id" class="form-control"
                                               value="1" th:value="${council.cid}" readonly>
                                        <input type="hidden" id="r_account_id" name="r_account_id" class="form-control"
                                               value="1" th:value="${account.id}" readonly>
                                        <input placeholder="댓글을 입력해주세요." class="bg-transparent max-h-10 shadow-none px-5" id="r_content" name="r_content">
                                        <div class="-m-0.5 absolute bottom-0 flex items-center right-3 text-xl">
                                            <a class="write_reply">
                                                <ion-icon name="return-down-back-outline" class="hover:bg-gray-200 p-1.5 rounded-full"></ion-icon>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <div class="reply_div">
                                    <div class="py-4 space-y-4 dark:border-gray-600">
                                        <div class="flex" th:each="reply : ${reply}">
                                            <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                                <a th:href="@{/profile/{nickname}/view(nickname = ${reply.getAccount().nickname})}">
                                                    <img th:if="${#strings.isEmpty(reply.getAccount()?.profileImage)}"
                                                         th:data-id="${reply.getAccount().studentId}"
                                                         alt="" class="identicon absolute h-full rounded-full w-full"/>
                                                    <img th:if="${!#strings.isEmpty(reply.getAccount()?.profileImage)}"
                                                         th:src="${reply.getAccount()?.profileImage}"
                                                         alt="" class="absolute h-full rounded-full w-full"/>
                                                </a>
                                            </div>
                                            <div>
                                                <form onsubmit="return false" th:id="|replyUpdateForm${reply.rid}|">
                                                    <div class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 relative lg:ml-5 ml-2 lg:mr-12 dark:bg-gray-800 dark:text-gray-100">
                                                        <input type="hidden" th:value="${reply.rid}" name="reply_update_rid">
                                                        <p class="leading-6" th:text="${reply.content}" th:id="|orginalReply${reply.rid}|"></p>
                                                        <input type="hidden" th:value="${reply.content}" name="reply_update_content" th:id="|replyUpdateInput${reply.rid}|">
                                                        <div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 dark:bg-gray-800"></div>
                                                    </div>
                                                </form>

                                                <div class="text-xs flex items-center space-x-3 mt-2 ml-5">
                                                    <span th:text="${boardService.boardDateTime(reply.uploadTime)}"></span>
                                                    <th:block th:if="${reply.getAccount().id == account.id}">
                                                        <span class="text-blue-500" th:onclick="|updateBtn.replyUpdate(${reply.rid})|" th:id="|replyUpdateBtn${reply.rid}|"> 수정 </span>
                                                        <span class="text-blue-500 updateSubmit" th:onclick="|updateComplete.replyUpdateAjax(${reply.rid})|" th:id="|replyUpdateSubmit${reply.rid}|"> 등록 </span>
                                                        <span class="text-red-500" th:onclick="|deleteReplyBtn.deleteReply(${reply.rid})|" th:id="|replyDeleteSubmit${reply.rid}|"> 삭제 </span>
                                                        <form onsubmit="return false" th:id="|replyDeleteForm${reply.rid}|" class="d-none">
                                                            <input type="hidden" th:value="${reply.rid}" name="reply_delete_rid">
                                                        </form>
                                                    </th:block>
                                                    <th:block th:if="${reply.getAccount().id != account.id}">
                                                        <a th:href="@{/reply/report/{rid}(rid = ${reply.rid})}" class="text-red-600"> <i class="fa fa-bullhorn"></i> 신고 </a>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="w-full flex-shirink-0">
                    <div uk-sticky="offset:100" class="uk-sticky">
                        <div class="council_sidebar">
                            <div th:if="${isReportedReplyMessage}" class="my-4">
                                <div th:replace="theme-fragments.html :: red-notice(message=${isReportedReplyMessage})"></div>
                            </div>
                            <div th:if="${reportCompleteMessage}" class="my-4">
                                <div th:replace="theme-fragments.html :: blue-notice(message=${reportCompleteMessage})"></div>
                            </div>
                            <div class="card p-4">
                                <div class="">
                                    <th:block th:if="${account.studentId=='11-111111'}">
                                        <a href="#create-post-modal" uk-toggle class="flex items-center justify-center h-9 lg:px-5 px-2 rounded-md bg-blue-600 text-white space-x-1.5">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5">
                                                <path fill-rule="evenodd"
                                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="md:block hidden"> 글 수정하기 </span>
                                        </a>
                                        <hr class="my-4">
                                        <div id="create-post-modal" uk-modal>
                                            <div class="uk-modal-dialog">
                                                <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                                                        type="button" uk-close>
                                                    <i class="icon-feather-close"></i>
                                                </button>

                                                <div class="uk-modal-header text-white">
                                                    <h3 class="text-lg font-semibold" id="forum_head"> 공지글 작성하기 </h3>
                                                </div>
                                                <form class="needs-validation" id="board_form" onsubmit="return false">
                                                    <div class="uk-modal-body" uk-overflow-auto>
                                                        <div class="space-y-4 g:w-8/12">
                                                            <div class="font-semibold text-lg"> 유형 선택 </div>
                                                            <hr>
                                                            <div class="px-2 space-y-2 d-none">
                                                                <div class="font-semibold text-base"> cid </div>
                                                                <input type="hidden" placeholder="cid를 입력해주세요." id="cid"
                                                                       th:value="${council.cid}" name="cid" readonly
                                                                       aria-describedby="cidHelp"
                                                                       class="-mt-2 -mx-3 bg-transparent focus:bg-white focus:ring-gray-300 h-8 outline-none px-0 text-base w-full form-control">
                                                            </div>
                                                            <div class="grid grid-cols-2 gap-2">
                                                                <div>
                                                                    <label for="selectBox"> 글 종류 선택 </label>
                                                                    <div class="form-group">
                                                                        <select id="selectBox" name="postSort"  class="shadow-none with-border px-2 selectpicker mb-2" aria-describedby="postSortHelp">
                                                                            <option data-icon="icon-material-outline-assignment" value="공지" th:selected="${council.postSort}=='공지'">공지</option>
                                                                            <option data-icon="icon-material-outline-help-outline" value="행사" th:selected="${council.postSort}=='행사'">행사</option>
                                                                        </select>
                                                                        <small id="postSortHelp" class="form-text text-muted">
                                                                            타학과 행사는 공지로 올려주세요.
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group mb-3">
                                                                        <label for="postTarget"> 참여 및 공지 대상 </label>
                                                                        <select id="postTarget" name="postTarget" aria-describedby="postTargetHelp" class="shadow-none with-border px-2 selectpicker mb-2" multiple>
                                                                            <option data-icon="icon-material-outline-assignment" value="전체 학년" th:selected="${council.postTarget}=='전체 학년'">전체 학년</option>
                                                                            <option data-icon="icon-material-outline-assignment" value="1학년" th:selected="${council.postTarget}=='1학년'">1학년</option>
                                                                            <option data-icon="icon-material-outline-assignment" value="2학년" th:selected="${council.postTarget}=='2학년'">2학년</option>
                                                                            <option data-icon="icon-material-outline-assignment" value="3학년" th:selected="${council.postTarget}=='2학년'">3학년</option>
                                                                            <option data-icon="icon-material-outline-assignment" value="4학년" th:selected="${council.postTarget}=='3학년'">4학년</option>
                                                                        </select>
                                                                        <small id="postTargetHelp" class="form-text text-muted">
                                                                            전체 학년일 경우 <b class="text-blue-500">전체 학년</b>만 선택해주세요.
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="font-semibold text-lg"> 상세 정보 입력 </div>
                                                            <!-- 제목 -->
                                                            <div class="form-group">
                                                                <div class="line">
                                                                    <input class="line__input form-control" id="title" name="postTitle"
                                                                           th:value="${council.postTitle}"
                                                                           type="text" onkeyup="this.setAttribute(  'value', this.value);"
                                                                           aria-describedby="titleHelp" required autocomplete="off">
                                                                    <span for="username" class="line__placeholder"> 제목 </span>
                                                                </div>
                                                                <small id="titleHelp" class="form-text text-muted">
                                                                    제목은 5글자부터 최대 30글자까지 입력 가능합니다.
                                                                </small>
                                                                <small class="invalid-feedback">제목을 입력해주세요.</small>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="line">
                                                                    <input class="line__input form-control" id="postLink" name="postLink"
                                                                           th:value="${council.postLink}"
                                                                           type="text" onkeyup="this.setAttribute(  'value', this.value);"
                                                                           aria-describedby="postLinkHelp" autocomplete="off">
                                                                    <span for="postLink" class="line__placeholder"> 참여 및 참고 링크 </span>
                                                                </div>
                                                                <small id="postLinkHelp" class="form-text text-muted">
                                                                    링크가 없을 경우 아무것도 입력하지 않아도 됩니다.
                                                                </small>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="line">
                                                                    <input class="line__input form-control" id="contactNum" name="contactNum"
                                                                           th:value="${council.contactNum}"
                                                                           type="text" onkeyup="this.setAttribute(  'value', this.value);"
                                                                           aria-describedby="contactNumHelp" autocomplete="off">
                                                                    <span for="contactNum" class="line__placeholder"> 연락처 </span>
                                                                </div>
                                                                <small id="contactNumHelp" class="form-text text-muted">
                                                                    학우들이 편하게 연락할 수 있는 번호 혹은 카카오톡 아이디를 입력해주세요.
                                                                    <br>작성할 내용이 없다면 아무것도 입력하지 않아도 됩니다.
                                                                </small>
                                                            </div>
                                                            <div id="eventDatePick">
                                                                <hr class="my-3">
                                                                <div class="grid grid-cols-2 gap-4">
                                                                    <div>
                                                                        <label for="applyPeriodStartDate">신청 시작일</label>
                                                                        <div class="form-group">
                                                                            <input id="applyPeriodStartDate" type="date" class="shadow-none with-border p-3 form-control"
                                                                                   th:value="${council.applyPeriodStartDate}"
                                                                                   name="applyPeriodStartDate" aria-describedby="applyPeriodStartDateHelp">
                                                                        </div>
                                                                        <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                                    </div>
                                                                    <div>
                                                                        <label for="applyPeriodStartDate">신청 마감일</label>
                                                                        <div class="form-group">
                                                                            <input id="applyPeriodEndDate" type="date" class="shadow-none with-border p-3 form-control"
                                                                                   th:value="${council.applyPeriodEndDate}"
                                                                                   name="applyPeriodEndDate" aria-describedby="applyPeriodEndDateHelp">
                                                                        </div>
                                                                        <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                                    </div>
                                                                    <div>
                                                                        <label for="eventStartDate">행사 시작일</label>
                                                                        <div class="form-group">
                                                                            <input id="eventStartDate" type="date" class="shadow-none with-border p-3 form-control"
                                                                                   th:value="${council.eventStartDate}"
                                                                                   name="eventStartDate" aria-describedby="eventStartDateHelp">
                                                                        </div>
                                                                        <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                                    </div>
                                                                    <div>
                                                                        <label for="eventEndDate">행사 종료일</label>
                                                                        <div class="form-group">
                                                                            <input id="eventEndDate" type="date" class="shadow-none with-border p-3 form-control"
                                                                                   th:value="${council.eventEndDate}"
                                                                                   name="eventEndDate" aria-describedby="eventEndDateHelp">
                                                                        </div>
                                                                        <small class="invalid-feedback">날짜를 확인해주세요.</small>
                                                                    </div>
                                                                </div>
                                                                <hr class="my-3">
                                                            </div>
                                                            <!-- 본문 -->
                                                            <div class="form-group">
                                                                <div>
                                                                    <textarea class="form-control" id="content" name="postContent" th:text="${council.postContent}"
                                                                              type="text" aria-describedby="contentHelp" required></textarea>
                                                                </div>
                                                                <small class="invalid-feedback">글을 입력해주세요.</small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="uk-modal-footer uk-text-right text-white">
                                                        <button th:onclick="|location.href='@{/council/detail/delete/{councilId}(councilId=${council.cid})}'|"
                                                                class="bg-red-500 font-medium h-9 items-center justify-center px-5 rounded-md text-white text-sm uk-modal-close" type="button">삭제하기</button>
                                                        <button class="bg-blue-500 h-9 items-center justify-center rounded-md text-white px-5 font-medium board_form_send uk-modal-close">저장</button>
                                                    </div>
                                                </form>


                                            </div>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${council.postSort=='행사'}">
                                        <div class="py-2 flex items-center space-x-4">
                                            <!-- 신청 시작 전 -->
                                            <th:block th:if="${council.applyPeriodStartDate > councilService.nowDate() && council.applyPeriodEndDate > councilService.nowDate()}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-yellow-500 w-9">
                                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                                </svg>
                                                <div>
                                                    <div class="text-lg font-semibold"> 신청 진행전 </div>
                                                    <div><a th:text="${council.applyPeriodStartDate}"></a>일 부터 신청 시작</div>
                                                </div>
                                            </th:block>
                                            <!-- 신청 진행 중 -->
                                            <th:block th:if="${council.applyPeriodStartDate <= councilService.nowDate() && council.applyPeriodEndDate >= councilService.nowDate()}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-green-500 w-9">
                                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                                </svg>
                                                <div>
                                                    <div class="text-lg font-semibold"> 신청 진행중 </div>
                                                    <div>~ <a th:text="${council.applyPeriodEndDate}"></a>까지</div>
                                                </div>
                                            </th:block>
                                            <!-- 신청 마감 -->
                                            <th:block th:if="${council.applyPeriodStartDate < councilService.nowDate() && council.applyPeriodEndDate < councilService.nowDate()}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-red-500 w-9">
                                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                                </svg>
                                                <div>
                                                    <div class="text-lg font-semibold"> 신청 마감 </div>
                                                    <div>마감일 : <a th:text="${council.applyPeriodEndDate}"></a></div>
                                                </div>
                                            </th:block>
                                        </div>
                                        <div class="py-2 flex items-center space-x-4">
                                            <!-- 행사 시작 전 -->
                                            <th:block th:if="${council.eventStartDate > councilService.nowDate() && council.eventEndDate > councilService.nowDate()}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-yellow-500 w-9">
                                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                                </svg>
                                                <div>
                                                    <div class="text-lg font-semibold"> 행사 진행전 </div>
                                                    <th:block th:if="${council.eventStartDate == council.eventEndDate}">
                                                        <div><a th:text="${council.eventEndDate}"></a>일 행사</div>
                                                    </th:block>
                                                    <th:block th:if="${council.eventStartDate != council.eventEndDate}">
                                                        <div><a th:text="${council.eventStartDate}"></a>일 부터 행사 시작</div>
                                                    </th:block>
                                                </div>
                                            </th:block>
                                            <!-- 행사 진행 중 -->
                                            <th:block th:if="${council.eventStartDate <= councilService.nowDate() && council.eventEndDate >= councilService.nowDate()}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-green-500 w-9">
                                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                                </svg>
                                                <div>
                                                    <div class="text-lg font-semibold"> 행사 진행중 </div>
                                                    <th:block th:if="${council.eventStartDate == council.eventEndDate}">
                                                        <div><a th:text="${council.eventEndDate}"></a></div>
                                                    </th:block>
                                                    <th:block th:if="${council.eventStartDate != council.eventEndDate}">
                                                        <div><a th:text="${council.eventStartDate}"></a> ~ <a th:text="${council.eventEndDate}"></a></div>
                                                    </th:block>
                                                </div>
                                            </th:block>
                                            <!-- 행사 종료 -->
                                            <th:block th:if="${council.eventStartDate < councilService.nowDate() && council.eventEndDate < councilService.nowDate()}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-red-500 w-9">
                                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                                </svg>
                                                <div>
                                                    <div class="text-lg font-semibold"> 행사 종료 </div>
                                                    <th:block th:if="${council.eventStartDate == council.eventEndDate}">
                                                        <div><a th:text="${council.eventEndDate}"></a></div>
                                                    </th:block>
                                                    <th:block th:if="${council.eventStartDate != council.eventEndDate}">
                                                        <div>마감일 : <a th:text="${council.eventEndDate}"></a></div>
                                                    </th:block>
                                                </div>
                                            </th:block>

                                        </div>
                                        <hr class="my-4">
                                    </th:block>
                                </div>
                                <div>
                                    <div class="flex items-center space-x-3 my-1">
                                        <ion-icon name="people" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                        <div class="flex-1">
                                            <div><a th:text="${council.postTarget}"></a> 대상</div>
                                        </div>
                                    </div>

                                    <th:block th:if="${not #strings.isEmpty(council.postLink)}">
                                        <div class="flex items-center space-x-3 my-1">
                                            <ion-icon name="globe" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                            <div class="flex-1">
                                                <div class="text-blue-500"><a th:href="${council.postLink}" target='_blank'>링크 바로가기</a></div>
                                            </div>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${not #strings.isEmpty(council.contactNum)}">
                                        <div class="flex items-center space-x-3 my-1">
                                            <ion-icon name="mail-open" class="bg-gray-100 p-1.5 rounded-full text-xl"></ion-icon>
                                            <div class="flex-1">
                                                <div th:text="${council.contactNum}"> 연락망 </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<div th:replace="theme-fragments :: bookmarkAjax"></div>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script type="application/javascript" th:inline="javascript">
    var imageDelay = (function (){
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
    let updateBtn = {
        replyUpdate: function (replyId) {
            jQuery(`#orginalReply${replyId}`).hide();
            jQuery(`#replyUpdateBtn${replyId}`).hide();
            jQuery(`#replyUpdateSubmit${replyId}`).show();
            $(`#replyUpdateInput${replyId}`).prop("type", "text");
        }
    }
    let updateComplete = {
        replyUpdateAjax: function (replyId) {
            // 댓글 수정 ajax
            $.ajax({
                url:'/reply/update',
                type:'get',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data : $(`#replyUpdateForm${replyId}`).serialize(),
                dataType : "json",
                success : function (){
                    $('.reply_div').load(location.href+' .reply_div');
                    jQuery(`#orginalReply${replyId}`).show();
                    jQuery(`#replyUpdateBtn${replyId}`).show();
                    jQuery(`#replyUpdateSubmit${replyId}`).hide();
                    $(`#replyUpdateInput${replyId}`).prop("type", "hidden");
                },
            });
        }
    }
    // 댓글 삭제
    let deleteReplyBtn = {
        deleteReply: function (replyId) {
            swal({
                title: "댓글을 삭제하시겠습니까?",
                text: "삭제된 댓글은 복구할 수 없습니다.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    window.addEventListener('keydown', function (e){
                        if (e.keyCode == 13) {
                            swal("엔터키는 사용할 수 없습니다.");
                        }
                    })
                    if (willDelete) {
                        $.ajax({
                            url:'/reply/delete',
                            type:'get',
                            contentType: "application/x-www-form-urlencoded; charset=utf-8",
                            data : $(`#replyDeleteForm${replyId}`).serialize(),
                            dataType : "json",
                            success : function (){
                                $('.reply_div').load(location.href+' .reply_div');
                            },
                        });
                        swal("댓글이 삭제되었습니다.", {
                            icon: "success",
                        });
                    } else {
                        swal("댓글이 삭제되지 않았습니다. 다시 시도해주세요.");
                    }
                    $('.reply_div').load(location.href+' .reply_div');
                    imageDelay(function (){
                        $(".identicon").each(function() {
                            var hash = md5($(this).data('id')).toString();
                            var data = new Identicon(hash,{format:'svg'}).toString();
                            $(this).attr('src', "data:image/svg+xml;base64,"+data);
                        });
                    }, 1000);
                });
        }
    }

    $(document).ready(function (){
        // Delay 함수
        var delay = (function (){
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        // summernote
        $('#content').summernote({
            placeholder: '정확한 내용을 입력해주세요.',
            tabsize: 2,
            toolbar: [
                ['font', ['bold', 'italic', 'underline', 'clear']],
            ],
            maxHeight: null,
            minHeight: null,
            lang : 'ko-KR',
            height: 500,
        });

        // 게시글 업데이트
        $(document).on('click', '.board_form_send', function() {
            $.ajax({
                url:'/council/detail/update',
                type:'get',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data : $('#board_form').serialize(),
                success : function (message){
                    $('.council_content').load(window.location.href+' .council_content');
                    $('.council_sidebar').load(window.location.href+' .council_sidebar');
                    $('#board_form').load(window.location.href+' #board_form');
                    $("#isUpdatedForm").html('<div id="isUpdated"></div>');
                    $("#isUpdated").replaceWith(message);
                    $('#content').summernote('reset');
                },
            });
            imageDelay(function (){
                $(".identicon").each(function() {
                    var hash = md5($(this).data('id')).toString();
                    var data = new Identicon(hash,{format:'svg'}).toString();
                    $(this).attr('src', "data:image/svg+xml;base64,"+data);
                });
            }, 1000);
        });

        // 댓글 작성 ajax
        var keydown = true;
        var input = document.getElementById("r_content");
        input.addEventListener('keypress', function(key){
            if (input.value == '' && key.key == 'Enter') {
                swal("댓글을 입력해주세요.");
            }
            if(input.value != '' && key.key == 'Enter'){
                if (keydown) {
                    $.ajax({
                        url:'/council/detail/reply',
                        type:'get',
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        data : $('#reply_form').serialize(),
                        dataType : "json",
                        success : function (){
                            $('.reply_div').load(location.href+' .reply_div');
                            input.value ='';
                            keydown = false;
                            $(input).attr("readonly",true);
                            $(input).attr("placeholder","5초 뒤에 댓글을 입력할 수 있습니다.");
                        },
                    });
                }
            }
            imageDelay(function (){
                $(".identicon").each(function() {
                    var hash = md5($(this).data('id')).toString();
                    var data = new Identicon(hash,{format:'svg'}).toString();
                    $(this).attr('src', "data:image/svg+xml;base64,"+data);
                });
            }, 1000);
            delay(function (){
                $(input).removeAttr("readonly");
                $(input).attr("placeholder","댓글을 입력해주세요.");
                keydown=true;
            }, 5000);
        });
        // 댓글 작성 ajax
        $(document).on('click', '.write_reply', function() {
            if (input.value == '') {
                swal("댓글을 입력해주세요.");
            }
            if (input.value != '') {
                $.ajax({
                    url:'/council/detail/reply',
                    type:'get',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    data : $('#reply_form').serialize(),
                    dataType : "json",
                    success : function (){
                        $('.reply_div').load(location.href+' .reply_div');
                        input.value ='';
                        keydown = false;
                        $(input).attr("readonly",true);
                        $(input).attr("placeholder","5초 뒤에 댓글을 입력할 수 있습니다.");
                    },
                });
            }
            imageDelay(function (){
                $(".identicon").each(function() {
                    var hash = md5($(this).data('id')).toString();
                    var data = new Identicon(hash,{format:'svg'}).toString();
                    $(this).attr('src', "data:image/svg+xml;base64,"+data);
                });
            }, 1000);
            delay(function (){
                $(input).removeAttr("readonly");
                $(input).attr("placeholder","댓글을 입력해주세요.");
                keydown=true;
            }, 5000);
        });
        jQuery('#selectBox').change(function() {
            var state = jQuery('#selectBox option:selected').val();
            if (state == '공지') {
                // 작성 값 초기화 및 메뉴명 변경
                $("#forum_head").text('공지글 작성하기');
                $('#titleHelp').text("제목을 입력해주세요.");
                $('#contentHelp').text("공지글을 자세하게 입력해주세요.");

                // Hide and Show
                jQuery('#eventDatePick').hide();
            }
            if (state == '행사') {
                // 작성 값 초기화 및 메뉴명 변경
                $("#forum_head").text('행사 추가하기');
                $('#titleHelp').text("제목을 입력해주세요.");
                $('#contentHelp').text("행사에 대한 자세한 내용을 입력해주세요.");

                // Hide and Show
                jQuery('#eventDatePick').show();
            }
        });
    })
</script>


</body>
</html>