<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <!-- 좌측 -->
        <div th:replace="fragments.html :: side-bar"></div>
        <!-- 좌측 끝 -->
        <div class="col-md-7 gedf-main">
            <!-- 게시글 작성 시작
            TODO
            1. 학생회 일 경우에만 등록이 보이게 바꿔야 함
            -->
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id ="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">게시글</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id ="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">이미지 등록</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id ="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">posts</label>
                                <textarea class="form-control" id="message" rows="3" placeholder="게시글을 작성해주세요"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" id ="images" role="tabpanel" aria-labelledby="images-tab">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">이미지를 업로드해주세요.</label>
                                </div>
                            </div>
                            <div class="py-4"></div>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">게시하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 게시글 작성 끝 -->
            <!-- 게시글 목록 시작 -->
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <!-- TODO 이미지 깨지는거 처리 해야 함 -->
                                <img src="../images/multimedia.png" class="rounded-circle" width="40">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">@Croce</div>
                                <div class="h7 taxt-muted">멀티미디어 학생회</div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success">저장</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2">
                        <i class="fa fa-clock-o"></i> 10분 전
                    </div>
                    <a class="card-link" href="#">
                        <h5 class="card-title">환영합니다</h5>
                    </a>
                    <p class="card-text">
                        멀티미디어 학과에 오신 것을 환영합니다<br>
                        문의는 아래에 답글로 부탁드립니다.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link"><i class="fa fa-gittip"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-comment"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-mail-forward"></i></a>
                </div>
            </div>
            <!-- 게시글 목록 끝 -->
        </div>
        <!-- 오른쪽 게시글 시작 -->
        <div class="col-md-3">
            <div class="card hedf-card">
                <div class="card-body">
                    <h5 class="card-title">중요 일정</h5>
                    <h6 class="card-subtitle mb-2 text-muted">부 제목</h6>
                    <p class="card-text"> 곧 축제가 있습니다. </p>
                    <a href="#" class="card-link">공지글 보러가기</a>
                </div>
            </div>
        </div>
        <!-- 오른쪽 게시글 끝 -->
    </div>
</div>

</body>
</html>