<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>
   
    


    <div id="wrapper" class="is-collapse">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='about')"></div>
 
        <!-- Main Contents -->
        <div class="main_content">

            <div class="w-full lg:h-80 h-52 pb-10 bg-cover flex justify-center items-center relative bg-gradient-to-tr from-blue-400 to-blue-300 via-blue-400">

                <div class="text-center max-w-xl mx-auto z-10 relative">
                    <div class="lg:text-4xl text-2xl text text-white font-semibold mb-3"> About Unect</div>
                    <div class="text-white text-lg font-medium text-opacity-90">
                        모든 학우들이 편안한 서비스를 이용할 수 있도록 노력하겠습니다.
                    </div>
                </div>

                <div class="absolute w-full h-full inset-0 bg-gray-600 bg-opacity-20"> </div>

            </div> 
            <div class="mcontainer">
 
                <div class="-mt-16 bg-white max-w-3xl mx-auto p-10 relative rounded-md shadow">

                    <div class="md:space-y-6 space-y-5 text-gray-400 md:text-base">
                        <div class="font-semibold md:text-2xl text-lg text-gray-700">팀원 소개</div>
                        <div class="md:leading-8 pl-2">
                            안녕하세요 저희는 남서울대학교 멀티미디어학과
                            <a href="https://github.com/Jwhyee" target="_blank">가준영</a>,
                            <a href="https://github.com/lee-ji-hoon" target="_blank">이지훈</a>입니다.<br>
                        </div>

                        <div class="font-semibold md:text-2xl text-lg text-gray-700">사이트 소개</div>
                        <div class="md:leading-8 pl-2">
                            <div class="font-semibold md:text-xl text-lg my-2 text-gray-500">개발 배경</div>
                            저희 학교는 타학교들에 비해 스터디의 비중이 많이 적다고 느껴졌습니다.<br>
                            때문에 스터디를 할 수 있는 커뮤니티를 만들어 학우들이 팀 프로젝트 및 스터디에 친숙해질 수 있는 기회를 만들어보고자 기획하게 되었습니다.<br>
                            <div class="font-semibold md:text-xl text-lg my-2 text-gray-500">개발 환경</div>
                            Spring Boot + Thymeleaf + MySQL + JPA(+JPQL)로 만들어진 페이지입니다.<br>
                            프로젝트 시작 전 2달간 본인의 공부에 집중하여 페이지 개발을 공부하였고, 대략 2달에 걸쳐 페이지를 완성하였습니다.<br>
                            <div class="font-semibold md:text-xl text-lg my-2 text-gray-500">사이트명 소개</div>
                            UNECT는 University + Connect의 합성어입니다.(named by 21학번 김소영)<br>
                            현재는 저희 학과에 머물러 있는 페이지이지만 모든 대학의 학과 커뮤니티로 발전시킬 예정입니다.<br>
                        </div>
                    </div>
                    
                </div>
        
            </div>
        </div>
        
    </div>
</body>
</html>