<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>
   
    


    <div id="wrapper" class="is-collapse">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='board')"></div>

        <!-- Main Contents -->
        <div class="main_content">

            <div class="mcontainer">
 
                <div class="bg-white max-w-4xl mx-auto md:p-10 p-6 relative rounded-md shadow">
                    
                    <div class="md:space-y-6 space-y-4 text-gray-400 md:text-lg">
                         
                        <div class="md:leading-8 leading-7"> Updated April 05, 2022</div>
                        <div class="font-semibold md:text-2xl text-xl text-gray-700"> 개인정보 보호정책 (Privacy Policy) </div>
                        <div class="md:leading-8 leading-7"> Version 1.0, Revision 1</div>
                        <div class="md:leading-8 leading-7"> 개인정보보호법에 따라 사용자의 개인정보와 권리를 보호하고 개인정보 보호와 관련된 문제를 해결하기 위하여 unect(이하 “유넥트”)는 다음과 같은 개인정보보호정책을 시행한다.</div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제1조(개인정보 수집 목적) </div>
                        <div class="md:leading-8 leading-7">
                            1. 유넥트는 다음과 같은 목적을 위하여 사용자의 개인정보를 수집한다. 수집된 정보는 아래 명시된 목적 이외의 목적을 위하여 사용되지 아니하며, 사용 목적이 변경되는 경우 개인정보보호법 제18조에 따라 사용자의 별도 동의를 구하기 위한 필요한 조치를 취한다.</div>
                        <div class="md:leading-8 leading-7">
                            가. 사업 소개 및 진행을 위한 서비스 제공 목적
                        </div>
                        <div class="md:leading-8 leading-7">
                            서비스의 부적절한 사용을 방지하고, 통지서를 발송하며 서비스를 요청한 사용자를 확인하기 위한 목적을 위하여 사용된다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            나. 일반 업무 관리 목적
                        </div>
                        <div class="md:leading-8 leading-7">
                            개인정보는 연락, 설문 및 결과 통지를 하기 위한 목적을 위하여 사용된다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            다. 재화 또는 서비스 제공 목적
                        </div>
                        <div class="md:leading-8 leading-7">
                            개인정보는 서비스 및 콘텐츠를 제공하고 최적화된 서비스를 제공하기 위한 목적을 위하여 사용된다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            라. 마케팅 및 광고 목적
                        </div>
                        <div class="md:leading-8 leading-7">
                            개인정보는 새로운 서비스(또는 제품)을 개발하고, 최적화된 서비스를 제공하며, 이벤트 및 광고 소식을 전달하고, 행사 참여 기회를 제공하기 위한 목적을 위하여 사용된다.
                        </div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제2조 (개인정보 저장 및 사용 기간)</div>
                        <div class="md:leading-8 leading-7">
                            1. 유넥트는 사용자로부터 개인정보 수집 및 사용에 대한 동의를 받은 시점부터 5년 동안 개인정보를 보관하며, 관계 법령이 달리 그 기간을 명시하지 않는 한 5년 후에 해당 개인정보를 삭제한다. 관계 법령이 달리 기간을 명시하는 경우 유넥트는 관계 법령에 명시된 기간 동안 개인정보를 보관한다. 개인정보 보관 기간 중에 삭제 요청이 있는 경우, 해당 정보는 요청일로부터 10일 이내에 삭제된다.
                        </div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제4조 (사용자 권리 및 권리 행사 방법)</div>
                        <div class="md:leading-8 leading-7">
                            1. 사용자는 아래 권리들을 행사할 수 있으며, 개인정보를 열람, 수정 또는 삭제하거나 사용을 중단할 것을 요청할 수 있다. 또한, 사용자가 개인정보를 수정 또는 삭제하거나 사용을 중단할 것을 요청하는 경우, 이러한 요청의 처리 확인은 요청을 받은 날로부터 10일 이내 또는 요청이 처리되기 전에 통지되며, 개인정보의 사용 및 제공은 제한된다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            가. 사용자는 개인정보보호법 제35조(개인정보의 열람)에 따라 자신의 개인정보 열람을 요청할 수 있다. 그러나 이러한 열람은 동법 제35조 (5)항에 따라 제한될 수 있다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            나. 유넥트의 개인정보 관리 담당자에게 이메일 또는 전화를 통하여 수정 또는 삭제 요청이 송달되면 유넥트는 해당 요청을 받은 날로부터 10일 이내에 이를 처리한다
                        </div>
                        <div class="md:leading-8 leading-7">
                            다. 유넥트의 개인정보 관리 담당자에게 이메일 또는 전화를 통하여 개인정보 사용 중단 요청이 송달되면 유넥트는 해당 요청을 받은 날로부터 10일 이내에 이를 처리한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            개인정보는 새로운 서비스(또는 제품)을 개발하고, 최적화된 서비스를 제공하며, 이벤트 및 광고 소식을 전달하고, 행사 참여 기회를 제공하기 위한 목적을 위하여 사용된다.
                        </div>

                        <div class="md:leading-8 leading-7">
                            2. 사용자가 자신의 권리를 행사하기 위하여 제4조 (1)항의 요청을 하는 경우, 유넥트는 이러한 요청이 개인정보 관리 담당자에게 이메일 또는 전화를 통하여 송달된 때에 해당 요청을 처리한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            3. 사용자가 자신의 개인 정보 상의 오류를 이유로 수정 또는 삭제 요청을 하는 경우, 유넥트는 오류가 수정 또는 삭제될 때까지 해당 개인정보를 사용하거나 제공하지 않는다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            4. 제4조 (1)항에 따른 권리 행사는 법률 대리인 또는 수탁자와 같은 대리인을 통하여 이루어질 수 있으며, 이 경우, 개인정보보호법 시행령 별표11에 명시된 바에 따라 위임장이 제출되어야 한다.
                        </div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제6조 (사용되는 개인정보 항목 표시)</div>
                        <div class="md:leading-8 leading-7">
                            1. 유넥트는 다음과 같은 개인정보 항목들을 사용한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            가. 필수 항목: 이메일, 성명, 회사명, 국가, 회사 규모, 필요한 제품 개수, 제품과 관련하여 현재 사용중인 기술 플랫폼, IP주소, 기기ID, 웹사이트 접속 정보(예: 세션로그)
                        </div>
                        <div class="md:leading-8 leading-7">
                            나. 선택 항목: 휴대전화번호 또는 기타 전화번호, 직함(designation)
                        </div>
                        <div class="md:leading-8 leading-7">
                            다. 수집 방법: 홈페이지
                        </div>
                        <div class="md:leading-8 leading-7">
                            라. 보관 사유: 개인정보보호법 제18조에 따라 사전 동의를 받는 등 필요한 조치를 취한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            마. 보관 기간: 5년
                        </div>
                        <div class="md:leading-8 leading-7">
                            바. 관계 법령: 신용정보의 수집, 처리 및 사용에 대한 기록 – 3년, 소비자 민원 또는 해결된 사안에 대한 기록 – 3년
                        </div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제7조 (개인정보 삭제 절차 및 방법)</div>
                        <div class="md:leading-8 leading-7">
                            1. 원칙적으로 유넥트는 사용 목적이 달성된 개인정보를 삭제한다. 삭제 절차, 기한, 방법은 아래와 같다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            가. 삭제 절차<br>
                            사용 목적이 달성된 정보는 별도의 데이터베이스(또는 종이 서류의 경우 별도의 파일)로 전송되어 내부 정책 및 기타 관계 법령에 따라 일정 기간 동안 보관되며 그 후 파기된다. 이 경우, 별도의 데이터베이스로 전송된 개인정보는 법에 의해 요구되는 경우를 제외하고 다른 목적을 위하여 사용되지 않는다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            나. 삭제 기한<br>
                            사용자의 개인정보는 보관 기간이 만료된 날로부터 5일 이내에 삭제된다. 사용 목적이 달성되거나, 관련 서비스 또는 업무가 종료되어 개인정보가 불필요하게 되는 경우, 해당 정보는 불필요한 것으로 인정되는 날로부터 5일 이내에 삭제된다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            다. 삭제 방법<br>
                            전자 파일 형식의 정보는 복구되지 못하도록 기술적 방법을 사용하여 삭제하며, 인쇄된 정보는 파쇄 또는 소각하여 파기한다.
                        </div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제8조 (쿠키를 통한 정보 수집 및 거절)</div>
                        <div class="md:leading-8 leading-7">
                            1. 유넥트의 웹사이트는 개인정보를 수집 및 저장하는 쿠키를 사용한다. 쿠키란 웹사이트가 컴퓨터 브라우저로 전송하는 저용량 문서 파일이다. 쿠키는 사용자의 컴퓨터를 인식하지만 사용자 개인을 인식하지는 않는다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            2. 사용자는 쿠키를 수락 또는 거부할 권리를 갖는다. 사용자는 모든 쿠키를 수락하거나, 쿠키가 설치 시 알림을 요청하거나, 모든 쿠키의 설치를 거부하기로 선택할 수 있다. 자세한 사항은 인터넷 브라우저의 도움창을 참고한다.
                        </div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제9조 (개인정보의 안전한 관리 보장)</div>
                        <div class="md:leading-8 leading-7">
                            1. 유넥트는 개인정보보호법 제29조에 따라 개인정보의 안전한 관리를 보장하기 위하여 기술적/행정적/물리적 조치들을 취한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            가. 정기 자체 검사 실시<br>
                            개인정보의 안전한 관리를 보장하기 위하여 자체 검사를 정기적(연 1회)으로 실시한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            나. 개인정보 및 교육 프로그램을 처리하는 직원의 수를 최소화한다.<br>
                            유넥트는 개인정보를 취급하는 직원을 지명하고, 구체적인 담당자로 인원을 제한하여 개인정보가 통제된 조건에서 관리될 수 있도록 한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            다. 내부 관리 계획 수립 및 시행<br>
                            유넥트는 개인정보의 안전한 관리를 보장하기 위하여 내부 관리 계획을 수행한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            라. 개인정보에 대한 접근 제한<br>
                            유넥트는 개인정보를 처리하는 데이터베이스 시스템에 대한 접근권을 부여, 수정, 취소함으로써 개인정보에 대한 접근을 제한하기 위하여 필요한 조치를 취한다. 또한 유넥트는 개인 정보에 대한 외부의 무단 접근을 통제하기 위하여 방화벽을 사용한다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            마. 허가 받지 않은 자의 출입 제한<br>
                            개인정보를 보관하기 위한 별도의 물리적 공간이 마련되어 있으며, 접근 제한을 위한 절차를 시행 및 운영하고 있다.
                        </div>

                        <div class="font-semibold md:text-2xl text-2xl text-gray-700 md:pt-12 pt-10"> 제12조 (개인정보 보호정책 변경)</div>
                        <div class="md:leading-8 leading-7">
                            1. 본 개인정보 보호정책은 시행일로부터 유효하며, 관계 법령 및/또는 내부 정책에 따라 추가, 삭제 또는 수정되는 경우, 해당 변경 사항은 변경된 내용이 시행되기 7일 전에 통지된다.
                        </div>
                        <div class="md:leading-8 leading-7">
                            통지일: 2022년 04월 05일 / 시행일: 2022년 04월 05일
                        </div>



                    </div>
     
                </div>
                     
            </div>
        </div>
 
    </div>
</body>
</html>