<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>
   
    


    <div id="wrapper" class="is-collapse">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='faq')"></div>

        <!-- Main Contents -->
        <div class="main_content">

            <div class="p-12 pb-0 bg-white shadow">
                <div class="container pb-0">

                    <h1 class="md:text-3xl text-lg font-semibold text-gray-900 leading-0 mb-3"> 자주 묻는 질문 (FAQ) </h1>
                    <nav class="responsive-nav md:m-0 -mx-4 nav-small">
                        <ul uk-switcher="connect: #components-nav ;animation: uk-animation-fade ; toggle: > * ">
                            <li><a href="#" class="lg:px-2">학교 생활</a></li>
                            <li><a href="#" class="lg:px-2">계정</a></li>
                            <li><a href="#" class="lg:px-2">기능</a></li>
                            <!--<li><a href="#" class="lg:px-2">Off canvas</a></li>
                            <li><a href="#" class="lg:px-2">Scrollspy</a></li>
                            <li><a href="#" class="lg:px-2">Tooltip</a></li>-->
                        </ul>
                    </nav>

                </div>
            </div>

            <div class="mcontainer">

                <div class="uk-switcher my-12" id="components-nav">

                    <!-- 학교 생활 -->
                    <div>
                        <div class="md:flex md:space-x-14">
                            <div class="md:w-3/4">
                                <h3 class="text-lg font-semibold mb-2" id="school-rest">휴학</h3>
                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">휴학의 종류는 어떤게 있나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>휴학은 일반휴학, 군휴학으로 나뉘어져있습니다.</p>
                                            <p>일반 휴학은 1년, 군휴학은 2년간 가능합니다.</p>
                                        </div>
                                    </li>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">휴학은 어떻게 신청하나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>① 대학 홈페이지 → ② 남서울Portal → ③ 학부생포탈Login → ④ 서비스/도서관→ 민원→ 신청및조회 → ⑤ 휴학신청 작성 및 출력 (본인출력)→ ⑥ 학과사무실 경유(지도교수, 학과장 면담 후 확인 및 날인) → ⑦ 휴학원 제출(교무처)</p>
                                            <p>👉 자세한 내용은 <a class="text-blue-500" th:href="@{https://mm.nsu.ac.kr/?m1=page_board_detail%25&menu_id=764%25&board_content_id=8293%25}" target="_blank">여기</a>를 참고해주세요.</p>
                                        </div>
                                    </li>
                                </ul>

                                <br><br><br>
                                <h3 class="text-lg font-semibold mb-2" id="school-graduate">졸업</h3>
                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">학교 졸업 요건은 어떻게 확인하나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>① 대학 홈페이지 → ② 남서울Portal → ③ 학부생포탈Login → ④ 학적/졸업/교직 → 졸업 → 졸업학점기준 → ⑤ 졸업기준년도 입력</p>
                                            <p>위의 경로로 들어가서 봉사시간 및 총취득학점을 확인하여 졸업 가능여부를 확인할 수 있습니다.</p>
                                        </div>
                                    </li>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">학과 졸업 요건은 어떻게 확인하나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>① 관련분야 자격증 취득, ② 최소 3개월 이상 인턴 경험 ③ 토익 600점 이상 혹은 어학점수 취득 ④ 4대보험이 지원되는 기업체로의 취업 ⑤ 관련분야 대학원 진학</p>
                                            <p>위 내용 중 최소 1개의 요건을 만족해야 합니다.</p>
                                            <p>👉 자세한 내용은 <a class="text-blue-500" th:href="@{https://mm.nsu.ac.kr/?m1=page%25&menu_id=756%25}" target="_blank">여기</a>를 참고해주세요.</p>
                                        </div>
                                    </li>
                                </ul>

                                <br><br><br>
                                <h3 class="text-lg font-semibold mb-2" id="school-move">전과</h3>
                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">전과는 어떻게 하나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>전과는 학년별 기준학점이상을 취득해야지 가능합니다.</p>
                                            <p>👉 자세한 내용은 <a class="text-blue-500" th:href="@{https://mm.nsu.ac.kr/?m1=page_board_detail%25&menu_id=764%25&board_content_id=8295%25}" target="_blank">여기</a>를 참고해주세요.</p>
                                        </div>
                                    </li>
                                </ul>

                                <br><br><br>
                                <h3 class="text-lg font-semibold mb-2" id="school-etc">학과 기타 사항</h3>
                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">이외에 다른 내용은 어디서 확인할 수 있나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>기타 다른 내용은 멀티미디어학과 종합알림에서 확인 가능합니다.</p>
                                            <p>👉 자세한 내용은 <a class="text-blue-500" th:href="@{https://mm.nsu.ac.kr/?m1=page%25&menu_id=764%25}" target="_blank">여기</a>를 참고해주세요.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-1/4 md:block hidden">
                                <ul class="docs-list" uk-scrollspy-nav="closest: li; scroll: true" uk-sticky="offset:90;media : @m">
                                    <li> <a href="#school-rest" uk-scroll> 휴학 </a></li>
                                    <li> <a href="#school-graduate" uk-scroll> 졸업 </a></li>
                                    <li> <a href="#school-move" uk-scroll> 전과 </a></li>
                                    <li> <a href="#school-etc" uk-scroll> 학과 기타 사항 </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- 계정 -->
                    <div>

                        <div class="md:flex md:space-x-14">
                            <div class="md:w-3/4">
                                <h2 class="text-xl font-semibold mb-2" id="account-login">개인 정보</h2>
                                <p class="text-base mb-10">UNECT에서는 개인정보를 타 사이트에 제공 및 판매하지 않습니다.</p>

                                <ul uk-accordion class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">개인 정보가 유출될까봐 걱정돼요.</a>
                                        <div class="uk-accordion-content">
                                            <p>저희 UNECT는 타 사이트에 제공 및 판매하지 않습니다.</p>
                                            <p>또한 비밀번호는 50자 이상의 랜덤 알파벳 및 기호로 저장됩니다.</p>
                                        </div>
                                    </li>
                                </ul>

                                <br><br><br>
                                <h3 class="text-lg font-semibold mb-2" id="account-change">정보 변경</h3>
                                <p class="text-base mb-10">회원 정보 변경은 <a th:href="@{/profile/settings/profile-settings}" class="text-blue-500">프로필 페이지</a>에서 변경이 가능합니다.</p>

                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">비밀번호 변경은 어떻게 하나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>비밀번호 변경은 해당 <a th:href="@{/profile/settings/password}" class="text-blue-500">링크</a>에서 변경할 수 있습니다.</p>
                                        </div>
                                    </li>
                                </ul>

                                <br><br><br>
                                <h3 class="text-lg font-semibold mb-2" id="account-delete"> 가입 및 탈퇴 </h3>
                                <p class="text-base mb-10">  </p>

                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">여러 계정을 생성할 수 있나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>저희는 이메일 인증을 사용하기 때문에 1인당 1개의 계정만 생성이 가능합니다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">회원 탈퇴는 어떻게 하나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>회원 탈퇴는 해당 <a th:href="@{/profile/settings/withdraw}" class="text-blue-500">링크</a>에서 탈퇴가 가능합니다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">탈퇴 후 재가입이 가능한가요?</a>
                                        <div class="uk-accordion-content">
                                            <p>회원 탈퇴 후 재가입이 가능합니다.</p>
                                            <p>하지만 신고당한 이력이 있다면 해당 건이 처리되기 전까지 회원 탈퇴는 불가능합니다.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">탈퇴하면 기존에 했던 내용들이 지워지나요?</a>
                                        <div class="uk-accordion-content">
                                            <p>회원 탈퇴 시 작성했던 게시물, 댓글, 쪽지 등 모든 내용이 사라집니다.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-1/4 md:block hidden">
                                <ul class="docs-list" uk-scrollspy-nav="closest: li; scroll: true" uk-sticky="offset:90;media : @m">
                                    <li> <a href="#account-login" uk-scroll> 개인 정보 </a></li>
                                    <li> <a href="#account-change" uk-scroll> 정보 변경 </a></li>
                                    <li> <a href="#account-delete" uk-scroll> 가입 및 탈퇴 </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- 기능 -->
                    <div>
                        <div class="md:flex md:space-x-14">
                            <div class="md:w-3/4">
                                <h2 class="text-xl font-semibold mb-2" id="function-notify">알림 설정</h2>
                                <p class="text-base mb-10">알림 설정은 <a th:href="@{/profile/settings/alarm}" class="text-blue-500">프로필 페이지</a>에서 설정할 수 있습니다.</p>
                                <ul uk-accordion class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">알림을 꺼도 알림이 와요</a>
                                        <div class="uk-accordion-content">
                                            <p>알림을 끄고, 키는 행위를 반복하면 충돌이 일어나 제대로 기능이 작동하지 않을 수 있습니다.</p>
                                            <p>페이지를 새로고침하고 다시 시도해주세요.</p>
                                            <p>만약, 위 방법으로 해결되지 않는다면 <a th:href="@{/info/contact}" class="text-blue-500">건의사항</a>에 문의해주세요.</p>
                                        </div>
                                    </li>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">크롬을 다운 받으라는 알림창이 떠요</a>
                                        <div class="uk-accordion-content">
                                            <p>저희 페이지는 크롬 브라우저에 최적화 되어있습니다.</p>
                                            <p>불편하시더라도 크롬 혹은 safari로 사용해주시면 감사드리겠습니다!</p>
                                        </div>
                                    </li>
                                </ul>

                                <br><br><br>
                                <h3 class="text-lg font-semibold mb-2" id="function-page">페이지 사용</h3>
                                <p class="text-base mb-10">대부분의 오류는 새로고침으로 해결할 수 있습니다.</p>

                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">댓글이 안 달려요</a>
                                        <div class="uk-accordion-content">
                                            <p>댓글은 최소 2글자 이상 작성해야합니다.</p>
                                        </div>
                                    </li>
                                </ul>

                                <br><br><br>
                                <h3 class="text-lg font-semibold mb-2" id="function-etc"> 기타 기능 </h3>
                                <p class="text-base mb-10"> 가나다라마바사 </p>

                                <ul uk-accordion="multiple: true" class="pl-4">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">가나다라마바사</a>
                                        <div class="uk-accordion-content">
                                            <p>가나다라마바사</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="uk-accordion-title" href="#">가나다라마바사</a>
                                        <div class="uk-accordion-content">
                                            <p>가나다라마바사</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-1/4 md:block hidden">
                                <ul class="docs-list" uk-scrollspy-nav="closest: li; scroll: true" uk-sticky="offset:90;media : @m">
                                    <li> <a href="#function-notify" uk-scroll> 알람 설정 </a></li>
                                    <li> <a href="#function-page" uk-scroll> 정보 변경 </a></li>
                                    <li> <a href="#function-etc" uk-scroll> 기타 기능 </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
 
    </div>
</body>
</html>