<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>
   
    


    <div id="wrapper" class="is-collapse">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='about')"></div>
 
        <!-- Main Contents -->
        <div class="main_content">

            <div class="w-full lg:h-80 h-52 pb-10 bg-cover flex justify-center items-center relative" data-src="assets/images/group/group-cover-1.jpg" uk-img>

                <div class="text-center max-w-xl mx-auto z-10 relative">
                    <div class="lg:text-4xl text-2xl text text-white font-semibold mb-3"> About Unect</div>
                    <div class="text-white text-lg font-medium text-opacity-90">
                        모든 학우들이 편안한 서비스를 이용할 수 있도록 노력하겠습니다.
                    </div>
                </div>

                <div class="absolute w-full h-full inset-0 bg-gray-600 bg-opacity-20"> </div>

            </div> 
            <div class="mcontainer">
 
                <div class="-mt-16 bg-white max-w-3xl mx-auto p-10 relative rounded-md shadow">

                    <div class="md:space-y-6 space-y-5 text-gray-400 md:text-base">
                        <div class="font-semibold md:text-2xl text-lg text-gray-700">팀원 소개</div>
                        <div class="md:leading-8">
                            안녕하세요 저희는 남서울대학교 멀티미디어학과
                            <a href="https://github.com/Jwhyee" target="_blank">가준영</a>,
                            <a href="https://github.com/lee-ji-hoon" target="_blank">이지훈</a>입니다.<br>
                            저희 프로젝트는 <a href="https://github.com/lee-ji-hoon/community" target="_blank">Github</a>에서 확인하실 수 있습니다.<br>
                        </div>

                        <div class="font-semibold md:text-2xl text-lg text-gray-700">페이지 소개</div>
                        <div class="md:leading-8">
                            Unect는 University + Connect의 합성어 입니다.<br>
                            현재는 저희 학과에 머물러 있지만 나아가 모든 대학의 각 학과 커뮤니티로 발전시킬 예정입니다.<br>
                        </div>

                        <div class="font-semibold md:text-xl text-lg text-gray-700">페이지 개발 배경</div>
                        <div class="md:leading-8">
                            Unect Project는 JAVA + SPRING BOOT + Thymeleaf로 개발된 페이지입니다.<br>
                            학교에서 배우는 JSP에서 더 나아가보자 졸업작품을 시작하기 전 2달간 서로 공부하여 개발하였습니다.<br>
                        </div>
                    </div>
                    
                </div>
        
            </div>
        </div>
        
    </div>
</body>
</html>