<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body class="bg-light">
<header th:replace="theme-fragments.html :: header"></header>
<div th:replace="theme-fragments.html :: side_bar"></div>

<div class="container" style="margin-top: 150px">
    <div class="py-5 text-center" th:if="${error}">
        <p class="text-5xl">unect 이메일 확인</p>
        <div class="alert alert-danger" role="alert">
            이메일 확인 링크가 정확하지 않습니다.
        </div>
    </div>

    <div class="py-5 text-center" th:if="${error == null}">
        <p class="text-5xl">unect 이메일 확인</p>
        <h2><br>
           이메일을 확인했습니다. <span th:text="${numberOfUser}">N</span>번째 회원,
            <span th:text="${nickname}">이지훈</span>님 가입을 축하합니다.
        </h2>
        <small class="text-info">이제부터 unect 커뮤니티의 모든 기능을 사용 할 수 있습니다.</small>
    </div>
</div>

</body>
</html>