<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body class="bg-light">
<header th:replace="theme-fragments.html :: header"></header>
<div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
                unect 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
            </div>
            <div class="py-5 text-center" th:if="${error != null}">
                <p class="lead">unect 가입</p>
                <div  class="alert alert-danger" role="alert" th:text="${error}"></div>
                <p class="lead" th:text="${email}">your@email.com</p>
            </div>

            <div class="py-5 text-center" th:if="${error == null}">
                <p class="lead">unect 가입</p>

                <h2>unect 서비스를 사용하려면 인증 이메일을 확인하세요.</h2>

                <div>
                    <p class="lead" th:text="${email}">your@email.com</p>
                    <a class="btn btn-outline-info" th:href="@{/resend-confirm-email}">인증 이메일 다시 보내기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>