<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<style>
    .custom-file label {
        color: white;
        cursor: pointer;
    }

    .custom-file input[type="file"] {  /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }

</style>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <!-- Profile cover -->
            <div id="new-profile-image"></div>

            <div th:if="${message}" class="callout bg-blue-600" data-closable style="border-radius: 10px; margin-bottom: 20px; padding: 15px; color: white">
                <button class="close-button" aria-label="Close alert" type="button" data-close="" >
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${message}">메시지</span>
            </div>

            <div class="profile user-profile">
                <div id="profile-banner-image" class="profiles_banner">
                    <div id="current-profile-image">
                        <img alt="" th:src="${account.getBannerImage()}"/>
                    </div>
                    <div id="cropped-new-profile-image"></div>
                    <div id="new-profile-banner"></div>

                    <form name="update_banner_form" th:object="${profileForm}" action="#"
                          th:action="@{'/profile/' + ${#authentication.name} + '/update-banner'}" method="post">
                        <div class="form-group">
                            <input id="profileBanner" type="hidden" th:field="*{profileBanner}" class="form-control" />
                        </div>
                        <div class="profile_action absolute bottom-0 right-0 space-x-1.5 p-3 text-sm z-50 hidden lg:flex" th:if="${isOwner}">
                            <div class="custom-file">
                                <label for="profile-image-file" id="update-banner"
                                       class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                                    <ion-icon name="create-outline" class="text-xl mr-1"></ion-icon>
                                    배너 이미지 수정
                                </label>
                                <input type="file" id="profile-image-file" name="uploadfile" accept="*">
                            </div>
                            <span id="cut-button"
                               class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                                자르기
                            </span>
                            <span id="confirm-button"
                               class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                                확인
                            </span>
                            <span id="reset-button"
                               class="flex items-center justify-center h-8 px-3 bg-red-600
                               rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                                취소
                            </span>

                            <a type="submit" id="banner-submit"
                               href="javascript:update_banner_form.submit();"
                               class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                                <span> 저장 </span>
                            </a>
                            <a th:href="@{/settings/profile-settings}" id="update-profile"
                               class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                                <ion-icon name="create-outline" class="text-xl"></ion-icon>
                                <span> 프로필 수정 </span>
                            </a>
                        </div>
                    </form>
                </div>

                <div class="profiles_content">
                    <div class="profile_avatar">
                        <div class="profile_avatar_holder" th:if="${isOwner}">
                            <svg th:if="${#strings.isEmpty(account.profileImage)}"
                                 th:data-jdenticon-value="${#authentication.name}"
                                style="width: 160px; height: 160px"></svg>
                            <img th:if="${!#strings.isEmpty(account.profileImage)}"
                                 th:src="${account.profileImage}" />
                        </div>
                        <div class="profile_avatar_holder" th:if="${!isOwner}">
                            <svg th:if="${#strings.isEmpty(account.profileImage)}"
                                 th:data-jdenticon-value="${account.studentId}"
                                 style="width: 160px; height: 160px"></svg>
                            <img th:if="${!#strings.isEmpty(account.profileImage)}"
                                 th:src="${account.profileImage}" />
                        </div>
                        <div class="user_status status_online"></div>
                        <div class="icon_change_photo" hidden> <ion-icon name="camera" class="text-xl"></ion-icon> </div>
                    </div>

                    <div class="profile_info">
                        <h1 th:text="${account.username}"></h1>
                        <p th:text="${account.getBio()}"></p>
                    </div>
                </div>

                <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2">
                    <nav class="responsive-nav pl-3">
                        <ul  uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                            <li><a href="#">Timeline</a></li>
                            <li><a href="#">Friend <span>3,243</span> </a></li>
                            <li><a href="#">Photoes </a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Groups</a></li>
                            <li><a href="#">Videos</a></li>
                        </ul>
                    </nav>

                    <!-- button actions -->
                    <div class="flex items-center space-x-1.5 flex-shrink-0 pr-4 mb-2 justify-center order-1 relative">

                        <!-- add story -->
                        <a href="#" class="flex items-center justify-center h-10 px-5 rounded-md bg-blue-600 text-white space-x-1.5 hover:text-white"  uk-toggle="target: #create-post-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd"></path>
                            </svg>
                            <span>게시글 작성</span>
                        </a>

                        <!-- search icon -->
                        <a href="#" class="flex items-center justify-center h-10 px-5 rounded-md bg-gray-100 space-x-1.5" uk-toggle="target: #profile-search;animation: uk-animation-slide-top-small">
                            <ion-icon name="search" class="text-xl"></ion-icon>
                            <span>
                                스터디 찾기
                            </span>
                        </a>

                        <!-- search dropdown -->
                        <div class="absolute right-3 bg-white z-10 w-full flex items-center border rounded-md"
                             id="profile-search" hidden>
                            <input type="text" placeholder="Search.." class="flex-1">
                            <ion-icon name="close-outline" class="text-2xl hover:bg-gray-100 p-1 rounded-full mr-2 cursor-pointer" uk-toggle="target: #profile-search;animation: uk-animation-slide-top-small"></ion-icon>
                        </div>

                        <!-- more icon -->
                        <a href="#" class="flex items-center justify-center h-10 w-10 rounded-md bg-gray-100">
                            <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                        </a>
                        <!-- more drowpdown -->
                        <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
                             uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                            <ul class="space-y-1">
                                <li>
                                    <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                        <ion-icon name="arrow-redo-outline" class="pr-2 text-xl"></ion-icon> Share Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                        <ion-icon name="create-outline" class="pr-2 text-xl"></ion-icon>  Account setting
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                        <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon>   Disable notifications
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                        <ion-icon name="star-outline"  class="pr-2 text-xl"></ion-icon>  Add favorites
                                    </a>
                                </li>
                                <li>
                                    <hr class="-mx-2 my-2 dark:border-gray-800">
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                        <ion-icon name="stop-circle-outline" class="pr-2 text-xl"></ion-icon>  Unfriend
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function() {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $newProfileBannerImage = $("#new-profile-banner");
        let $currentProfileImage = $("#current-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $profileImage = $("#profileImage");
        let $bannerSubmit = $("#banner-submit");
        let $updateBanner = $("#update-banner");
        let $updateProfile = $("#update-profile");
        let $profileBanner = $("#profileBanner");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();
        $bannerSubmit.hide();

        $("#profile-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 3.5/1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                        $updateBanner.hide();
                        $updateProfile.hide();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function() {
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $profileImage.val('');
            $newProfileBannerImage.hide('');
            $updateBanner.show();
            $updateProfile.show();
            $bannerSubmit.hide();
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $resultImage.html(newImage);
            $resultImage.show();
            $currentProfileImage.hide();
            $confirmBtn.show();


            $confirmBtn.click(function () {
                $newProfileImage.hide();
                $newProfileBannerImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $updateBanner.hide();
                $bannerSubmit.show();
                $profileBanner.val(dataUrl)
                console.log(dataUrl);
            });
        });
    });
</script>
</body>
</html>


    <!-- nesting, row안의 row -->
    <!--<div class="row mt-5" style="margin-left: 150px; margin-right: 150px">
        <div class="box col-6">
            <div class="row justify-content-center">
                <div class="box col-12 rounded p-4">
                    <div class="row justify-content-center p-4">
                        <div class="col-4">
                            <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded border img-thumbnail" th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
                            <img th:if="${!#strings.isEmpty(account.profileImage)}" class="float-left rounded-circle border" th:src="${account.profileImage}" width="125" height="125"/>
                        </div>
                        <div class="col-3" style="float: none; margin: 0 auto; align-items:center; display: flex; font-family: 'Open Sans', sans-serif;">
                            <h3 class="text-muted" style="text-align: center" th:text="${account.nickname}">닉네임</h3>
                        </div>
                        <div th:if="${isOwner}" class="col-4" style="float: none; margin: 0 auto; align-items:center; display: flex;">
                            <a class="modify_button text-muted" href="#" th:href="@{/settings/profile-settings}">프로필 수정</a>
                        </div>
                    </div>
                </div>
                <div class="empty col-12 p-3"></div>
                <div class="box col-12 rounded p-4">
                    &lt;!&ndash; Grid container &ndash;&gt;
                    <div class="container p-2">
                        &lt;!&ndash;Grid row&ndash;&gt;
                        <span style="font-size: 20px;">
                                <i class="fa fa-bookmark"></i>
                            </span>
                        <span style="font-size: 20px; margin-left: 5px">소개</span>

                        <div class="row mt-4">
                            &lt;!&ndash;Grid column&ndash;&gt;
                            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                <h6 class="text-uppercase text-muted font-weight-bold" >학번</h6>

                                <p th:if="${!#strings.isEmpty(account.studentId)}">
                                    <span th:text="${account.studentId}"></span>
                                </p>
                                <h6 class="text-uppercase text-muted font-weight-bold">학년</h6>

                                <p th:if="${!#strings.isEmpty(account.studentId)}">
                                    <span>추가 필요</span>
                                </p>
                            </div>
                            &lt;!&ndash;Grid column&ndash;&gt;

                            &lt;!&ndash;Grid column&ndash;&gt;
                            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                <h6 class="text-uppercase text-muted font-weight-bold">전공</h6>

                                <p th:if="${!#strings.isEmpty(account.occupation)}">
                                    <span th:text="${account.occupation}"></span>
                                </p>
                                <p th:if="${#strings.isEmpty(account.occupation)}">
                                    <span>전공을 정하지 않은 회원입나다.</span>
                                </p>

                                <h6 class="text-uppercase text-muted font-weight-bold">가입일</h6>

                                <p th:if="${isOwner || account.emailVerified}">
                                        <span th:if="${isOwner && !account.emailVerified}">
                                            인증이 된 회원이 아닙니다.
                                        </span>
                                    <span th:if="${!isOwner && !account.emailVerified}">
                                            <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">이메일 인증을 해야 모든 기능을 사용 할 수 있습니다..</a>
                                        </span>
                                    <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 d일 가입')}"></span>
                                </p>
                            </div>
                            &lt;!&ndash;Grid column&ndash;&gt;
                            <div class="col-lg-6 col-md-6 mb-4 mb-md-0 mt-2">
                                <h6 class="text-uppercase text-muted font-weight-bold">한 줄 소개</h6>
                                <p class="lead" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>
                                <p class="lead" th:if="${#strings.isEmpty(account.bio) && isOwner}">
                                    한 줄 소개를 추가하세요.
                                </p>
                                <p class="lead" th:if="${#strings.isEmpty(account.bio) && !isOwner}">
                                    본인 소개를 아직 적지 않은 회원입니다.
                                </p>
                            </div>
                        </div>
                        &lt;!&ndash;Grid row&ndash;&gt;
                    </div>
                    &lt;!&ndash; Grid container &ndash;&gt;
                </div>
            </div>
        </div>
        <div class="empty box col-1"></div>
        <div class="box col-5 rounded p-5">
            <div class="h-100">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">알림</h6>
                    <a href="">전체 보기</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3 ">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                            <small class="text-muted">15 minutes ago</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                            <small class="text-muted">15 minutes ago</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                            <small class="text-muted">15 minutes ago</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                            <small class="text-muted">15 minutes ago</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                            <small class="text-muted">15 minutes ago</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-left mt-2">
                    <small class="text-muted">최대 5개의 알림이 보입니다.</small>
                </div>

                <div class="mt-4">
                    <span >알림 스터디 주제</span><br/>
                    <span th:each="tag: ${account.tags}" class="font-weight-light text-monospace badge badge-pill badge-secondary mr-3 mt-3">
                            <i class="text-decoration-none text-white">
                                <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                            </i>
                        </span>
                </div>
            </div>
        </div>
    </div>-->


   <!-- <div class="main">
        <input id="community" type="radio" name="tabs">
        <label for="community">게시글</label>

        <input id="study" type="radio" name="tabs" checked>
        <label for="study">참여중인 스터디</label>

        <section id="community_content">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4" th:each="board : ${board}" >
                    <div class="card"
                         th:onclick="|location.href='@{/board/detail/{boardId}(boardId=${board.bid})}'|"
                         style="cursor: pointer">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${board.boardTitle}">Card subtitle</h6>
                            <h5 class="card-title text-truncate" th:text="${board.title}">title</h5>
                            <p class="card-text"></p>
                            <a href="#" class="card-link"><i class="fa fa-thumbs-up"></i><a class="btn btn-default badge" th:text="${likeService.boardLikeSize(board)}">좋아요 수</a></a>
                            <a href="#" class="card-link"><i class="fa fa-eye"></i><a class="btn btn-default badge" th:text="${board.pageView}">조회수</a></a>
                            <h6 class="card-subtitle text-muted float-right" th:text="${boardService.boardDateTime(board.uploadTime)}">시간</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="study_content">
            <div class="container">
                <div class="row justify-content-center pt-3">
                    <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(studyManager)}">관리중인 스터디가 없습니다.</h5>
                    <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(studyManager)}">관리중인 스터디</h5>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-4" th:each="study: ${studyManager}">
                                <div class="card mb-4 shadow-sm">
                                    <img th:src="${study.image}" class="card-img-top" th:alt="${study.title}" >
                                    <div class="card-body">
                                        <a th:href="@{'/study/' + ${study.path}}" class="text-decoration-none">
                                            <h5 class="card-title context" th:text="${study.title}"></h5>
                                        </a>
                                        <p class="card-text" th:text="${study.shortDescription}">Short description</p>
                                        <p class="card-text context">
                                                <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-2 mb-1">
                                                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                                        <i class="fa fa-tag" style="font-size: 10px"></i>
                                                        <span th:text="${tag.title}" style="font-size: 12px; font-weight: lighter">Tag</span>
                                                    </a>
                                                </span>
                                            <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-2">
                                                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                                        <i class="fa fa-globe" style="font-size: 10px"></i>
                                                        <span th:text="${zone.localNameOfCity}" class="text-white" style="font-size: 12px">City</span>
                                                    </a>
                                                </span>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">
                                                <i class="fa fa-user-circle"></i>
                                                <span th:text="${study.memberCount}"></span>명
                                            </small>
                                            <small class="text-muted date" th:text="${study.publishedDateTime}">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center pt-3">
                    <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(studyMember)}">참여중인 스터디가 없습니다.</h5>
                    <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(studyMember)}">참여중인 스터디</h5>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-4" th:each="study: ${studyMember}">
                                <div class="card mb-4 shadow-sm">
                                    <img th:src="${study.image}" class="card-img-top" th:alt="${study.title}" >
                                    <div class="card-body">
                                        <a th:href="@{'/study/' + ${study.path}}" class="text-decoration-none">
                                            <h5 class="card-title context" th:text="${study.title}"></h5>
                                        </a>
                                        <p class="card-text" th:text="${study.shortDescription}">Short description</p>
                                        <p class="card-text context">
                                                    <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                                        <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                                            <i class="fa fa-tag" style="font-size: 10px"></i>
                                                            <span th:text="${tag.title}" style="font-size: 12px; font-weight: lighter">Tag</span>
                                                        </a>
                                                    </span>
                                            <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                                        <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                                            <i class="fa fa-globe" style="font-size: 10px"></i>
                                                            <span th:text="${zone.localNameOfCity}" class="text-white" style="font-size: 12px">City</span>
                                                        </a>
                                                    </span>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">
                                                <i class="fa fa-user-circle"></i>
                                                <span th:text="${study.memberCount}"></span>명
                                            </small>
                                            <small class="text-muted date" th:text="${study.publishedDateTime}">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>-->

