<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<style>
    h6 {
        font-size: 20px;
    }

</style>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <!-- Profile cover -->
            <div id="isUpdatedForm">
                <div id="isUpdated"></div>
            </div>
            <div class="profile user-profile mt-4">
                <div class="study_content" style="margin-top: -100px; padding-bottom: 15px;">
                    <div class="profile_avatar mt-16">
                        <div class="profile_avatar_holder" th:if="${isOwner}">
                            <svg th:if="${#strings.isEmpty(account.profileImage)}"
                                 th:data-jdenticon-value="${account.studentId}"
                                 style="width: 160px; height: 160px"></svg>
                            <img th:if="${!#strings.isEmpty(account.profileImage)}"
                                 th:src="${account.profileImage}" />
                        </div>
                        <div class="profile_avatar_holder" th:if="${!isOwner}">
                            <svg th:if="${#strings.isEmpty(byAccount.profileImage)}"
                                 th:data-jdenticon-value="${byAccount.studentId}"
                                 style="width: 160px; height: 160px"></svg>
                            <img th:if="${!#strings.isEmpty(byAccount.profileImage)}"
                                 th:src="${byAccount.profileImage}" />
                        </div>
                    </div>

                    <div class="study_info">
                        <h1 class="uk-text-center" th:text="${byAccount.username}"></h1>
                        <p class="uk-text-center" th:text="${byAccount.getBio()}"></p>
                    </div>
                </div>

                <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2">
                    <nav class="responsive-nav pl-3">
                        <ul  uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                            <li><a href="#">소개</a></li>
                            <li><a href="#">스터디</a></li>
                            <li><a href="#">작성 게시글</a></li>
                        </ul>
                    </nav>

                    <div class="flex items-center space-x-1.5 flex-shrink-0 pr-4 mb-2 justify-center order-1 relative">
                        <!-- 쪽지 -->
                        <a th:href="@{/settings/profile-settings}" id="update-profile"
                           class="flex items-center justify-center h-8 px-3 rounded-md bg-green-600 text-white">
                            <ion-icon name="create-outline" class="text-xl hidden"></ion-icon>
                            <span style="margin-left: -2px"> 프로필 수정 </span>
                        </a>
                        <a th:if="${!isOwner}" href="#create-new-chat" uk-toggle
                           class="flex items-center justify-center h-8 px-3 rounded-md bg-blue-600 text-white">
                            <span>쪽지 보내기</span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab">

                <div class="md:flex md:space-x-6">
                    <!--소개-->
                    <div class="space-y-5 flex-shrink-0 md:w-7/12 mb-5">
                        <div class="card lg:mx-0 uk-animation-slide-bottom-small">
                            <div class="justify-content-center">
                                <div class="box col-12 rounded p-5">
                                    <!-- Grid container -->
                                    <div class="container p-2">
                                        <!--Grid row-->

                                        <div class="row mt-4">

                                            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                                <h6 class="font-semibold" >학번</h6>
                                                <span  th:if="${!#strings.isEmpty(account.studentId)}">
                                                    <span th:text="${account.studentId}"></span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                                <h6 class="font-semibold">학년</h6>

                                                <p th:if="${!#strings.isEmpty(account.grade)}">
                                                    <span th:text="${account.grade}"></span>
                                                </p>
                                                <p th:if="${#strings.isEmpty(account.grade)}">
                                                    <span>학년을 공개하지 않은 회원입나다.</span>
                                                </p>
                                            </div>

                                            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                                <h6 class="font-semibold" >전공</h6>

                                                <p class="mt-1" th:if="${!#strings.isEmpty(account.major)}">
                                                    <span th:text="${account.major}"></span>
                                                </p>
                                                <p class="mt-1" th:if="${#strings.isEmpty(account.major)}">
                                                    <span>전공을 정하지 않은 회원입나다.</span>
                                                </p>
                                            </div>


                                            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                                <h6 class="font-semibold">가입일</h6>
                                                <p th:if="${isOwner || account.emailVerified}">
                                                    <span th:if="${isOwner && !account.emailVerified}">
                                                        인증이 된 회원이 아닙니다.
                                                    </span>
                                                    <span th:if="${!isOwner && !account.emailVerified}">
                                                        <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">이메일 인증을 해야 모든 기능을 사용 할 수 있습니다..</a>
                                                    </span>
                                                    <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 d일 가입')}"></span>
                                                </p>
                                            </div>

                                            <div class="col-lg-12 col-md-12 mb-4 mb-md-0 mt-2">
                                                <h6 class="font-semibold">한 줄 소개</h6>
                                                <p class="lead" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>
                                                <p class="lead" th:if="${#strings.isEmpty(account.bio) && isOwner}">
                                                    한 줄 소개를 추가하세요.
                                                </p>
                                                <p class="lead" th:if="${#strings.isEmpty(account.bio) && !isOwner}">
                                                    본인 소개를 아직 적지 않은 회원입니다.
                                                </p>
                                            </div>

                                        </div>
                                        <!--Grid row-->
                                    </div>
                                    <!-- Grid container -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 사이드 태그 -->
                    <div class="w-full space-y-6">
                        <div class="widget card p-5">
                            <h4 class="text-lg font-semibold"> 관심 주제 </h4>
                            <div class="mt-3">
                                <div th:if="${accountWithTagsById.tags.isEmpty()}">
                                    아직 관심 주제를 설정하지 않은 회원입니다.
                                </div>
                                <div th:if="${!accountWithTagsById.tags.isEmpty()}">
                                    <a th:each="tag : ${accountWithTagsById.tags}"
                                       class="font-semibold text-monospace mt-3 p-1" >
                                        <span>#</span>
                                        <span th:text="${tag.title}">Tag</span>
                                    </a>
                                </div>
                            </div>
                            <a th:if="${isOwner}"
                               th:href="@{/settings/tags}" class="button gray mt-3 w-full"> 태그 추가 </a>
                        </div>

                        <div class="widget card p-1">
                            <h4 th:text="${account.nickname} + '님의 스터디'"
                                class="text-lg font-semibold p-4"></h4>
                            <div th:each="study: ${enrolledStudyList}"
                                 th:if="${study.isManager(#authentication.principal) || study.isMember(#authentication.principal)}"
                                 class="flex items-start flex-wrap p-3 sm:space-x-6">
                                <a th:href="@{'/study/' + ${study.path}}">
                                    <img th:src="${study.image}"
                                         th:alt="${study.title}"
                                         class="w-20 h-20 relative mt-1 order-1">
                                    <div class="flex-1 order-2 ml-2">
                                        <h4 class="text-lg text-gray-500 font-medium mb-2" th:text="${study.title}">Phaseout </h4>
                                        <!--<span th:each="tag: ${study.tags}" th:if="${tagStat.count} < 4"
                                              class="rounded-full font-weight-light text-sm text-monospace">
                                            <a  class="text-decoration-none text-white">
                                                <i class="fa fa-tag text-sm"></i> <span class="text-sm" th:text="${tag.title}">Tag</span>
                                            </a>
                                        </span>-->
                                    </div>
                                </a>
                            </div>

                            <div th:each="study: ${myStudyList}"
                                 th:if="${study.isManager(#authentication.principal) || study.isMember(#authentication.principal)}"
                                 class="flex items-start flex-wrap p-3 sm:space-x-6">
                                <a th:href="@{'/study/' + ${study.path}}">
                                    <img th:src="${study.image}"
                                         th:alt="${study.title}"
                                         class="w-20 h-20 relative mt-1 order-1">
                                    <div class="flex-1 order-2 ml-2">
                                        <p class="text-lg text-gray-500 font-medium mb-2" th:text="${study.title}">Phaseout </p>
                                        <span th:each="tag: ${study.tags}" th:if="${tagStat.count} < 4"
                                              class="rounded-full font-weight-light text-sm text-monospace">
                                            <a  class="text-decoration-none text-white">
                                                <i class="fa fa-tag text-sm"></i> <span class="text-sm" th:text="${tag.title}">Tag</span>
                                            </a>
                                        </span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <!--스터디-->
                <div class=" md:space-x-6">
                    <div class="space-y-5 flex-shrink-0">

                        <div class="card md:p-6 p-2 mx-auto">
                            <nav class="responsive-nav border-b">
                                <ul uk-switcher="connect: #timeline-tab-study; animation: uk-animation-fade">
                                    <li><a href="#" class="lg:px-2"> 멤버 <span th:text="${enrolledStudyList.size()}"></span></a></li>
                                    <li><a href="#" class="lg:px-2"> 매니저 <span th:text="${myStudyList.size()}"></span></a></li>
                                </ul>
                            </nav>
                            <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab-study">
                                <!-- 참여 중 -->
                                <div class="grid md:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-x-2 gap-y-4 mt-3">
                                    <div th:replace="theme-fragments.html :: profile-study-list
                                    (studyType=${enrolledStudyList})"></div>
                                </div>
                                <!-- 매니저 -->
                                <div class="grid md:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-x-2 gap-y-4 mt-3">
                                    <div th:replace="theme-fragments.html :: profile-study-list
                                    (studyType=${myStudyList})"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--게시글-->
                <div class="md:flex md:space-x-6 lg:mx-16">
                    <div class="space-y-5 flex-shrink-0 md:w-7/12">
                        <div class="card lg:mx-0 uk-animation-slide-bottom-small">

                            <!-- post header-->

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div id="create-new-chat" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
                type="button" uk-close>
            <i class="icon-feather-close"></i>
        </button>

        <div class="uk-modal-header">
            <h3 class="text-lg font-semibold"> 쪽지 보내기 </h3>
        </div>
        <form class="needs-validation" id="chat_form" onsubmit="return false">
            <div class="uk-modal-body" uk-overflow-auto>
                <div class="space-y-4 g:w-8/12">
                    <div class="form-group d-none">
                        <div>
                            <input class="form-control bg-gray-100 p-3" type="text" id="c_attender" name="c_attender"
                                   th:value="${byAccount.id}" readonly/>
                        </div>
                    </div>
                    <!-- 본문 -->
                    <div class="form-group">
                        <div>
                            <textarea class="form-control bg-gray-100 p-3"  id="c_content" name="c_content" style="resize: none"
                                      type="text" aria-describedby="contentHelp" required></textarea>
                        </div>
                        <small id="contentHelp" class="form-text text-muted">쪽지</small>
                        <small class="invalid-feedback">글을 입력해주세요.</small>
                    </div>
                </div>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="bg-red-500 font-medium h-9 items-center justify-center px-5 rounded-md text-white py-1 uk-modal-close">취소</button>
                <button class="bg-blue-600 font-medium h-9 items-center justify-center px-5 rounded-md text-white py-1 chat_send uk-modal-close">보내기</button>
            </div>
        </form>


    </div>
</div>
<script>
    $(document).ready(function () {
        var c_textarea = document.getElementById("c_content");
        $(document).on('click', '.chat_send', function () {
            if (c_textarea.value == '') {
                swal("내용을 입력해주세요.");
            }
            if (c_textarea.value != '') {
                console.log("쪽지 보내기");
                $.ajax({
                    url: '/chat/new',
                    type: 'get',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    data: $('#chat_form').serialize(),
                    success: function (sendChat) {
                        console.log("쪽지 성공");
                        $('.form_refresh').load(window.location.href+' .form_refresh');
                        c_textarea.value = '';
                        $("#isUpdatedForm").html('<div id="isUpdated"></div>');
                        $("#isUpdated").replaceWith(sendChat);
                    },
                    error: function (request, status, error) {
                        console.log("쪽지 실패" + error);
                    }
                });
            }
        });
    });
</script>
</body>
</html>


<!-- nesting, row안의 row -->


