
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<style>
    .modify_button{
        text-decoration: none;
        font-size:14px;
        width: 120px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color:#777;
        margin:20px;
        display:inline-block;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: #777;
    }
    body,
    .empty{
        background-color: #BDC8CF;
    }
    .row{
        background-color: white;
    }

    * {
        margin: 0;
        padding: 0;
    }
    ul{
        list-style:none;
    }

    p {
        margin: 0 0 20px;
        line-height: 1.5;
    }

    p span{
      font-size: 14px;
    }
    h1 {
        padding: 50px 0;
        font-weight: 400;
        text-align: center;
    }

    /*커뮤니티 / 스터디 조회 */
    .main {
        padding: 50px 25px 50px 25px;
        margin: 50px 150px 50px 150px;
        background: #ffffff;}

    section {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid #ddd;
    }

    /*라디오버튼 숨김*/
    input {
        display: none;}

    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;}

    label:hover {
        color: #2e9cdf;
        cursor: pointer;
    }

    /*input 클릭시, label 스타일*/
    input:checked + label {
        color: #555;
        border-bottom: 2px solid #2e9cdf;
        border-top: 1px solid #ffffff;
    }


    #community:checked ~ #community_content,
    #study:checked ~ #study_content {
        display: block;
    }

</style>
<body>
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="container">
        <!-- nesting, row안의 row -->
        <div class="row mt-5" style="margin-left: 150px; margin-right: 150px">
            <div class="box col-6">
                <div class="row justify-content-center">
                    <div class="box col-12 rounded p-4">
                        <div class="row justify-content-center p-4">
                            <div class="col-4">
                                <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded border img-thumbnail" th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
                                <img th:if="${!#strings.isEmpty(account.profileImage)}" class="float-left rounded-circle border" th:src="${account.profileImage}" width="125" height="125"/>
                            </div>
                            <div class="col-3" style="float: none; margin: 0 auto; align-items:center; display: flex; font-family: 'Open Sans', sans-serif;">
                                <h3 class="text-muted" style="text-align: center" th:text="${account.nickname}">닉네임</h3>
                            </div>
                            <div th:if="${isOwner}" class="col-4" style="float: none; margin: 0 auto; align-items:center; display: flex;">
                                <a class="modify_button text-muted" href="#" th:href="@{/settings/profile-settings}">프로필 수정</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty col-12 p-3"></div>
                    <div class="box col-12 rounded p-4">
                        <!-- Grid container -->
                        <div class="container p-2">
                            <!--Grid row-->
                            <span style="font-size: 20px;">
                                <i class="fa fa-bookmark"></i>
                            </span>
                            <span style="font-size: 20px; margin-left: 5px">소개</span>

                            <div class="row mt-4">
                                <!--Grid column-->
                                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                    <h6 class="text-uppercase text-muted font-weight-bold" >학번</h6>

                                    <p th:if="${!#strings.isEmpty(account.studentId)}">
                                        <span th:text="${account.studentId}"></span>
                                    </p>
                                    <h6 class="text-uppercase text-muted font-weight-bold">학년</h6>

                                    <p th:if="${!#strings.isEmpty(account.studentId)}">
                                        <span>추가 필요</span>
                                    </p>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                                    <h6 class="text-uppercase text-muted font-weight-bold">전공</h6>

                                    <p th:if="${!#strings.isEmpty(account.occupation)}">
                                        <span th:text="${account.occupation}"></span>
                                    </p>
                                    <p th:if="${#strings.isEmpty(account.occupation)}">
                                        <span>전공을 정하지 않은 회원입나다.</span>
                                    </p>

                                    <h6 class="text-uppercase text-muted font-weight-bold">가입일</h6>

                                    <p th:if="${isOwner || account.emailVerified}">
                                        <span th:if="${isOwner && !account.emailVerified}">
                                            인증이 된 회원이 아닙니다.
                                        </span>
                                        <span th:if="${!isOwner && !account.emailVerified}">
                                            <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">이메일 인증을 해야 모든 기능을 사용 할 수 있습니다..</a>
                                        </span>
                                        <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 d일 가입')}"></span>
                                    </p>
                                </div>
                                <!--Grid column-->
                                <div class="col-lg-6 col-md-6 mb-4 mb-md-0 mt-2">
                                    <h6 class="text-uppercase text-muted font-weight-bold">한 줄 소개</h6>
                                    <p class="lead" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>
                                    <p class="lead" th:if="${#strings.isEmpty(account.bio) && isOwner}">
                                        한 줄 소개를 추가하세요.
                                    </p>
                                    <p class="lead" th:if="${#strings.isEmpty(account.bio) && !isOwner}">
                                        본인 소개를 아직 적지 않은 회원입니다.
                                    </p>
                                </div>
                            </div>
                            <!--Grid row-->
                        </div>
                        <!-- Grid container -->
                    </div>
                </div>
            </div>
            <div class="empty box col-1"></div>
            <div class="box col-5 rounded p-5">
                <div class="h-100">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6 class="mb-0">알림</h6>
                        <a href="">전체 보기</a>
                    </div>
                    <div class="d-flex align-items-center border-bottom py-3 ">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                                <small class="text-muted">15 minutes ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom py-3">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                                <small class="text-muted">15 minutes ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom py-3">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                                <small class="text-muted">15 minutes ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom py-3">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                                <small class="text-muted">15 minutes ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom py-3">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <small>등록된 태그의 스터디가 새로 생겼습니다.</small>
                                <small class="text-muted">15 minutes ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-left mt-2">
                        <small class="text-muted">최대 5개의 알림이 보입니다.</small>
                    </div>

                    <div class="mt-4">
                        <span >알림 스터디 주제</span><br/>
                        <span th:each="tag: ${account.tags}" class="font-weight-light text-monospace badge badge-pill badge-secondary mr-3 mt-3">
                            <i class="text-decoration-none text-white">
                                <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                            </i>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="main">
            <input id="community" type="radio" name="tabs">
            <label for="community">게시글</label>

            <input id="study" type="radio" name="tabs" checked>
            <label for="study">참여중인 스터디</label>

            <section id="community_content">
                <p>tab menu1의 내용</p>
            </section>

            <section id="study_content">
                <div class="container">
                    <div class="row justify-content-center pt-3">
                        <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(studyManager)}">관리중인 스터디가 없습니다.</h5>
                        <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(studyManager)}">관리중인 스터디</h5>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-4" th:each="study: ${studyManager}">
                                    <div class="card mb-4 shadow-sm">
                                        <img th:src="${study.image}" class="card-img-top" th:alt="${study.title}" >
                                        <div class="card-body">
                                            <a th:href="@{'/study/' + ${study.path}}" class="text-decoration-none">
                                                <h5 class="card-title context" th:text="${study.title}"></h5>
                                            </a>
                                            <p class="card-text" th:text="${study.shortDescription}">Short description</p>
                                            <p class="card-text context">
                                                <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                                        <i class="fa fa-tag" style="font-size: 10px"></i>
                                                        <span th:text="${tag.title}" style="font-size: 12px; font-weight: lighter">Tag</span>
                                                    </a>
                                                </span>
                                                    <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                                        <i class="fa fa-globe" style="font-size: 10px"></i>
                                                        <span th:text="${zone.localNameOfCity}" class="text-white" style="font-size: 12px">City</span>
                                                    </a>
                                                </span>
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <small class="text-muted">
                                                    <i class="fa fa-user-circle"></i>
                                                    <span th:text="${study.memberCount}"></span>명
                                                </small>
                                                <small class="text-muted date" th:text="${study.publishedDateTime}">9 mins</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-center pt-3">
                        <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(studyMember)}">참여중인 스터디가 없습니다.</h5>
                        <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(studyMember)}">참여중인 스터디</h5>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-md-4" th:each="study: ${studyMember}">
                                    <div class="card mb-4 shadow-sm">
                                        <img th:src="${study.image}" class="card-img-top" th:alt="${study.title}" >
                                        <div class="card-body">
                                            <a th:href="@{'/study/' + ${study.path}}" class="text-decoration-none">
                                                <h5 class="card-title context" th:text="${study.title}"></h5>
                                            </a>
                                            <p class="card-text" th:text="${study.shortDescription}">Short description</p>
                                            <p class="card-text context">
                                                    <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                                        <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                                            <i class="fa fa-tag" style="font-size: 10px"></i>
                                                            <span th:text="${tag.title}" style="font-size: 12px; font-weight: lighter">Tag</span>
                                                        </a>
                                                    </span>
                                                <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                                        <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                                            <i class="fa fa-globe" style="font-size: 10px"></i>
                                                            <span th:text="${zone.localNameOfCity}" class="text-white" style="font-size: 12px">City</span>
                                                        </a>
                                                    </span>
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <small class="text-muted">
                                                    <i class="fa fa-user-circle"></i>
                                                    <span th:text="${study.memberCount}"></span>명
                                                </small>
                                                <small class="text-muted date" th:text="${study.publishedDateTime}">9 mins</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
    <div th:replace="fragments.html :: footer"></div>
</body>
</html>