<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="theme-fragments.html :: head"></head>

<body>

<div id="wrapper">
    <!-- header-->
    <header th:replace="theme-fragments.html :: header"></header>
    <div sec:authorize="isAuthenticated()" th:replace="theme-fragments.html :: side_bar(currentSideMenu='index')"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: checked-email"></div>
            <div class="lg:flex lg:space-x-10">

                <div class="lg:w-2/3">
                    <div class="md:mb-4 mb-3">
                        <div class="my-1 flex justify-between">
                            <h2 class="text-xl font-semibold"> 최근 공지사항 📝</h2>
                            <a th:href="@{/council/notice}" class="text-blue-500"> 전체 보기 </a>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 divide divide-gray-200 gap-x-4 mt-4">
                        <div class="card px-3 mb-2" th:each="c_notice : ${notice}">
                            <div class="flex items-center space-x-4 py-3 hover:bg-gray-100 rounded-md -mx-2 px-2" >
                                <div class="flex-1">
                                    <a th:href="@{/council/detail/{cid}(cid = ${c_notice.cid})}" class="text-base font-semibold capitalize line-clamp-1" th:text="${c_notice.postTitle}"> 제목 </a>
                                    <div class="text-sm text-gray-500 mt-0.5"><a th:text="${c_notice.pageView}"></a> 조회</div>
                                </div>
                                <a th:href="@{/council/detail/{cid}(cid = ${c_notice.cid})}" class="flex items-center justify-center h-9 px-4 rounded-md bg-gray-200 font-semibold">
                                    확인하기
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- Clips -->
                    <div th:if="${enrollStudy.size + myStudy.size() != 0}">
                        <div class="my-2 flex justify-between pb-3">
                            <h2 class="text-xl font-semibold"> 내가 참여중인 동아리 ✏️</h2>
                            <a href="#" th:href="@{/study}" class="text-blue-500"> 전체 보기 </a>
                        </div>
                        <div class="-mt-3 card px-5 py-2 mb-7">
                            <div th:replace="theme-fragments.html :: studyLists (type = ${enrollStudy})"></div>
                            <div th:replace="theme-fragments.html :: studyLists (type = ${myStudy})"></div>
                        </div>
                    </div>
                    <div class="my-2 flex justify-between pb-3">
                        <h2 class="text-xl font-semibold"> 인기 게시글 🔥 </h2>
                        <a th:href="@{/board/free}" class="text-blue-500"> 전체 보기 </a>
                    </div>
                    <div>
                        <div class="card divide-y divide-gray-100 px-4 mb-4" th:each="board : ${board}">
                            <div class="lg:flex lg:space-x-6 py-3">
                                <div class="flex-1 lg:pt-0 pt-0">
                                    <div class="flex">
                                        <div class="flex-none align-middle pt-2.5 mr-2">
                                            <th:block th:if="${board.boardTitle=='자유'}">
                                                <div class=" bg-blue-100 font-semibold w-11 h-5 px-2.5 py-1 rounded-full text-center text-xs text-blue-500" th:text="${board.boardTitle}"></div>
                                            </th:block>
                                            <th:block th:if="${board.boardTitle=='정보'}">
                                                <div class="bg-purple-100 font-semibold w-11 h-5 px-2.5 py-1 rounded-full text-center text-xs text-purple-500" th:text="${board.boardTitle}"></div>
                                            </th:block>
                                            <th:block th:if="${board.boardTitle=='질문'}">
                                                <div class="bg-yellow-100 font-semibold w-11 h-5 px-2.5 py-1 rounded-full text-center text-xs text-yellow-500" th:text="${board.boardTitle}"></div>
                                            </th:block>
                                        </div>
                                        <a th:href="@{/board/detail/{boardId}(boardId = ${board.bid})}" class="flex-initial text-lg mt-2 font-semibold line-clamp-1" th:text="${board.title}"></a>
                                    </div>

                                    <div class="flex items-center pt-3 align-middle">
                                        <div class="flex items-center">
                                            <ion-icon name="time-outline" class="mr-2"></ion-icon>
                                            <a class="text-xs" th:text="${service.boardDateTime(board.uploadTime)}"></a>
                                        </div>
                                        <div class="flex items-center mx-4 align-middle">
                                            <ion-icon name="heart-outline" class="mr-2"></ion-icon>
                                            <a class="text-xs" th:text="${likeService.boardLikeSize(board)}"></a>
                                        </div>
                                        <div class="flex items-center align-middle">
                                            <ion-icon name="chatbubble-ellipses-outline"  class="mr-2"></ion-icon><a class="text-xs" th:text="${replyService.boardReplySize(board)}"></a>
                                            <th:block th:if="${replyService.boardReplyPresent(board)}">
                                                <div class="-space-x-2 flex items-center ml-1">
                                                    <div th:each="topReply : ${replyService.boardsReplyTop3List(board)}">
                                                        <img th:if="${#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                             th:data-id="${topReply.getAccount().studentId}"
                                                             alt="" class="identicon border-2 border-white rounded-full w-5 h-5 is_avatar" />
                                                        <img th:if="${!#strings.isEmpty(topReply.getAccount()?.profileImage)}"
                                                             th:src="${topReply.getAccount()?.profileImage}"
                                                             alt="" class="border-2 border-white rounded-full w-5 h-5 is_avatar"/>
                                                    </div>
                                                </div>
                                            </th:block>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="lg:w-1/3 w-full lg:mt-0 mt-7">
                    <div uk-sticky="offset:100" class="uk-sticky">
                        <div class="mb-2">
                            <div class="text-xl font-semibold mb-1"> What Happened Today❓</div>
                            <div class="text-gray-400"> 오늘 발생한 이벤트 입니다. </div>
                        </div>
                        <div class="card mb-6">
                            <div class="p-5">
                                <div class="flex-1 relative sm:mt-0 mt-3 mb-3">
                                    <a class="text-lg font-semibold line-clamp-2"> 오늘 올라온 게시물 </a>
                                    <div class="mt-1 text-sm font-medium"><a th:text="${b_today}"></a>개 업로드</div>
                                    <div class="mt-3">
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700"  data-tippy-placement="top">
                                            <div class="bg-blue-600 h-2.5 rounded-full" th:style="|width: ${b_today}%|"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <div class="flex-1 relative sm:mt-0 mt-3 mb-3">
                                    <a class="text-lg font-semibold line-clamp-2"> 오늘 달린 댓글 </a>
                                    <div class="mt-1 text-sm font-medium"><a th:text="${r_today}"></a>개 업로드</div>
                                    <div class="mt-3">
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" data-tippy-placement="top">
                                            <div class="bg-blue-600 h-2.5 rounded-full" th:style="|width: ${r_today}%|"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <div class="flex-1 relative sm:mt-0 mt-3 mb-3">
                                    <a class="text-lg font-semibold line-clamp-2"> 오늘 올라온 동아리 </a>
                                    <div class="mt-1 text-sm font-medium"><a th:text="${s_today}"></a>개 업로드</div>
                                    <div class="mt-3">
                                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700" data-tippy-placement="top">
                                            <div class="bg-blue-600 h-2.5 rounded-full" th:style="|width: ${s_today}%|"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<script>


</script>
</body>
</html>