<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="theme-fragments.html :: head"></head>

<body class="bg-gray-100">


<div id="wrapper" class="flex flex-col justify-between h-screen">
    <!-- header-->
    <header th:replace="theme-fragments.html :: header"></header>
    <div sec:authorize="isAuthenticated()" th:replace="theme-fragments.html :: side_bar"></div>

    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        멀티커뮤니티 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>
</div>
</body>
</html>