<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>
    <div class="main_content">
        <div class="mcontainer">
            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                <div th:replace="theme-fragments.html :: profile-settings-menu(currentMenu='notifications')"></div>

                <div class="lg:w-2/3">

                    <div class="lg:flex lg:flex-col justify-between lg:h-full">
                        <div th:if="${message}" class="alert alert-info alert-dismissible fade show m-5"
                             data-closable role="alert">
                            <span th:text="${message}">메시지</span>
                            <button type="button" class="close-button" aria-label="Close alert" data-dismiss="alert" data-close="">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="lg:px-10 lg:py-6 p-6" style="padding-bottom: 0.5rem" th:fragment="profile-form">
                            <h3 class="font-bold mb-2 text-xl">알림 설정</h3>
                            <p class="">알림을 받을 항목들을 체크해주세요. </p>
                        </div>

                        <form class="lg:py-8 lg:px-20 flex-1 space-y-4 p-6" action="#"
                              th:action="@{/settings/notifications}"
                              th:object="${notificationsForm}"
                              method="post" novalidate>

                            <div>
                                <h4>스터디 알림</h4>
                                <div>새로운 스터디 생성 알림의 방법을 선택해주세요 </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-button" th:field="*{studyCreatedByWeb}"></span>
                                        웹으로 받기
                                    </label>

                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-button" th:field="*{studyCreatedByWeb}"></span>
                                        이메일로 받기
                                    </label>
                                </div>
                            </div>
                            <hr>

                            <div>
                                <h4>스터디 신청 결과</h4>
                                <div>신청한 스터디 알림을 받을 방법을 선택해주세요 </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-button" th:field="*{studyEnrollmentResultByWeb}"></span>
                                        웹으로 받기
                                    </label>

                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-button" th:field="*{studyEnrollmentResultByEmail}"></span>
                                        이메일로 받기
                                    </label>
                                </div>
                            </div>
                            <hr>

                            <div>
                                <h4>참여중인 스터디</h4>
                                <div>참여중인 스터디 알림을 받을 방법을 선택해주세요 </div>
                            </div>
                            <div class="switches-list -mt-8 is-large">
                                <div class="switch-container">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-button" th:field="*{studyUpdatedByWeb}"></span>
                                        웹으로 받기
                                    </label>

                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="switch-button" th:field="*{studyCreatedByWeb}"></span>
                                        이메일로 받기
                                    </label>
                                </div>
                            </div>

                            <button type="submit" aria-describedby="submitHelp" class="button bg-blue-700"> 저장 </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>