<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                <div th:replace="theme-fragments.html :: profile-settings-menu(currentMenu='password')"></div>

                <div class="lg:w-2/3">

                    <div class="lg:flex lg:flex-col justify-between lg:h-full">
                        <div th:if="${message}" class="alert alert-info alert-dismissible fade show m-5"
                             data-closable role="alert">
                            <span th:text="${message}">메시지</span>
                            <button type="button" class="close-button" aria-label="Close alert" data-dismiss="alert" data-close="">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="lg:px-10 lg:py-6 p-6" style="padding-bottom: 0.5rem">
                            <h3 class="font-bold mb-2 text-xl">패스워드 변경</h3>
                            <p class=""> 새로 사용할 패스워드를 입력해주세요. </p>
                        </div>

                        <form class="lg:py-4 lg:px-10 flex-1 space-y-4 p-6"
                              th:action="@{/settings/password}"
                              th:object="${passwordForm}" method="post" novalidate>

                            <div class="col-span-2">
                                <label for="newPassword">새 패스워드</label>
                                <input id="newPassword" type="password" th:field="*{newPassword}" class="shadow-none with-border"
                                       aria-describedby="newPasswordHelp" required min="8" max="50">
                                <small id="newPasswordHelp" class="form-text text-muted">
                                    새 패스워드를 입력하세요.
                                </small>
                                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</small>
                            </div>
                            <div class="col-span-2">
                                <label for="newPasswordConfirm">새 패스워드 확인</label>
                                <input id="newPasswordConfirm" type="password" th:field="*{newPasswordConfirm}" class="shadow-none with-border"
                                       aria-describedby="newPasswordConfirmHelp" required min="8" max="50">
                                <small id="newPasswordConfirmHelp" class="form-text text-muted">
                                    새 패스워드를 다시 한번 입력하세요.
                                </small>
                                <small class="invalid-feedback">새 패스워드를 다시 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">New Password Confirm Error</small>
                            </div>

                            <div class="bg-gray-10 pt-0 flex justify-end space-x-3">
                                <button type="reset" class="p-2 px-4 rounded bg-gray-50 text-red-500"> 취소 </button>
                                <button type="submit" aria-describedby="submitHelp" class="button bg-blue-700"> 수정 </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script th:replace="theme-fragments.html :: form-validation"></script>
</body>
</html>