<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>
    <div id="wrapper">

        <!-- Header -->
        <header th:replace="theme-fragments.html :: header"></header>

        <!-- sidebar -->
        <div th:replace="theme-fragments.html :: side_bar"></div>
        <div class="main_content">
            <div class="mcontainer">
                <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                    <div th:replace="theme-fragments.html :: profile-settings-menu(currentMenu='profile')"></div>

                    <div class="lg:w-2/3">

                        <div class="lg:flex lg:flex-col justify-between lg:h-full">
                            <div th:if="${message}" class="m-5">
                                <div th:replace="theme-fragments.html :: blue-notice(message=${message})"></div>
                            </div>
                            <div class="lg:px-10 lg:py-6 p-6" style="padding-bottom: 0.5rem">
                                <h3 class="font-bold mb-2 text-xl">프로필</h3>
                                <p class=""> 간단하게 본인을 소개해주세요. </p>
                            </div>

                            <form class="lg:py-2 lg:px-10 flex-1 space-y-4 p-6"
                                  th:action="@{/settings/profile-settings}"
                                  th:object="${profileForm}" method="post" novalidate>
                                <div class="col-span-2">
                                    <label for="grade" class="font-bold">학년 </label>
                                    <select th:field="*{grade}"
                                            id="grade" name="grade" aria-describedby="gradeHelp"
                                            class="shadow-none with-border px-2 mb-2 selectpicker">
                                        <option data-icon="icon-material-outline-assignment"
                                                th:selected="${account.grade} == '미선택'"
                                                th:value="미선택">미선택
                                        </option>
                                        <option data-icon="icon-material-outline-assignment"
                                                th:selected="${account.grade} == '1학년'"
                                                th:value="1학년">1학년
                                        </option>
                                        <option data-icon="icon-material-outline-assignment"
                                                th:selected="${account.grade} == '2학년'"
                                                th:value="2학년">2학년
                                        </option>
                                        <option data-icon="icon-material-outline-assignment"
                                                th:selected="${account.grade} == '3학년'"
                                                th:value="3학년">3학년
                                        </option>
                                        <option data-icon="icon-material-outline-assignment"
                                                th:selected="${account.grade} == '4학년'"
                                                th:value="4학년">4학년
                                        </option>
                                    </select>
                                    <small id="gradeHelp" class="form-text text-muted">
                                        본인의 학년을 선택해주세요.
                                    </small>
                                </div>

                                <div class="col-span-2">
                                    <label for="bio" class="font-bold">한 줄 소개</label>
                                    <textarea id="bio" type="text" th:field="*{bio}" class="shadow-none with-border text-muted p-5"
                                           placeholder="간략한 소개를 부탁합니다." aria-describedby="bioHelp" required>
                                    </textarea>
                                    <small id="bioHelp" class="form-text text-muted">
                                        길지 않게 35자 이내로 입력하세요.
                                    </small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
                                        조금 길어요.
                                    </small>
                                </div>

                                <div class="col-span-2">
                                    <label for="url" class="font-bold">링크</label>
                                    <input id="url" type="url" th:field="*{url}" class="shadow-none with-border p-5"
                                           placeholder="http://ezhoon.com" aria-describedby="urlHelp" required>
                                    <small id="urlHelp" class="form-text text-muted">
                                        본인의 GitHub나 블로그 주소를 올려주세요
                                    </small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">
                                        옳바른 URL이 아닙니다. 예시처럼 입력해 주세요.
                                    </small>
                                </div>

                                <div class="col-span-2">
                                    <label for="company" class="font-bold">직업</label>
                                    <input id="company" type="text" th:field="*{occupation}" class="shadow-none with-border"
                                           placeholder="어떤 일을 하고 계신가요?" aria-describedby="occupationHelp" required>
                                    <small id="occupationHelp" class="form-text text-muted">
                                        현재 학생인지 아니면 따로 하고 있는 일이 있으시면 적어주세요.
                                    </small>
                                </div>

                                <div class="col-span-2">
                                    <label for="location" class="font-bold">활동 지역</label>
                                    <input id="location" type="text" th:field="*{location}" class="shadow-none with-border"
                                           placeholder="서울, 천안"
                                           aria-describedby="locationdHelp" required>
                                    <small id="locationdHelp" class="form-text text-muted">
                                        스터디를 주로 원하는 지역을 적어주세요.
                                    </small>
                                </div>

                                <div class="col-span-2">
                                    <label for="major" class="font-bold">전공</label>
                                    <input id="major" type="text" th:field="*{major}" class="shadow-none with-border"
                                           placeholder="프론트엔드, 백엔드, 영상, 2D, 3D"
                                           aria-describedby="majorHelp" required>
                                    <small id="majorHelp" class="form-text text-muted">
                                        본인이 공부하고 있는 전공이나 지향하는 전공을 적어주세요.
                                    </small>
                                </div>

                                <div class="bg-gray-10 pt-0 flex justify-end space-x-3">
                                    <button type="reset" class="p-2 px-4 rounded bg-red-600 text-white"> 취소 </button>
                                    <button type="submit" aria-describedby="submitHelp" class="button bg-blue-600"> 저장 </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
    <script type="application/javascript">
        $(function() {
            cropper = '';
            let $confirmBtn = $("#confirm-button");
            let $resetBtn = $("#reset-button");
            let $cutBtn = $("#cut-button");
            let $newProfileImage = $("#new-profile-image");
            let $currentProfileImage = $("#current-profile-image");
            let $resultImage = $("#cropped-new-profile-image");
            let $profileImage = $("#profileImage");

            $newProfileImage.hide();
            $cutBtn.hide();
            $resetBtn.hide();
            $confirmBtn.hide();

            $("#profile-image-file").change(function(e) {
                if (e.target.files.length === 1) {
                    const reader = new FileReader();
                    reader.onload = e => {
                        if (e.target.result) {
                            let img = document.createElement("img");
                            img.id = 'new-profile';
                            img.src = e.target.result;
                            img.width = 250;

                            $newProfileImage.html(img);
                            $newProfileImage.show();
                            $currentProfileImage.hide();

                            let $newImage = $(img);
                            $newImage.cropper({aspectRatio: 1});
                            cropper = $newImage.data('cropper');

                            $cutBtn.show();
                            $confirmBtn.hide();
                            $resetBtn.show();
                        }
                    };

                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            $resetBtn.click(function() {
                $currentProfileImage.show();
                $newProfileImage.hide();
                $resultImage.hide();
                $resetBtn.hide();
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val('');
            });

            $cutBtn.click(function () {
                let dataUrl = cropper.getCroppedCanvas().toDataURL();
                let newImage = document.createElement("img");
                newImage.id = "cropped-new-profile-image";
                newImage.src = dataUrl;
                newImage.width = 125;
                $resultImage.html(newImage);
                $resultImage.show();
                $confirmBtn.show();

                $confirmBtn.click(function () {
                    $newProfileImage.html(newImage);
                    $cutBtn.hide();
                    $confirmBtn.hide();
                    $profileImage.val(dataUrl);
                });
            });
        });
    </script>
</body>
</html>

