<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>
<style>
    .tagify-outside{
        border: 0;
        padding: 0;
        margin: 0;
    }
    .tagify__input {
        outline: none;
        font-size: 15px;
        color: #808080;
        width: 30%;
        background-color: #fff;
        font-weight: 400;
        opacity: 1;
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        padding: 5px;
    }
</style>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>
    <div class="main_content">
        <div class="mcontainer">
            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                <div th:replace="theme-fragments.html :: profile-settings-menu(currentMenu='tag')"></div>

                <div class="lg:w-2/3">
                    <div class="lg:px-10 lg:py-6 p-6" style="padding-bottom: 0.5rem">
                        <h3 class="font-bold mb-2 text-xl">태그</h3>
                        <p class=""> 본인이 관심있거나 공부하고 있는 주제를 입력해주세요. </p>
                        <div class="" id="tagList" th:text="${tagList}" hidden></div>
                        <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
                               placeholder="태그를 입력해주세요"
                               class="tagify-outside" aria-describedby="tagHelp" style="background-color: black"/>
                    </div>

                    <div class="alert alert-info alert-dismissible fade show m-5" data-closable role="alert">
                        <span>태그로 등록된 게시물이 생기면 알람을 드립니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script type="application/javascript" th:inline="javascript">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>
<script type="application/javascript">
    $(function () {
        function tagRequest(url, tagTitle) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/settings/tags" + url,
                data: JSON.stringify({'tagTitle': tagTitle})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }

        var tagInput = document.querySelector("#tags");

        var tagify = new Tagify(tagInput, {
            pattern: /^.{0,20}$/,
            tagList: JSON.parse(document.querySelector("#tagList").textContent),
            dropdown : {
                enabled: 1, // suggest tags after a single character input
            } // map tags
        });

        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);

        // add a class to Tagify's input element
        tagify.DOM.input.classList.add('form-control');
        // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>
</body>
</html>