<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='graduation')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <form class="needs-validation col-sm-10"
              name="graduationForm" id="graduationForm"
              onsubmit="return false"
              novalidate enctype="multipart/form-data">

            <div class="mcontainer">
                <div class="breadcrumb-area py-0">
                    <div class="breadcrumb">
                        <ul class="m-0">
                            <li>
                                <a th:href="@{/graduation}">졸업작품</a>
                            </li>
                            <li>
                                <a style="font-weight: bold" href="#">졸업작품 추가 </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr>
                <div class="grid lg:grid-cols-4 sm:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 class="text-xl mb-2 font-semibold"> 졸업작품 소개</h3>
                        <p>졸업작품 소개를 작성해주세요.</p>
                    </div>

                    <div class="bg-white rounded-md lg:shadow-md shadow lg:col-span-3 sm:col-span-2 lg:mx-16">
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div class="col-span-2">
                                <label for="title" class="font-bold"> 졸업작품 프로젝트명</label>
                                <input id="title" type="text" name="title"
                                       class="shadow-none with-border form-control"
                                       placeholder="예) unect" aria-describedby="titleHelp"
                                       required max="20">
                                <small id="titleHelp" class="form-text text-muted">
                                    20자 이내로 졸업작품 프로젝트명을 적어주세요.
                                </small>
                                <small class="invalid-feedback">팀 프로젝트명을 다시 확인해주세요.</small>
                            </div>

                            <div class="col-span-2">
                                <label for="teamName" class="font-bold"> 팀 이름</label>
                                <input id="teamName" type="text" name="teamName"
                                       class="shadow-none with-border form-control"
                                       placeholder="예) 봄" aria-describedby="teamNameHelp"
                                       required max="20">
                                <small id="teamNameHelp" class="form-text text-muted">
                                    20자 이내로 졸업작품팀 이름을 작성해주세요.
                                </small>
                                <small class="invalid-feedback">팀 이름을 다시 작성해주세요. </small>
                            </div>

                            <div class="col-span-2">
                                <label for="teamMember" class="font-bold"> 팀 멤버</label>
                                <div class="keywords-container">
                                    <div class="keyword-input-container shadow-none">
                                        <input id="teamMember" name="teamMember" type="text" class="keyword-input with-border"
                                               placeholder="본인 포함 프로젝트 팀 인원을 추가해주세요." aria-describedby="teamMemberHelp"
                                               maxlength="5"/>
                                        <button type="button" class="keyword-input-button ripple-effect">
                                            <i class="icon-feather-plus"></i></button>
                                    </div>
                                    <div class="keywords-list">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <small class="invalid-feedback">팀 멤버를 다시 확인해주세요. </small>
                            </div>

                            <div class="col-span-2">
                                <label for="path" class="font-bold"> 졸업작품 링크(주소)</label>
                                <input id="path" type="text" name="path"
                                       class="shadow-none with-border form-control"
                                       placeholder="프로젝트 접근 주소(링크)를 작성해주세요." aria-describedby="pathHelp"
                                       required max="100">
                                <small id="pathHelp" class="form-text text-muted">
                                    졸업작품 링크나 주소를 적어주세요
                                </small>
                                <small class="invalid-feedback">주소를 다시 작성해주세요. </small>
                            </div>

                            <div>
                                <label for="graduationType" class="font-bold"> 졸업작품 전시 종류</label>

                                <select id="graduationType" name="graduationType"
                                        class="selectpicker form-control"
                                        aria-describedby="graduationTypeHelp" required>
                                    <option class="" value="WEB" selected>웹</option>
                                    <option class="" value="MOBILE">모바일</option>
                                    <option class="" value="VIDEO">영상</option>
                                    <option class="" value="VR_AR">VR/AR</option>
                                </select>
                                <small id="studyMethodHelp" class="form-text text-muted">
                                    웹 / 모바일 / 영상 / VR/AR 중에 선택해주세요.
                                </small>
                                <small class="invalid-feedback">졸업작품 종목을 다시 선택해주세요.</small>
                            </div>
                            <div>
                                <label for="graduationDate" class="font-bold">졸업작품 연도</label>
                                <select id="graduationDate" name="graduationDate"
                                        class="selectpicker form-control"
                                        aria-describedby="graduationDateHelp" required>
                                    <option th:each="date : ${#numbers.sequence(10, 30)}" th:value="${date}" th:text="'20'+${date}+'년'"></option>
                                </select>
                                <small id="graduationDateHelp" class="form-text text-muted">
                                    졸업작품을 전시한 연도를 선택해주세요.
                                </small>
                                <small class="invalid-feedback"> 연도를 다시 확인해주세요..</small>
                            </div>

                            <div class="col-span-2">
                                <label for="description" class="font-bold"> 프로젝트 설명</label>
                                <textarea id="description" type="textarea" name="description"
                                          class="shadow-none with-border p-3 form-control"
                                          placeholder="졸업작품을 자세히 설명해 주세요." aria-describedby="fullDescriptionHelp"
                                          required>
                                </textarea>

                                <small id="descriptionHelp" class="form-text text-muted"></small>
                                <small class="invalid-feedback">설명을 다시 작성해주세요. </small>
                            </div>

                            <div class="col-span-2">
                                <div uk-form-custom class="w-full py-3">
                                    <div class="bg-gray-100 border-2 border-dashed flex flex-col h-32 items-center justify-center relative w-full rounded-lg dark:bg-gray-800 dark:border-gray-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                            <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                            <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                        </svg>
                                    </div>
                                    <input id="input_file" multiple="multiple" type="file" accept="image/png, image/jpeg">
                                </div>

                                <span class="text-gray-500 text-xs">※첨부파일은 최대 5개까지 등록이 가능합니다.</span>
                            </div>

                            <div class="col-span-2">
                                <br />
                                <div class="grid sm:grid-cols-3 grid-cols-2" id="articlefileChange">
                                </div>
                            </div>

                        </div>
                        <div class="bg-gray-10 p-3 flex justify-end space-x-1">
                            <button type="reset" class="p-2 px-4 rounded bg-red-600 text-white"> 취소 </button>
                            <button type="submit" onclick="registerAction()" class="button bg-blue-600" > 저장 </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>



<footer th:replace="theme-fragments.html :: summernote-ko-kr"></footer>
<script th:replace="theme-fragments.html :: form-validation"></script>
<script th:replace="theme-fragments.html :: graduation-note-tag"></script>
<script th:replace="theme-fragments.html :: s3-imge-upload(uploadUrl='/graduation-new')"></script>
</body>
</html>