<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='market')"></div>

    <div class="main_content">
        <form class="needs-validation col-sm-10"
              name="marketForm" id="marketForm"
              onsubmit="return false"
              novalidate enctype="multipart/form-data">
            <div class="mcontainer">
                <div th:replace="theme-fragments.html :: checked-email"></div>

                <!--  breadcrumb -->
                <div class="breadcrumb-area py-0">
                    <div class="breadcrumb">
                        <ul class="m-0">
                            <li>
                                <a th:href="@{/market/sell}">장터</a>
                            </li>
                            <li>
                                <a style="font-weight: bold" href="#">장터 등록 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="grid lg:grid-cols-4 sm:grid-cols-3 mt-12 gap-8">
                    <div>
                        <h3 class="text-xl mb-2 font-semibold"> 상품 소개</h3>
                        <p>상품의 <b>카테고리</b>, <b>이름</b>, <b>설명</b>, <b>가격</b>, <b>설명</b>를 설정해주세요.</p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-md shadow lg:col-span-3 sm:col-span-2 lg:mx-16">
                        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div class="col-span-2">
                                <label for="marketType"> 카테고리 </label>
                                <select id="marketType" aria-describedby="marketTypeHelp" class="selectpicker with-border">
                                    <option selected value="sell"> 판매 </option>
                                    <option value="buy"> 구매 </option>
                                    <option value="share"> 나눔 </option>
                                </select>
                                <small id="marketTypeHelp" class="form-text text-muted">
                                    어떤 방식의 상품을 등록할지 선택해주세요.
                                </small>
                                <small class="invalid-feedback">다시 선택해주세요.</small>
                            </div>
                            <div class="col-span-2">
                                <label for="itemName"> 품명  </label>
                                <input id="itemName" type="text"
                                       class="with-border" placeholder="등록할 물건의 품명을 적어주세요."
                                       aria-describedby="itemNameHelp" required max="50">
                                <small id="itemNameHelp" class="form-text text-muted">
                                    50자 이내로 적어주세요.
                                </small>
                                <small class="invalid-feedback">물건의 품명을 다시 확인해주세요.</small>
                            </div>
                            <div class="col-span-2">
                                <label for="description"> 설명  </label>
                                <textarea id="description" name="description" rows="2" class="with-border w-full p-4"
                                          placeholder="상품의 설명을 상세히 적어주세요."
                                          aria-describedby="itemDetailHelp" required max="250"></textarea>

                                <small id="itemDetailHelp" class="form-text text-muted">
                                    상품의 설명은 250자 이내로 작성 가능합니다.
                                </small>
                                <small class="invalid-feedback">상품 설명을 다시 확인해주세요.</small>
                            </div>

                            <div>
                                <label for="price"> 가격 </label>
                                <input id="price" placeholder="0" type="text" value="" class="with-border w-full"
                                       aria-describedby="priceHelp" maxlength="10">
                                <small class="invalid-feedback">상품 설명을 다시 확인해주세요.</small>
                            </div>

                            <div>
                                <label for="itemStatus"> 상품 상태 </label>
                                <select id="itemStatus" name="" class="selectpicker with-border"
                                        aria-describedby="itemStatusHelp">
                                    <option value="새것" selected> 새 것 </option>
                                    <option value="사용감있음" > 사용감 있음 </option>
                                    <option value="사용감없음" > 사용감 없음 </option>
                                </select>
                                <small class="invalid-feedback">상품 설명을 다시 확인해주세요.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid lg:grid-cols-4 sm:grid-cols-3 mt-12 gap-8">

                    <div>
                        <h3 class="text-xl mb-2 font-semibold"> 이미지 업로드</h3>
                        <p> 이미지를 설정해주세요.</p>
                    </div>
                    <div class="bg-white rounded-md lg:shadow-md shadow lg:col-span-3 sm:col-span-2 lg:mx-16">
                        <div class="col-span-2">
                            <div uk-form-custom class="w-full py-3">
                                <div class="bg-gray-100 border-2 border-dashed flex flex-col h-32 items-center justify-center relative w-full rounded-lg dark:bg-gray-800 dark:border-gray-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                        <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                        <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                    </svg>
                                </div>
                                <input id="input_file" multiple="multiple" type="file" accept="image/png, image/jpeg">
                            </div>

                            <div class="col-span-2">
                                <br />
                                <div class="grid sm:grid-cols-3 grid-cols-2" id="articlefileChange">
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-10 p-3 flex justify-end space-x-1">
                            <button type="reset" class="p-2 px-4 rounded bg-red-600 text-white"> 취소 </button>
                            <button onclick="registerAction()" type="submit" class="button bg-blue-600"> 등록 </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<footer th:replace="theme-fragments.html :: summernote-ko-kr"></footer>
<script th:replace="theme-fragments.html :: form-validation"></script>
<script th:replace="theme-fragments.html :: s3-market-imge-upload(uploadUrl='/market/register')"></script>
    <script type="application/javascript">
        const input = document.querySelector('#price');      //[1]
        input.addEventListener('keyup', function(e) {
            let value = e.target.value;
            value = Number(value.replaceAll(',', ''));
            if(isNaN(value)) {         //NaN인지 판별
                input.value = 0;
            }else {                   //NaN이 아닌 경우
                input.value = value.toLocaleString('ko-KR');
            }
        })

        $(document).ready(function() {
            //여기 아래 부분
            $('#description').summernote({
                toolbar: [
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                ],
                height: 300,                 // 에디터 높이
                minHeight: null,             // 최소 높이
                maxHeight: null,             // 최대 높이
                lang: "ko-KR",					// 한글 설정
                placeholder: '더 자세한 내용을 적어주세요. <br> 꼼꼼히 작성하면 물건을 더 빠르게 판매 할 수 있을거에요.  <br/> [판매/구매 내용 예시] <br/> 거래지역 : <br/> 물건 상태 : ' //placeholder 설정

            });
        });
    </script>
</body>
</html>



