<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="theme-fragments.html :: head"></head>
<body>

<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar(currentSideMenu='market')"></div>

    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: checked-email"></div>
            <div class="my-5" th:if="${message}">
                <div th:replace="theme-fragments.html :: blue-notice(message = ${message})"></div>
            </div>

            <div class="lg:flex justify-center lg:space-x-10">
                <p th:if="${searchMarketResult.getTotalElements() == 0}">
                    <strong class="text-2xl font-semibold"
                            th:text="${keyword}"></strong> 에 해당하는 물건이 없습니다.
                </p>

                <p th:if="${searchMarketResult.getTotalElements() > 0}">
                    <strong class="text-2xl font-semibold"
                            th:text="${keyword}"></strong> 에 해당하는 물건이
                    <strong class="text-xl font-semibold"
                            th:text="${searchMarketResult.getTotalElements()}"></strong> 개 있습니다.
                </p>

            </div>

            <div class="divide-y divide-gray-100 sm:m-0 -mx-4">
                <div th:each="marketType : ${searchMarketResult.getContent()}"
                     class="flex items-start card flex-wrap p-2 my-5 sm:space-x-6">
                    <a th:href="@{'/market/detail/'+${marketType.marketId}}" class="w-40 h-40 relative mt-1 order-1">
                        <img th:if="${marketType.getFilePath() != null}" th:src="${marketType.getFilePath()}" alt="" class="rounded-md" style="width: 160px; height: 160px;">
                    </a>
                    <div class="flex-1 sm:order-2">
                        <h4 class="text-base text-gray-500 font-medium mb-2" th:text="${marketType.marketType}">Phaseout </h4>
                        <a th:href="@{'/market/detail/'+${marketType.marketId}}">
                            <h3 class="text-xl font-medium mb-4" th:text="${marketType.itemName}"> Technical Event Support Specialist </h3>
                        </a>
                        <div class="line-clamp-3" id="more-text" th:utext="${marketType.itemDetail}">
                        </div>
                        <a th:href="@{'/market/detail/'+${marketType.marketId}}"> 자세히 보기 </a>
                    </div>
                </div>

                <div th:if="${searchMarketResult.totalPages != 0}">
                    <!--
                    * 최대 페이지를 5단위로 끊은 상태임 예) 1 ~ 5 / 6 ~ 10 / 11 ~ 15 ...
                    * start = 1, 6, 11을 구분하기 위한 로직 / Page의 index가 0으로 시작하기 때문에 +1을 해줌
                    * end = 1일 때 5가 마지막, 6일 때 10이 마지막, 가장 마지막의 첫 페이지면 가장 마지막을 지정해주는 로직
                    -->

                    <nav aria-label="Page navigation "
                         th:with="start=${(searchMarketResult.number/5)*5},
                                    end=(${(searchMarketResult.totalPages == 0) ? 1 :
                                    (start + 4 < searchMarketResult.totalPages ? start + 4 : searchMarketResult.totalPages)})">
                        <ul class="space-x-2 justify-center flex mt-5">

                            <!--
                            * < 꺽새 그려줌
                            -->
                            <li th:if="${start > 1}">
                                <a th:href="@{'/market/search/detail?keyword=' + ${keyword} + '&sort=uploadTime,desc&page=' + ${searchMarketResult.getNumber()-3}}">
                                    <button class="font-bold flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100">
                                        <svg class="w-4 h-4 fill-current " viewBox="0 0 20 20">
                                            <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </a>
                            </li>
                            <!--
                            * 페이지를 뿌려주는 부분
                            -->
                            <li th:each="page : ${#numbers.sequence(start, end)}">
                                <a th:href="@{'/market/search/detail?keyword=' + ${keyword} + '&sort=uploadTime,desc&page=' + ${page}}">
                                    <button th:classappend="${page == pageNo} ? 'text-white bg-indigo-600' : 'text-indigo-600'"
                                            class="w-10 h-10 font-bold transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-indigo-100"
                                            th:text="${page}">
                                    </button>

                                </a>
                            </li>
                            <!--
                            * > 꺽새 그려줌
                            -->
                            <li th:if="${end < marketType.totalPages}">
                                <a th:href="@{'/market/search/detail?keyword=' + ${keyword} + '&sort=uploadTime,desc&page=' + ${searchMarketResult.getNumber() + 4}}">
                                    <button class="font-bold flex items-center justify-center w-10 h-10 text-indigo-600 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-indigo-100">
                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                            <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </a>
                            </li>
                        </ul>


                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
