<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="theme-fragments.html :: head"></head>

<body>
<div id="wrapper">

    <!-- Header -->
    <header th:replace="theme-fragments.html :: header"></header>

    <!-- sidebar -->
    <div th:replace="theme-fragments.html :: side_bar"></div>

    <div class="main_content">
        <div class="mcontainer">
            <div th:replace="theme-fragments.html :: study-menu (currentStudyMenu = 'settings')"></div>
            <div class="bg-white lg:divide-x lg:flex lg:shadow-md rounded-md shadow lg:rounded-xl overflow-hidden lg:m-0 -mx-4">
                <div th:replace="theme-fragments.html :: study-settings-menu(currentMenu='alarm')"></div>
                <div class="lg:w-2/3">
                    <div th:if="${message}" class="m-5">
                        <div th:replace="theme-fragments.html :: blue-notice(message=${message})"></div>
                    </div>
                    <form class="needs-validation lg:py-4 lg:px-10 flex-1 space-y-4 p-6"
                          th:action="@{'/study/' + ${study.getPath()} + '/settings/calendar'}"
                          method="post" novalidate>
                        <h3 class="text-xl mb-2 font-semibold"> 스터디 알람</h3>
                        <p> 관심분야가 동일한 회원들에게 알림을 보낼 수 있습니다.</p>
                        <hr/>

                        <button type="submit" aria-describedby="submitHelp" class="button bg-blue-700"> 알림 전송 </button>
                        <div class="alert alert-danger" role="alert">
                            하루에 한 번씩만 홍보 알림을 보낼 수 있습니다. <br/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="theme-fragments.html :: studyBanner"></script>>
</body>

</html>
